---
layout: page
title: Page not Found
image: '/assets/icons/logos.webp'
description: "sorry, this page is not found"
---
<style>h1 {display:none!important;border:0!important;} .is404 {margin:150px 0;text-align:center;}
.is404 h2 {color:#ff0000;font-size:170px;} .p404 p{color:#000;font-size:20px;text-align:center;margin-bottom:50px;}
</style>
<div class="is404"><h2>404</h2></div>
<div class='p404'><p>sorry, this link is not found on this website, 
	<br/>Go back <a href='{{site.url}}/' title='{{site.title}}'><b><span class='fa fa-home'></span> Home</b></a> </p></div>


