---
layout: main
class: index
image: /assets/main/oiin.png
#redirect_from: https://oiin.gitlab.io/abzinid/
#published: false
pagination:
  enabled: true
---
<div class='clearfix'></div>
<div class='blog-posts container index-post-wrap'>
	{% comment %}
	
	 if site.posts.size > 0 
	 assign sorted-posts = paginator.posts 
	 for post in sorted-posts 

	{% endcomment %}

{% assign android_posts = paginator.posts | sort: "last_modified_at" | reverse %}
{% for post in android_posts %}
<div class='blog-post index-post'>{% if post.image %}
<div class='post-image-wrap'>
<a class='post-image-link' href='{{ post.url | absolute_url }}'><img alt='{{ post.title }}' class='post-thumb lazy' src="{{site.url}}/icons/load.svg" data-sizes='auto' data-src='{{ post.image | absolute_url }}'/></a>
{% if post.tags.size >= 1 %}
{% for tag in post.tags limit: 1 %}
<span class='post-tag index-post-tag'>{{ tag }}</span>{% endfor %}{% endif %}
</div>{% endif %}
<div class='post-info'>
<h2 class='post-title'><a href='{{ post.url | absolute_url }}'>{{ post.title }}</a></h2>
<div class='post-meta'>
<span class='post-author'>By: <a href='' title='author'>oiin apps</a></span>
<span class='post-date published' datetime='{{ post.last_modified_at | date_to_xmlschema }}'>{{ post.last_modified_at | date: "%b %-d, %Y" }}</span>
	</div>
<p class='post-snippet'>
{% if post.description.size > 20 %}{{ post.description | truncate: 120 }}{% else %}{{ post.content | strip_html | truncate: 120 }} {% endif %}</p>
</div>
</div>{% endfor %}
</div><!--- paginate  -->{%comment %}
<div class="pagination">{% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | absolute_url }}" class="previous">&laquo;&laquo; prev</a>{% else %}
	<span class="previous">&laquo;&laquo; prev</span>{% endif %}
<span class="page_number ">{{ paginator.page }} &laquo; of &raquo; {{ paginator.total_pages }}</span>{% if paginator.next_page %}<a href="{{ paginator.next_page_path | absolute_url }}" class="next">next &raquo;&raquo;</a>{% else %}
<span class="next ">next &raquo;&raquo;</span>{% endif %}</div>{% endcomment %}

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">{% if paginator.previous_page %}
<a href="{{ paginator.previous_page_path | absolute_url }}">&laquo;&laquo; prev</a>{% else %}
<span>&laquo;&laquo; prev</span>{% endif %}{% for page in (1..paginator.total_pages) %}{% if page == paginator.page %}<span class="webj">{{ page }}</span>{% elsif page == 1 %}
<a href="{{site.url}}/">{{ page }}</a>{% else %}
<a href="{{ site.url }}{{ site.paginate_path | relative_url | replace: ':num', page | remove: 'page' }}/">{{ page }}</a>{% endif %}{% endfor %}{% if paginator.next_page %}
<a href="{{ paginator.next_page_path | absolute_url }}">next &raquo;&raquo;</a>{% else %}<span>next &raquo;&raquo;</span>{% endif %}
</div>{% endif %}