---
layout: home
class: index
image: /assets/img/ab.png
#redirect_from: https://oiin.gitlab.io/abzinid/
pagination:
  enabled: true
---
<div class='blog-posts container index-post-wrap'>
<div class='grid-posts'>
{% assign maladev_posts = paginator.posts | sort: "last_modified_at" | reverse %}
{% for post in maladev_posts %}
<div class='blog-post index-post'>{% if post.image %}<div class='post-image-wrap'>
<a class='post-image-link' href='{{ post.url | absolute_url }}'><img alt="{{ post.title }}" class="post-thumb lazy" data-sizes="auto" src="{{site.url}}/icons/abzi-gif.gif" data-src="{{ post.image | absolute_url }}"/></a>{% if post.tags.size >= 1 %}{% for tag in post.tags limit: 1 %}
<span class='post-tag featured-post-tag'>{{ tag }}</span>{% endfor %}{% endif %}
</div>{% endif %}
<div class='post-info'><h2 class='post-title'><a class='entry-title-link' href='{{ post.url | absolute_url }}'>{{ post.title }}</a></h2>
<div class='post-meta'><span class="post-author">By: Abzinid</span> - <span itemscope itemtype="http://schema.org/dateModified"><time itemprop="updated" datetime="{{ post.last_modified_at | date_to_xmlschema }}"><span class='jtag'>{{ post.last_modified_at | date: "%b %-d, %Y" }}</span></time></span>
</div><p class='post-snippet'>{% if post.description.size > 20 %}{{ post.description | truncate: 120 }}{% else %}{{ post.content | strip_html | truncate: 120 }}{% endif %}</p></div>
</div>{% endfor %}
</div>
</div>

<!-- data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7 -->

{% if paginator.total_pages > 1 %}
<div class="pagination">{% if paginator.previous_page %}
<a href="{{ site.url }}{{ paginator.previous_page_path }}">&laquo;&laquo; prev</a>{% else %}
<span>&laquo;&laquo; prev</span>{% endif %}{% for page in (1..paginator.total_pages) %}{% if page == paginator.page %}<span class="webj">{{ page }}</span>{% elsif page == 1 %}
<a href="{{site.url}}">{{ page }}</a>{% else %}
<a href="{{ site.url }}{{ site.paginate_path | relative_url | replace: ':num', page | remove: 'page' }}/">{{ page }}</a>{% endif %}{% endfor %}{% if paginator.next_page %}
<a href="{{ site.url }}{{ paginator.next_page_path }}">next &raquo;&raquo;</a>{% else %}<span>next &raquo;&raquo;</span>{% endif %}
</div>{% endif %}