{% if page.url == "/2020/03/disorder.html" %}
<a href="http://s7.rexdl.com/android/game/Disorder-v1.3-www.ReXdl.com.apk" title="disorder v1.13" rel="nofollow"><button type="button"><i class="fa fa-download"></i> Download Disorder.1.3.apk</button></a>
{% elsif page.url == "/2019/12/latest-android-game-tactical-monsters.html" %}
<!--<a href="https://www.mediafire.com/file/ivpda0mueqvdvmk/Tactical-Monsters-Rumble-Arena-v1.16.6.apk" rel="nofollow"><button><i class="fa fa-download"></i> Tactical Monsters Rumble Arena v1.16.6.apk</button></a><br/>
<a href="https://www.mediafire.com/file/ivpda0mueqvdvmk/Tactical-Monsters-Rumble-Arena-v1.16.6-MOD.apk" rel="nofollow"><button><i class="fa fa-download"></i> Tactical Monsters Rumble Arena v1.16.6 MOD.apk</button></a>-->
<button><i class="fa fa-download"></i> Tactical Monsters Rumble Arena v1.16.6.apk</button><br/>
<button><i class="fa fa-download"></i> Tactical Monsters Rumble Arena v1.16.6 MOD.apk</button>
{% elsif page.url == "/2019/11/android-oinline-game-crime-city.html" %}
<!--<a href="https://www.mediafire.com/file/ynedjgnc2lrkb9r/crime-city.v8.6.9.apk" rel="nofollow"><button><i class="fa fa-download"></i>Latest Crime City v8.6.9 apk</button></a>-->
<button><i class="fa fa-download"></i>Latest Crime City v8.6.9 apk</button>
{% elsif page.url == "/2018/05/lucky-patcher.html" %}
<br/>
<!--<a href="https://www.mediafire.com/file/l0mbjzcgaxjfach/Lucky-patcher-8.7.1-installer.apk" rel="nofollow"><button><i class="fa fa-download"></i> Latest lucky patcher v8.7.1 apk</button></a>-->
<button><i class="fa fa-download"></i> Latest lucky patcher v8.7.1 apk</button>
{% elsif page.url == "/2019/09/full-onkyo-hf-player-all-features-unlocked.html" %}
<br/>
<!--<a href="https://www.mediafire.com/file/9teqpdkozqog1ld/onkyo-hf-player-full-v2.7.0.apk" rel="nofollow"><button><i class="fa fa-download"></i> Onkyo HF Player v2.7.0 unlocked</button></a><br/>-->
<button><i class="fa fa-download"></i> Onkyo HF Player v2.7.0 unlocked</button><br/>
<!--<a href="https://www.up-4ever.org/y3y6kukhryc0" rel="nofollow"><button><i class="fa fa-download"></i> Onkyo HF Player v2.0.2 unlocked</button></a>-->

{% elsif page.url == "/2019/09/latest-harmony-relax-melodies-mod-apk.html" %}
<br/>
<!--<a href="https://www.mediafire.com/file/x58ocemmz45893v/Harmony-Music-Notes-v3.6.apk" rel="nofollow"><button><i class="fa fa-download"></i> Harmony Music v3.6.apk</button></a><br/>
<a href="https://www.mediafire.com/file/g2ugplo0qi1ni7c/Harmony-Music-Notes-v3.2-MOD.apk" rel="nofollow"><button><i class="fa fa-download"></i> Harmony Music v3.2 MOD</button></a>-->
<button><i class="fa fa-download"></i> Harmony Music v3.6.apk</button><br/>
<button><i class="fa fa-download"></i> Harmony Music v3.2 MOD</button>
{% elsif page.url == "/2020/03/call-of-duty.html" %}
<br/>
<button onclick="Dutyapk()"><i class="fa fa-download"></i> Call of Duty v1.0.11 apk</button><br/>
<button onclick="Dutyobb()"><i class="fa fa-download"></i> Call of Duty v1.0.11 obb data</button>
<!--
	<script>
function apk(){window.location.assign("http://s7.rexdl.com/android/game/Call-of-Duty-Mobile-v1.0.11-www.ReXdl.com.apk");} function obb() {window.location.assign("http://s7.rexdl.com/android/game/Call-of-Duty-Mobile-v1.0.11-www.ReXdl.com.zip");}
</script>
-->
{% elsif page.url == "/2019/09/run-mulitable-apps-with-app-cloner.html" %}
<br/>
<!--<a href="https://www.mediafire.com/file/sow9uaavuun6kyt/App-Cloner-v2.2.0.apk" rel="nofollow"><button><i class="fa fa-download"></i> App cloner v2.2.0 apk</button></a><br/>
<a href="https://www.mediafire.com/file/xybr48e0ujl15pd/App-Cloner-v2.1.1-Full.apk" rel="nofollow"><button><i class="fa fa-download"></i> App cloner Full v2.1.1 apk</button></a><br/>
<a href="https://www.mediafire.com/file/07pb43ot7f7bejz/App-Cloner-v1.5.32-Mod.apk" rel="nofollow"><button><i class="fa fa-download"></i> App cloner MOD v1.5.32 apk</button></a>-->
<button><i class="fa fa-download"></i> App cloner v2.2.0 apk</button><br/>
<button><i class="fa fa-download"></i> App cloner Full v2.1.1 apk</button><br/>
<button><i class="fa fa-download"></i> App cloner MOD v1.5.32 apk</button>
{% else %}
<button>Sorry! it seems no file here <span class="fa fa-info-circle errspan"></span></button>
{% endif %}