<style>.bbwis {
	color: #00f;
	font-weight: 700}</style>
<p>Android Games apk and obb data files links are direct download links,<br/>
however, some files are uploaded on up-4ever.org server.
<strong>see below how to </strong><a href="#up" title="see below">Download these files.</a>
</p>
 <span id="up"></span>
<h3>How to Download from up-4ever.org</h3>
	<p>Here is how to bypass <b>pop up ads</b> and download this file:<br/>
<br/>
Chose <b>Free download</b>, Verify you're <b>not robot</b><br />
The Button <u><span style="color:blue;">Click Here to Download</span></U> is covered with<br />
<b>(on click pop up ads)</b> so don't click,<br />
<b>Press and hold</b> on the button for few seconds then from menu copy link, paste on  address bar and go..<br/>
your download automatically starts..
<br/>
see screenshot below ..</p>
<br/>
<div class="centered">
<img alt="download links" src="{{site.url}}/img/dl.webp" width="200"/><br/>
<br/>
<div id="link" class="bbwis1">
<div id="download">
{% include oiin.html %}</div>
	</div>
<!--
<a href='{{ page.path | remove: ".html" }}'>download config</a>
<input onclick="back()" type="button" value="Go Back" /> &nbsp; <a href="{{ site.baseurl }}/"><input type="button" value="Go Home" /></a>
<script type="text/javascript">
function back() {history.back(-1);
  /*window.location.assign("https://www.abzinid.com");
 document.write('<a href="/">home</a>');*/
}
</script>
<br/>
<script type="text/javascript">
var downloadButton = document.getElementById("download");
var counter = 10;
var newElement = document.createElement("p");
newElement.innerHTML = "Wait a Second.";
var id;
downloadButton.parentNode.replaceChild(newElement, downloadButton);
id = setInterval(function() {
    counter--;
    if(counter < 0) {
        downloadButton.style.display = 'inline';
        newElement.parentNode.replaceChild(downloadButton, newElement);
        clearInterval(id);
    } else {
        newElement.innerHTML = "link after: " + counter.toString() + " seconds<br/><img src=\"/img/ajax-loader-cyrcle.gif\">";
    }
}, 1000);
</script>
<br />
<script type="text/javascript" src="//uprimp.com/bnr.php?section=General&pub=172789&format=300x250&ga=g&bg=1"></script>
-->
<br/>
<br/>
<img alt="don't click" width="200" src="{{site.url}}/img/dont-click.png" width="200"/><img alt="copy link" width="200" src="{{site.url}}/img/copy-link.png" width="200"/><br/>
</div>
<h3>Pay Per Download - Earn Mony</h3>
<p>Join up-4ever and earn money from uploading files, they pay you <b> $4 - $8 per 1000 </b> completed downloads ..<br/>
share your file links on social media or post them on your web site or blog..<br/>
<br/>
Payout just <b>one dollar $1 </b><a href="#upload-and-earn/">join now</a> and start earning money..<br /></p>