<div id='footer-wrapper'>
<div class='container row'>
<div class='footer-widgets-wrap'>
<div class='footer common-widget section' id='footer-sec1'>
<div class='widget PopularPosts' data-version='2' id='PopularPosts2'>
<div class='widget-title'><h3 class='title'>Action Games</h3>	</div>
<div class='widget-content'>	{% assign sorted-posts = site.tags.action | sort: 'last_modified_at' | reversed %}
{% for post in sorted-posts limit: 3 %}
<div class='post'>
<div class='post-content'>{% if post.image %}
<a class='post-image-link' href='{{ site.url }}{{ post.url }}' title='{{post.title}}'><img alt='{{post.title}}' class='post-thumb' src='{{ site.url }}{{ post.image }}'/></a>
<div class='post-info'>
<h2 class='post-title'><a href='{{ site.url }}{{ post.url }}' title='{{post.title}}'>{{post.title}}</a></h2>
<div class='post-meta'><span class='post-date published' datetime='{{ page.last_modified_at | date_to_xmlschema }}'>{{ post.date | date: "%b %-d, %Y" }}</span></div>
					 </div>{% endif %}
    </div>
   </div>{% endfor %}
  </div>
 </div>
</div>
<div class='footer common-widget section' id='footer-sec2'>
<div class='widget Label' data-version='2' id='Label2'>
<div class='widget-title'>	<h3 class='title'>Tags</h3>	</div>
<div class='widget-content cloud-label'>
	<ul><li><span class='empty'></span>{% capture tags %}{% for tag in site.tags %}
<li data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}"><a class="label-name" href="{{site.url}}{{ site.tag_page_dir }}/tag/{{ tag[0] | slugify: 'pretty' }}">{{ tag[0] }}<span class='label-count'>{{ tag[1].size }}</span></a></li>
	{% endfor %}{% endcapture %}
{{ tags | split:'</li>' | sort | join:'</li>' }}</li>
</ul>
</div>{% comment %}<div class='widget-content cloud-label'><ul>{% capture tags %}{% for tag in site.tags %}<li data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}"><a class="label-name" href="{{ site.url }}/tag/{{ tag[0] | slugify: 'pretty' }}/">{{ tag[0] }}<span class='label-count'>{{ tag[1].size }}</span></a></li></li>{% endfor %}{% endcapture %}{{ tags | split:'</li>' | sort | join:'</li>' }}</ul></div>{% endcomment %}
 </div>
</div>
<div class='footer common-widget section' id='footer-sec3'>
<div class='widget PopularPosts' data-version='2' id='PopularPosts3'>
<div class='widget-title'><h3 class='title'>	Most Read</h3>	</div>
<div class='widget-content'>{% for post in site.tags.war limit: 3 %}
<div class='post'>
<div class='post-content'>{% if post.image %}
<a class='post-image-link' href='{{ site.url }}{{ post.url }}' title='{{post.title}}'><img alt='{{post.title}}' class='post-thumb' src='{{ site.url }}{{ post.image }}'/></a>
<div class='post-info'>
<h2 class='post-title'><a href='{{ site.url }}{{ post.url }}' title='{{post.title}}'>{{post.title}}</a></h2>
<div class='post-meta'><span class='post-date published' datetime='{{ page.last_modified_at | date_to_xmlschema }}'>{{ post.date | date: "%b %-d, %Y" }}</span></div>
	         </div>{% endif %}
	       </div>
	      </div>{% endfor %}
     	</div>
	    </div>
			</div>
 </div>
</div>
<div class='clearfix'></div>
<div id='sub-footer-wrapper'>	<div class='container row'>
<div class='menu-footer section' id='menu-footer'>		<div class='widget LinkList' data-version='2' id='LinkList76'>	<div class='widget-title'><h3 class='title'>	Menu Footer Widget</h3></div>
<div class='widget-content'>
<ul>
<li><a href='{{site.url}}/'>Home</a></li>
<li><a href='{{site.url}}/disclaimer.html'>Disclaimer</a></li>
<li><a href='https://contact.maladev.com'>Contact Us</a></li>
<li><a href='{{site.url}}/privacy-policy.html'>privacy policy</a></li>
</ul>
</div>
</div></div>
<div class='copyright-area'> Copyright &#169; 2020 - All right Reserved</div>
	  </div>
	</div>
</div>
{% comment %}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
<script src='{{site.url}}/assets/script/jquery-1.12.4-min.js'></script>{% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src='{{site.url}}/assets/script/main-script.js'></script>
<script async='async' src='{{site.url}}/assets/script/cookies.js'></script>
<div class='overlay'></div>
<div class='back-top' title='Back to Top'></div>
{% comment %}{% assign random = site.time | date: "%s%N" | modulo: site.posts.size %}<h1>{{ site.posts[random].title }}</h1> {% endcomment %}