<head>
<meta name="play-site-verification" content="MwG3T140j_BXCgsUBDBJLEe1-1yO22TjlupDIroIfwY"/>
<meta content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1' name='viewport'/>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>{% seo %}<!--[if IE]> <script> (function() { var html5 = ("abbr,article,aside,audio,canvas,datalist,details," + "figure,footer,header,hgroup,mark,menu,meter,nav,output," + "progress,section,time,video").split(','); for (var i = 0; i < html5.length; i++) { document.createElement(html5[i]); } try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {} })(); </script> <![endif]-->
<meta property="og:type" content="profile"/>
<meta property="og:title" content="android"/>
<meta property="og:url" content=""/>
<meta property="og:image" content="{{ site.url }}/assets/img/android.png"/>
<meta property="profile:first_name" content="android"/>
<meta property="profile:last_name" content="apps"/>{%if page.keywords %}
<meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}"/>{% endif %}{% if page.tags %}
<meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>{% endif %}
<meta content='#f8f8f8' name='theme-color'/>
<meta content='#f8f8f8' name='msapplication-navbutton-color'/>
<link href='{{site.url}}/icons/favicon.ico' rel='icon' type='image/x-icon'/>
<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ site.url }}/feed.xml"/>
<link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/icons/apple-touch-icon.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/icons/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/icons/favicon-16x16.png"/>
<link rel="manifest" href="{{site.url}}/icons/site.webmanifest"/>
<link rel="mask-icon" href="{{site.url}}/icons/safari-pinned-tab.svg" color="#5bbad5"/>
<link rel="shortcut icon" href="{{site.url}}/favicon.ico" type="image/x-icon"/>
<meta name="msapplication-TileColor" content="#da532c"/>
<meta name="msapplication-config" content="{{site.url}}/icons/browserconfig.xml"/>
<style type='text/css'>
a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var{padding:0;border:0;outline:0;vertical-align:baseline;background:0 0;text-decoration:none}button,form,input,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0}dl,ul{list-style-position:inside;font-weight:400;list-style:none}ul li{list-style:none}caption,th{text-align:center}img{border:none;position:relative}a,a:visited{text-decoration:none}.clearfix{clear:both}.section,.widget,.widget ul{margin:0;padding:0}a{color:#ff0000}a img{border:0}abbr{text-decoration:none}.CSS_LIGHTBOX{z-index:999999!important}.separator a{clear:none!important;float:none!important;margin-left:0!important;margin-right:0!important}#navbar-iframe,.feed-links,.home-link,.widget-item-control,a.quickedit{display:none!important}.widget>h2,.widget>h3{display:none}body{background-color:#f8f8f8;font-family:Roboto,sans-serif;font-size:18px;font-weight:400;color:#4d4d4d;word-wrap:break-word;margin:0;padding:0}#outer-wrapper{max-width:none;margin:0 auto;background-color:#fff;box-shadow:0 0 5px rgba(0,0,0,.1)}.row{width:1000px}#content-wrapper{margin:30px auto 0;overflow:hidden}#content-wrapper>.container{margin:0 -15px}#main-wrapper{float:left;overflow:hidden;width:66.66666667%;box-sizing:border-box;word-wrap:break-word;padding:0 15px;margin:0}#sidebar-wrapper{float:right;overflow:hidden;width:33.33333333%;box-sizing:border-box;word-wrap:break-word;padding:0 15px}.post-image-wrap{position:relative;display:block}.about-author .avatar-container,.comments .avatar-image-container,.post-image-link{background-color:#f9f9f9;color:transparent!important;border:3px solid #ccc;border-radius:10px}.post-image-link{margin-right:10px!important}.post-thumb{display:block;position:relative;width:100%;height:100%;object-fit:cover;z-index:1;transition:transform .25s ease}.hot-item-inner:hover .post-image-link .post-thumb,.post-image-link:hover .post-thumb,.post-image-wrap:hover .post-image-link .post-thumb{transform:scale(1.03)}h1,h2,h3,h4,h5,h6{font-family:Roboto,sans-serif}.post-title a{display:block}#top-bar{display:none;width:100%;height:34px;background-color:teal;overflow:hidden;margin:0}#top-bar .container{margin:0 auto}.top-bar-nav{position:relative;float:left;display:block}.top-bar-nav .widget>.widget-title{display:none}.top-bar-nav ul li{float:left}.top-bar-nav ul li>a{height:34px;display:block;color:#ddd;font-size:12px;font-weight:400;line-height:34px;margin:0 10px 0 0;padding:0 5px;transition:color .17s}.top-bar-nav ul li:first-child>a{padding:0 5px 0 0}.top-bar-nav ul>li:hover>a{color:#cc0000}.top-bar-social{position:relative;float:right;display:block}.top-bar-social .widget>.widget-title{display:none}.top-bar-social ul>li{float:left;display:inline-block}.top-bar-social ul>li>a{line-height:34px;display:block;color:#ddd;text-decoration:none;font-size:16px;text-align:center;padding:0 5px;margin:0 0 0 10px;transition:color .17s}.top-bar-social ul>li:last-child>a{padding:0 0 0 5px}.top-bar-social ul>li:hover>a{color:#ff0000}.social a:before{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400}.social .facebook a:before{content:"\f09a"}.social .twitter a:before{content:"\f099"}.social .gplus a:before{content:"\f0d5"}.social .youtube a:before{content:"\f16a"}.social .linkedin a:before{content:"\f0e1"}.social .instagram a:before{content:"\f16d"}.social .pinterest a:before{content:"\f0d2"}.social .whatsapp a:before{content:"\f232"}.social .email a:before{content:"\f0e0"}.social .external-link a:before{content:"\f35d"}.social-color .facebook a{background-color:#3b5999}.social-color .twitter a{background-color:#00acee}.social-color .gplus a{background-color:#db4a39}.social-color .youtube a{background-color:#db4a39}.social-color .instagram a{background:linear-gradient(15deg,#ffb13d,#dd277b,#4d5ed4)}.social-color .pinterest a{background-color:#ca2127}.social-color .linkedin a{background-color:#0077b5}.social-color .whatsapp a{background-color:#3fbb50}.social-color .email a{background-color:#888}.social-color .external-link a{background-color:teal}.social-text .facebook a:after{content:"Facebook"}.social-text .twitter a:after{content:"Twitter"}.social-text .gplus a:after{content:"Google Plus"}.social-text .youtube a:after{content:"YouTube"}.social-text .linkedin a:after{content:"LinkedIn"}.social-text .instagram a:after{content:"Instagram"}.social-text .pinterest a:after{content:"Pinterest"}.social-text .whatsapp a:after{content:"Whatsapp"}.social-text .messenger a:after{content:"Messenger"}.social-text .email a:after{content:"Email"}.social-text .external-link a:after{content:"WebSite"}#header-wrap{position:relative;margin:0}.header-header{background-color:#fff;width:100%;height:90px;position:relative;overflow:hidden;padding:30px 0}.header-header .container{position:relative;margin:0 auto;padding:0}.header-logo{position:relative;float:left;width:auto;max-width:200px;max-height:60px;margin:0;padding:15px 0}.header-logo .header-image-wrapper{display:block}.header-logo img{max-width:100%;max-height:60px;margin:0}.header-logo h1{color:teal;font-size:36px;line-height:60px;margin:0}.header-logo p{font-size:12px;margin:5px 0 0}.header-ads{position:relative;float:right}.header-ads .widget>.widget-title{display:none}.header-ads .widget{max-width:100%}.header-ads .widget .widget-content{width:728px;max-width:100%;max-height:90px;line-height:1}.header-menu{position:relative;width:100%;height:48px;background-color:#f2f2f2;z-index:10;font-size:13px;box-sizing:border-box;margin:0;border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea}.header-menu .container{position:relative;margin:0 auto;padding:0}#main-menu .widget,#main-menu .widget>.widget-title{display:none}#main-menu .show-menu{display:block}#main-menu{position:relative;height:46px;z-index:15}#main-menu ul>li{float:left;position:relative;margin:0;padding:0;transition:background .17s}#main-menu ul>li>a{position:relative;color:teal;font-size:16px;font-weight:700;line-height:46px;display:inline-block;margin:0;padding:0 15px;transition:color .17s ease}#main-menu #main-menu-nav>li:first-child>a{padding-left:0}#main-menu ul>li:hover>a{color:#ff0000}#main-menu ul>li>ul{position:absolute;float:left;left:0;top:46px;width:180px;background-color:#fff;z-index:99999;margin-top:0;padding:0;border:1px solid #eaeaea;box-shadow:0 1px 0 0 #eaeaea;visibility:hidden;opacity:0}#main-menu ul>li>ul>li>ul{position:absolute;float:left;top:0;left:100%;margin:-1px 0 0}#main-menu ul>li>ul>li{display:block;float:none;position:relative}#main-menu ul>li>ul>li a{display:block;height:36px;font-size:13px;color:teal;line-height:36px;box-sizing:border-box;margin:0;padding:0 15px;border:0;border-bottom:1px solid #eaeaea;transition:all .17s ease}#main-menu ul>li>ul>li:hover>a{color:#ff0000}#main-menu ul>li>ul>li:last-child a{border-bottom:0}#main-menu ul>li.has-sub>a:after{content:'\f107';float:right;font-family:FontAwesome;font-size:12px;font-weight:400;margin:0 0 0 5px}#main-menu ul>li>ul>li.has-sub>a:after{content:'\f105';float:right;margin:0}.hide-search,.show-search{position:absolute;right:0;top:0;display:block;width:36px;height:46px;line-height:46px;z-index:20;color:teal;font-size:15px;text-align:right;cursor:pointer;padding:0;transition:color .17s ease}.show-search:before{content:"\f002";font-family:FontAwesome;font-weight:400}.hide-search:before{content:"\f00d";font-family:FontAwesome;font-weight:400}.hide-search:hover,.show-search:hover{color:#ff0000}#nav-search{display:none;position:absolute;left:0;top:0;width:100%;height:46px;z-index:99;background-color:#f2f2f2;box-sizing:border-box;padding:0}#nav-search .search-form{width:100%;height:46px;background-color:rgba(0,0,0,0);line-height:46px;overflow:hidden;padding:0}#nav-search .search-input{width:100%;height:46px;font-family:inherit;color:teal;margin:0;padding:0 46px 0 0;background-color:rgba(0,0,0,0);font-size:13px;font-weight:400;outline:0;box-sizing:border-box;border:0}#mobile-logo .widget>.widget-title>h3{display:none}.mobile-header{display:none;position:relative;float:left;width:100%;height:50px;background-color:teal;z-index:1010}.mobile-header .logo-content{position:relative;float:left;display:block;width:100%;height:50px;text-align:center;z-index:2}.mobile-header .logo-content>a{height:30px;display:inline-block;padding:10px 0}.mobile-header .logo-content>a>img{height:30px}.mobile-header .logo-content>h3{font-size:20px;height:30px;line-height:30px;margin:10px 0 0}.mobile-header .logo-content>h3>a{color:#fff}.mobile-search-form{position:absolute;display:none;z-index:4;background-color:teal;width:100%;height:50px;left:0;top:0}.mobile-search-form .mobile-search-input{background-color:teal;display:block;width:calc(100% - 50px);height:50px;font-family:inherit;font-size:13px;font-weight:400;color:#fff;box-sizing:border-box;padding:0 20px;border:0}.mobile-search-form{position:absolute;display:none;z-index:4;background-color:teal;width:100%;height:50px;left:0;top:0}.mobile-search-form .mobile-search-input{background-color:teal;display:block;width:calc(100% - 50px);height:50px;font-size:13px;font-weight:400;color:#fff;box-sizing:border-box;padding:0 20px;border:0}.overlay{display:none;position:fixed;top:0;left:0;right:0;bottom:0;z-index:990;background:rgba(255,255,255,.8)}.hide-mobile-search,.show-mobile-search,.slide-menu-toggle{position:absolute;line-height:50px;height:50px;width:50px;top:0;left:0;font-family:FontAwesome;color:#fff;font-size:18px;font-weight:400;text-align:center;cursor:pointer;z-index:4;padding:0}.slide-menu-toggle{border-right:1px solid rgba(255,255,255,.08)}.hide-mobile-search,.show-mobile-search{border-left:1px solid rgba(255,255,255,.08);left:auto;right:0}.slide-menu-toggle:before{content:"\f0c9"}.nav-active .slide-menu-toggle:before{content:"\f00d"}.show-mobile-search:before{content:"\f002"}.hide-mobile-search:before{content:"\f00d"}.mobile-menu{position:relative;float:left;width:100%;background-color:teal;box-sizing:border-box;padding:20px;border-top:1px solid rgba(255,255,255,.08);visibility:hidden;opacity:0;transform-origin:0 0;transform:scaleY(0);transition:all .17s ease}.nav-active .mobile-menu{visibility:visible;opacity:1;transform:scaleY(1)}.mobile-menu>ul{margin:0}.mobile-menu .m-sub{display:none;padding:0}.mobile-menu ul li{position:relative;display:block;overflow:hidden;float:left;width:100%;font-size:16px;line-height:38px;margin:0;padding:0;border-top:1px solid rgba(255,255,255,.01)}.mobile-menu>ul>li{font-weight:400}.mobile-menu>ul li ul{overflow:hidden}.mobile-menu>ul>li:first-child{border-top:0}.mobile-menu ul li a{color:#fff;padding:0;display:block;transition:all .17s ease}.mobile-menu ul li.has-sub .submenu-toggle{position:absolute;top:0;right:0;color:#fff;cursor:pointer}.mobile-menu ul li.has-sub .submenu-toggle:after{content:'\f105';font-family:FontAwesome;font-weight:400;float:right;width:34px;font-size:16px;text-align:center;transition:all .17s ease}.mobile-menu ul li.has-sub.show>.submenu-toggle:after{transform:rotate(90deg)}.mobile-menu>ul>li>ul>li a{font-size:13px}.mobile-menu>ul>li>ul>li>a{color:#fff;opacity:.7;padding:0 0 0 15px}.mobile-menu>ul>li>ul>li>ul>li>a{color:#fff;opacity:.7;padding:0 0 0 30px}.mobile-menu ul>li>.submenu-toggle:hover{color:#ff0000}.post-meta{display:block;overflow:hidden;color:#7a7676;font-size:13px;font-weight:400;padding:0 1px}.post-meta .post-author,.post-meta .post-date{float:left;margin:0 10px 0 0}.post-meta .post-date{text-transform:capitalize}.post-meta a{color:#9e3434;transition:color .17s}.post-meta a:hover{color:#ff0000}.post-meta span:before{font-family:FontAwesome;font-weight:400;margin:0 3px 0 0}.post-meta .post-author:before{content:'\f2c0'}.post-meta .post-date:before{content:'\f017'}#hot-wrapper{margin:0 auto}#hot-section .widget,#hot-section .widget>.widget-title{display:none}#hot-section .show-hot{display:block!important}#hot-section .show-hot .widget-content{position:relative;overflow:hidden;height:320px;margin:30px 0 0}.hot-loader{position:relative;height:100%;overflow:hidden;display:block}.hot-loader:after{content:'';position:absolute;top:50%;left:50%;width:26px;height:26px;margin:-15px 0 0 -15px;border:2px solid #eaeaea;border-right-color:#ff0000;border-radius:100%;animation:spinner .8s infinite linear;transform-origin:center}@-webkit-keyframes spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}ul.hot-posts{position:relative;overflow:hidden;height:320px;margin:0 -5px}.hot-posts .hot-item{position:relative;float:left;width:26%;height:155px;overflow:hidden;box-sizing:border-box;padding:0 5px}.hot-posts .item-0{width:48%;height:320px}.hot-posts .item-1{height:320px}.hot-posts .item-2{margin:0 0 10px}.hot-item-inner{position:relative;float:left;width:100%;height:100%;overflow:hidden;display:block}.hot-posts .post-image-link{width:100%;height:100%;position:relative;overflow:hidden;display:block}.hot-posts .post-image-link:after{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background:linear-gradient(45deg,#292484 0,#dc4225 100%);z-index:2;opacity:.5;display:block}.hot-posts .item-1 .post-image-link:after{background:linear-gradient(45deg,#1a2980 0,#26d0ce 100%)}.hot-posts .item-2 .post-image-link:after{background:linear-gradient(45deg,#e0be00 0,#dc4225 100%)}.hot-posts .item-3 .post-image-link:after{background:linear-gradient(45deg,#1d976c 0,#3cf93d 100%)}.hot-posts .post-info{position:absolute;bottom:0;left:0;width:100%;background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.1));overflow:hidden;z-index:5;box-sizing:border-box;padding:25px 15px 15px}.hot-posts .post-tag{position:relative;display:inline-block;top:0;left:0;background-color:rgba(0,0,0,0);line-height:16px;box-sizing:border-box;border:1px solid #fff}.hot-posts .post-title{font-size:16px;font-weight:700;display:block;line-height:1.5em;margin:8px 0 7px}.hot-posts .item-0 .post-title{font-size:21px}.hot-posts .post-title a{color:#fff;display:block}.hot-posts .post-meta{font-size:11px;color:#f0f0f0}.show-hot .no-posts{position:absolute;top:calc(50% - 50px);left:0;width:100%}.queryMessage{overflow:hidden;background-color:#f2f2f2;color:teal;font-size:13px;font-weight:400;padding:8px 10px;margin:0 0 25px}.queryMessage .query-info{margin:0 5px}.queryMessage .search-label,.queryMessage .search-query{font-weight:700;text-transform:uppercase}.queryMessage .search-label:before,.queryMessage .search-query:before{content:"\201c"}.queryMessage .search-label:after,.queryMessage .search-query:after{content:"\201d"}.queryMessage a.show-more{float:right;color:#ff0000;text-decoration:underline;transition:opacity .17s}.queryMessage a.show-more:hover{opacity:.8}.queryEmpty{font-size:13px;font-weight:400;padding:10px 0;margin:0 0 25px;text-align:center}.featured-posts .widget-title,.title-wrap{position:relative;float:left;width:100%;height:29px;display:block;margin:0 0 20px;border-bottom:3px solid #eaeaea}.featured-posts .widget-title>h3,.title-wrap>h3{position:relative;float:left;height:32px;font-size:16px;color:teal;margin:0}.featured-posts .widget-title>h3:after,.title-wrap>h3:after{content:'';position:absolute;left:0;bottom:0;height:3px;width:100%;background-color:#ff0000;margin:0}a.view-all{float:right;font-size:13px;line-height:29px;color:#888;transition:color .17s ease}a.view-all:hover{color:#ff0000}a.view-all:after{content:"\f105";float:right;font-weight:400;font-family:FontAwesome;margin:0 0 0 3px;transition:color .17s}.featured-posts>.widget{display:none;position:relative;float:left;width:100%;margin:0 0 30px}.featured-posts>.show-widget{display:block}.feat-big li{position:relative;float:right;width:calc(50% - 20px);overflow:hidden;margin:20px 0 0}.feat-big .item-0{float:left;width:calc(50% - 10px);margin:0}.feat-big .item-1{margin:0}.feat-big .feat-inner{position:relative;float:left;width:100%;overflow:hidden}.feat-big .post-image-link{position:relative;float:left;width:75px;height:65px;display:block;overflow:hidden;margin:0 12px 0 0}.feat-big .feat-inner .post-image-link{width:100%;height:180px;margin:0 0 13px}.feat-big .post-title{overflow:hidden;font-size:13px;font-weight:700;line-height:1.5em;margin:0 0 5px}.feat-big .item-big .post-info{float:left;overflow:hidden}.feat-big .item-small .post-info{overflow:hidden}.feat-big .item-0 .post-title{font-size:18px;margin:0 0 10px}.feat-big .post-title a{color:teal;transition:color .17s ease}.feat-big .post-title a:hover{color:#ff0000}.feat-big .item-small .post-meta{font-size:13px}.featured-posts>.col-width{width:calc(50% - 15px)}.featured-posts>.col-right{float:right}.feat-col li{position:relative;float:left;width:100%;overflow:hidden;margin:20px 0 0}.feat-col .item-0{margin:0}.feat-col .feat-inner{position:relative;float:left;width:100%;overflow:hidden}.feat-col .post-image-link{position:relative;float:left;width:75px;height:65px;display:block;overflow:hidden;margin:0 12px 0 0}.feat-col .feat-inner .post-image-link{width:100%;height:180px;margin:0 0 13px}.feat-col .post-title{overflow:hidden;font-size:13px;font-weight:700;line-height:1.5em;margin:0 0 5px}.feat-col .item-big .post-info{float:left;width:100%}.feat-col .item-small .post-info{overflow:hidden}.feat-col .item-0 .post-title{font-size:18px;margin:0 0 10px}.feat-col .post-title a{color:teal;transition:color .17s ease}.feat-col .post-title a:hover{color:#ff0000}.feat-col .item-small .post-meta{font-size:13px}.grid-small li{position:relative;display:inline-block;vertical-align:top;width:calc(33.33333333% - 40px / 3);overflow:hidden;margin:20px 0 0 20px}.grid-small li:nth-child(3n+1){margin:20px 0 0}.grid-small li.item-0{margin:0}.grid-small li.item-1,.grid-small li.item-2{margin:0 0 0 20px}.grid-small .post-image-link{position:relative;float:left;width:100%;height:120px;display:block;overflow:hidden;margin:0 0 7px}.grid-small .post-title{overflow:hidden;font-size:16px;font-weight:700;line-height:1.5em;margin:0 0 5px}.grid-small .post-info{float:left}.grid-small .post-title a{color:teal;transition:color .17s ease}.grid-small .post-title a:hover{color:#ff0000}.grid-small .post-meta{font-size:13px}ul.grid-big{margin:0 -15px}.grid-big li{position:relative;float:left;width:50%;overflow:hidden;box-sizing:border-box;padding:0 15px;margin:30px 0 0}.grid-big li.item-0,.grid-big li.item-1{margin:0}.grid-big .feat-inner{position:relative;float:left;width:100%;overflow:hidden}.grid-big .post-image-link{position:relative;float:left;width:100%;height:180px;display:block;overflow:hidden;margin:0 0 13px}.grid-big .post-title{overflow:hidden;font-size:18px;font-weight:700;line-height:1.5em;margin:0 0 10px}.grid-big .post-info{float:left;width:100%}.grid-big .post-title a{color:teal;transition:color .17s ease}.grid-big .post-title a:hover{color:#ff0000}.feat-list li{position:relative;float:left;width:100%;overflow:hidden;margin:30px 0 0}.feat-list .item-0{margin:0}.feat-list .feat-inner{position:relative;float:left;width:100%;overflow:hidden}.feat-list .post-image-link{position:relative;float:left;width:280px;height:180px;display:block;overflow:hidden;margin:0 25px 0 0}.feat-list .feat-inner .post-image-link{float:left;width:240px;height:150px;margin:0 20px 0 0}.feat-list .post-title{overflow:hidden;font-size:19px;font-weight:700;line-height:1.5em;margin:0 0 10px}.feat-list .post-info{overflow:hidden}.feat-list .post-title a{color:teal;transition:color .17s ease}.feat-list .post-title a:hover{color:#ff0000}.custom-widget li{overflow:hidden;margin:20px 0 0}.custom-widget li:first-child{margin:0}.custom-widget .post-image-link{position:relative;width:75px;height:65px;float:left;overflow:hidden;display:block;vertical-align:middle;margin:0 12px 0 0}.custom-widget .post-title{overflow:hidden;font-size:13px;font-weight:700;line-height:1.5em;margin:0 0 5px;padding:0}.custom-widget .post-title a{display:block;color:teal;transition:color .17s}.custom-widget .post-title a:hover{color:#ff0000}.custom-widget .post-meta{font-size:13px}.blog-post{display:block;overflow:hidden;word-wrap:break-word}.index-post{padding:0 8px 0 0;margin:0 0 30px}.index-post .post-image-wrap{float:left;width:240px;height:200px;margin:0 20px 0 0}.index-post .post-image-wrap .post-image-link{width:100%;height:100%;position:relative;display:block;z-index:1;overflow:hidden}.post-tag{position:absolute;top:15px;left:15px;height:18px;z-index:5;background-color:#008089;color:#fff;font-size:10px;line-height:18px;font-weight:500;text-transform:uppercase;padding:0 6px;border-radius:2px}.index-post .post-info{overflow:hidden}.index-post .post-info>h2{font-size:19px;font-weight:700;line-height:1.5em;text-decoration:none;margin:0 0 10px}.index-post .post-info>h2>a{display:block;color:teal;transition:color .17s}.index-post .post-info>h2>a:hover{color:#ff0000}.widget iframe,.widget img{max-width:100%}.date-header{display:block;overflow:hidden;font-weight:400;margin:0!important;padding:0}.post-timestamp{margin-left:0}.post-snippet{position:relative;display:block;overflow:hidden;font-size:14px;line-height:1.6em;font-weight:400;margin:10px 0 0}#breadcrumb{font-size:13px;font-weight:400;color:#aaa;margin:0 0 10px}#breadcrumb a{color:#aaa;transition:color .17s}#breadcrumb a:hover{color:#ff0000}#breadcrumb a,#breadcrumb em{display:inline-block}#breadcrumb .delimiter:after{content:'\f105';font-family:FontAwesome;font-style:normal;margin:0 3px}.item-post h1.post-title{color:teal;font-size:27px;line-height:1.5em;font-weight:700;position:relative;display:block;margin:15px 0;padding:0}.static_page .item-post h1.post-title{padding:0 0 10px;margin:0;border-bottom:1px solid #eaeaea}.item-post .post-body{width:100%;line-height:27px;overflow:hidden;padding:20px 3px}.static_page .item-post .post-body{padding:20px 0}.item-post .post-outer{padding:0}.item-post .post-body img{max-width:100%;box-shadow:0 0 2px 1px #008cba80;border-radius:6px}.item-post .post-body img:hover{box-shadow:0 0 2px 1px #005a79;opacity:.5}.item-post .post-meta{padding:10px 2px;margin:8px 4px;border-bottom:1px solid #eaeaea}.main .widget{margin:0}.main .Blog{border-bottom-width:0}.post-footer{position:relative;float:left;width:100%;margin:20px 0 0}.inline-ad{position:relative;display:block;max-height:60px;margin:0 0 30px}.inline-ad>ins{display:block!important;margin:0 auto!important}.item .inline-ad{float:left;width:100%;margin:20px 0 0}.item-post-wrap>.inline-ad{margin:0 0 20px}.post-labels{overflow:hidden;height:auto;position:relative;font-family:Roboto,sans-serif;padding:0;margin:0 0 25px}.post-labels a{color:#fff;background:#167403;border:1px solid #fff}.post-labels span{color:#000}.post-labels a,.post-labels span{float:left;font-size:13px;font-weight:700;margin:5px 12px 0 0;padding:4px 8px;transition:all .17s ease}.post-labels a:hover{background:#000;boder:1px solid red}.post-share{position:relative;overflow:hidden;line-height:0;margin:0 0 30px}ul.share-links{position:relative}.share-links li{width:32px;float:left;box-sizing:border-box;margin:0 5px 0 0}.share-links li.facebook,.share-links li.gplus,.share-links li.twitter{width:20%}.share-links li a{float:left;display:inline-block;cursor:pointer;width:100%;height:32px;line-height:32px;color:#fff;font-weight:400;font-size:13px;text-align:center;box-sizing:border-box;opacity:1;margin:0;padding:0;border-radius:2px;transition:all .17s ease}.share-links li.whatsapp-mobile{display:none}.is-mobile li.whatsapp-desktop{display:none}.is-mobile li.whatsapp-mobile{display:inline-block}.share-links li a:before{float:left;display:block;width:32px;background-color:rgba(255,255,255,.07);font-size:15px;text-align:center;line-height:32px}.share-links li a:hover{opacity:.8}ul.post-nav{position:relative;overflow:hidden;display:block;margin:0 0 30px}.post-nav li{display:inline-block;width:50%}.post-nav .post-prev{float:left;text-align:left;box-sizing:border-box;padding:0 10px}.post-nav .post-next{float:right;text-align:right;box-sizing:border-box;padding:0 10px}.post-nav li a{color:teal;line-height:1.4em;display:block;overflow:hidden;transition:color .17s}.post-nav li:hover a{color:#ff0000}.post-nav li span{display:block;font-size:11px;color:#aaa;font-weight:700;text-transform:uppercase;padding:0 0 2px}.post-nav .post-prev span:before{content:"\f053";float:left;font-family:FontAwesome;font-size:9px;font-weight:400;text-transform:none;margin:0 2px 0 0}.post-nav .post-next span:after{content:"\f054";float:right;font-family:FontAwesome;font-size:9px;font-weight:400;text-transform:none;margin:0 0 0 2px}.post-nav p{font-family:Roboto,sans-serif;font-size:12px;font-weight:400;line-height:1.4em;margin:0}.post-nav .post-nav-active p{color:#aaa}.about-author{position:relative;display:block;overflow:hidden;padding:20px;margin:0 0 30px;border:1px solid #eaeaea}.about-author .avatar-container{position:relative;float:left;width:80px;height:80px;overflow:hidden;margin:0 15px 0 0;border-radius:100%}.about-author .author-avatar{float:left;width:100%;height:100%;border-radius:100%}.author-name{overflow:hidden;display:inline-block;font-size:16px;font-weight:700;margin:7px 0 3px}.author-name span{color:teal}.author-name a{color:teal;transition:color .17s}.author-name a:hover{color:#ff0000}.author-description{display:block;overflow:hidden;font-size:13px;font-weight:400;line-height:1.5em}.author-description a:hover{text-decoration:underline}#related-wrap{overflow:hidden;margin:0 0 30px}#related-wrap .related-tag{display:none}.related-ready{float:left;width:100%}.related-ready .loader{height:178px}ul.related-posts{position:relative;overflow:hidden;margin:0 -10px;padding:0}.related-posts .related-item{width:33.33333333%;position:relative;overflow:hidden;float:left;display:block;box-sizing:border-box;padding:0 10px;margin:0}.related-posts .post-image-link{width:100%;height:120px;position:relative;overflow:hidden;display:block}.related-posts .related-item .post-meta{padding:0;border:0}.related-posts .post-title{font-size:16px;font-weight:700;line-height:1.5em;display:block;margin:7px 0 6px}.related-posts .post-title a{color:teal;transition:color .17s}.related-posts .post-title a:hover{color:#ff0000}#blog-pager{overflow:hidden;clear:both;margin:0 0 30px}.blog-pager a,.blog-pager span{float:left;display:block;min-width:30px;height:30px;background-color:#f0f0f0;color:teal;font-size:13px;font-weight:500;line-height:30px;text-align:center;box-sizing:border-box;margin:0 5px 0 0;border-radius:2px;transition:all .17s ease}.blog-pager .blog-pager-newer-link,.blog-pager .blog-pager-older-link{padding:0 15px}.blog-pager .blog-pager-newer-link{float:left}.blog-pager .blog-pager-older-link{float:right}.blog-pager span.page-dots{min-width:20px;background-color:#fff;font-size:16px;line-height:30px;font-weight:400;letter-spacing:-1px;border:0}.blog-pager .page-of{display:none;width:auto;float:right;border-color:transparent;margin:0}.blog-pager .page-active,.blog-pager a:hover{background-color:#ff0000;color:#fff;border-color:#ff0000}.blog-pager .page-next:before,.blog-pager .page-prev:before{font-family:FontAwesome;font-size:16px;font-weight:400}.blog-pager .page-prev:before{content:'\f104'}.blog-pager .page-next:before{content:'\f105'}.blog-pager .blog-pager-newer-link:after{content:'\f104';float:left;font-family:FontAwesome;font-weight:400;margin:0 3px 0 0}.blog-pager .blog-pager-older-link:after{content:'\f105';float:right;font-family:FontAwesome;font-weight:400;margin:0 0 0 3px}.archive #blog-pager{display:none}.blog-post-comments{display:none;margin:0 0 30px}.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6{color:teal;margin:0 0 15px}.post-body h1,.post-body h2{font-size:24px;line-height:30px}.post-body h3{font-size:21px}.post-body h4{font-size:18px}.post-body h5{font-size:16px}.post-body h6{font-size:13px}blockquote{font-style:italic;padding:10px;margin:0;border-left:4px solid #0010a3}.post-body{color:#5c5c5c;font-size:17px}blockquote:after,blockquote:before{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;color:#aaa;line-height:1}blockquote:before{content:'\f10d';margin:0 10px 0 0}blockquote:after{content:'\f10e';margin:0 0 0 10px}.widget .post-body ol,.widget .post-body ul{line-height:1.5;font-weight:400}.widget .post-body li{margin:5px 0;padding:0;line-height:1.5}.post-body ul{padding:0 0 0 20px}.post-body ul li:before{content:"\f105";font-family:FontAwesome;font-size:13px;font-weight:400;margin:0 5px 0 0}.post-body u{text-decoration:underline}.post-body a{color:#df0505;font-weight:700;transition:color .17s ease}.post-body strike{text-decoration:line-through}.sidebar .widget{position:relative;overflow:hidden;background-color:#fff;box-sizing:border-box;padding:0;margin:0 0 30px}.sidebar .widget-title{position:relative;float:left;width:100%;height:29px;display:block;margin:0 0 20px;border-bottom:3px solid #eaeaea}.sidebar .widget-title>h3{position:relative;float:left;height:32px;font-size:16px;color:teal;margin:0}.sidebar .widget-title>h3:after{content:'';position:absolute;left:0;bottom:0;height:3px;width:100%;background-color:#ff0000;margin:0}.sidebar .widget-content{float:left;width:100%;margin:0}.social-counter li{float:left;width:calc(50% - 5px);margin:10px 0 0}.social-counter li:nth-child(1),.social-counter li:nth-child(2){margin-top:0}.social-counter li:nth-child(even){float:right}.social-counter li a{display:block;height:34px;font-size:13px;color:#fff;line-height:34px;border-radius:2px;transition:opacity .17s}.social-counter li a:hover{opacity:.8}.social-counter li a:before{float:left;width:34px;height:34px;background-color:rgba(255,255,255,.1);font-size:16px;text-align:center;margin:0 10px 0 0}.list-label li{position:relative;display:block;padding:8px 0;border-top:1px dotted #eaeaea}.list-label li:first-child{padding:0 0 8px;border-top:0}.list-label li:last-child{padding-bottom:0;border-bottom:0}.list-label li a{display:block;color:teal;font-size:13px;font-weight:400;text-transform:capitalize;transition:color .17s}.list-label li a:before{content:"\f105";float:left;color:teal;font-weight:400;font-family:FontAwesome;margin:0 3px 0 0;transition:color .17s}.list-label li a:hover{color:#ff0000}.list-label .label-count{position:relative;float:right;width:16px;height:16px;background-color:#ff0000;color:#fff;font-size:11px;font-weight:400;text-align:center;line-height:16px;border-radius:2px}.cloud-label li{position:relative;float:left;margin:0 5px 5px 0}.cloud-label li a{display:block;height:26px;background-color:#f2f2f2;color:teal;font-size:12px;line-height:26px;font-weight:400;padding:0 10px;border-radius:2px;transition:all .17s ease}.cloud-label li a:hover{color:#fff;background-color:#ff0000}.cloud-label .label-count{display:none}.sidebar .FollowByEmail>.widget-title>h3{margin:0}.FollowByEmail .widget-content{position:relative;overflow:hidden;font-weight:400;text-align:center;box-sizing:border-box;padding:20px;border:1px solid #eaeaea}.FollowByEmail .widget-content>h3{font-size:18px;color:teal;font-weight:700;margin:0 0 13px}.FollowByEmail .before-text{font-size:13px;color:#888;line-height:1.4em;margin:0 0 10px;display:block;padding:0 15px;overflow:hidden}.FollowByEmail .follow-by-email-inner{position:relative}.FollowByEmail .follow-by-email-inner .follow-by-email-address{width:100%;height:34px;color:#888;font-size:11px;font-family:inherit;text-align:center;padding:0 10px;margin:0 0 10px;box-sizing:border-box;border:1px solid #eaeaea;border-radius:2px;transition:ease .17s}.FollowByEmail .follow-by-email-inner .follow-by-email-address:focus{border-color:rgba(0,0,0,.1)}.FollowByEmail .follow-by-email-inner .follow-by-email-submit{width:100%;height:34px;font-family:inherit;font-size:11px;color:#fff;background-color:#ff0000;text-transform:uppercase;text-align:center;font-weight:700;cursor:pointer;margin:0;border:0;border-radius:2px;transition:background .17s}.FollowByEmail .follow-by-email-inner .follow-by-email-submit:hover{background-color:teal}#ArchiveList ul.flat li{color:teal;font-size:13px;font-weight:400;padding:8px 0;border-bottom:1px dotted #eaeaea}#ArchiveList ul.flat li:first-child{padding-top:0}#ArchiveList ul.flat li:last-child{padding-bottom:0;border-bottom:0}#ArchiveList .flat li>a{display:block;color:teal;transition:color .17s}#ArchiveList .flat li>a:hover{color:#ff0000}#ArchiveList .flat li>a:before{content:"\f105";float:left;color:teal;font-weight:400;font-family:FontAwesome;margin:0 3px 0 0;display:inline-block;transition:color .17s}#ArchiveList .flat li>a>span{position:relative;float:right;width:16px;height:16px;background-color:#ff0000;color:#fff;font-size:11px;font-weight:400;text-align:center;line-height:16px}.PopularPosts .post{overflow:hidden;margin:20px 0 0}.PopularPosts .post:first-child{margin:0}.PopularPosts .post-image-link{position:relative;width:75px;height:65px;float:left;overflow:hidden;display:block;vertical-align:middle;margin:0 12px 0 0}.PopularPosts .post-info{overflow:hidden}.PopularPosts .post-title{font-size:13px;font-weight:700;line-height:1.5em;margin:0 0 5px}.PopularPosts .post-title a{display:block;color:teal;transition:color .17s}.PopularPosts .post-title a:hover{color:#ff0000}.PopularPosts .post-meta{font-size:11px}.PopularPosts .post-date:before{font-size:10px}.FeaturedPost .post-image-link{display:block;position:relative;overflow:hidden;width:100%;height:180px;margin:0 0 13px}.FeaturedPost .post-title{font-size:18px;overflow:hidden;font-weight:700;line-height:1.5em;margin:0 0 10px}.FeaturedPost .post-title a{color:teal;display:block;transition:color .17s ease}.FeaturedPost .post-title a:hover{color:#ff0000}.Text{font-size:13px}.BlogSearch .search-input{float:left;width:75%;height:30px;background-color:#fff;font-weight:400;font-size:13px;line-height:30px;box-sizing:border-box;padding:5px 10px;border:1px solid #eaeaea;border-right-width:0}.BlogSearch .search-action{float:right;width:25%;height:30px;font-family:inherit;font-size:13px;line-height:30px;cursor:pointer;box-sizing:border-box;background-color:#ff0000;color:#fff;padding:0 5px;border:0;transition:background .17s ease}.BlogSearch .search-action:hover{background-color:teal}.Profile .profile-img{float:left;width:80px;height:80px;margin:0 15px 0 0;transition:all .17s ease}.Profile .profile-datablock{margin:0}.Profile .profile-data .g-profile{display:block;font-size:16px;color:teal;margin:0 0 5px;transition:color .17s ease}.Profile .profile-data .g-profile:hover{color:#ff0000}.Profile .profile-info>.profile-link{color:teal;font-size:11px;margin:5px 0 0;transition:color .17s ease}.Profile .profile-info>.profile-link:hover{color:#ff0000}.Profile .profile-datablock .profile-textblock{display:none}.common-widget .LinkList ul li,.common-widget .PageList ul li{width:calc(50% - 5px);padding:7px 0 0}.common-widget .LinkList ul li:nth-child(odd),.common-widget .PageList ul li:nth-child(odd){float:left}.common-widget .LinkList ul li:nth-child(even),.common-widget .PageList ul li:nth-child(even){float:right}.common-widget .LinkList ul li a,.common-widget .PageList ul li a{display:block;color:teal;font-size:13px;font-weight:400;transition:color .17s ease}.common-widget .LinkList ul li a:hover,.common-widget .PageList ul li a:hover{color:#ff0000}.common-widget .LinkList ul li:first-child,.common-widget .LinkList ul li:nth-child(2),.common-widget .PageList ul li:first-child,.common-widget .PageList ul li:nth-child(2){padding:0}#footer-wrapper{background-color:teal}#footer-wrapper .container{position:relative;overflow:hidden;margin:0 auto;padding:25px 0}.footer-widgets-wrap{position:relative;display:flex;margin:0 -15px}#footer-wrapper .footer{display:inline-block;float:left;width:33.33333333%;box-sizing:border-box;padding:0 15px}#footer-wrapper .footer .widget{float:left;width:100%;padding:0;margin:25px 0 0}#footer-wrapper .footer .Text{margin:10px 0 0}#footer-wrapper .footer .widget:first-child{margin:0}#footer-wrapper .footer .widget-content{float:left;width:100%}.footer .widget>.widget-title{position:relative;float:left;width:100%;height:29px;display:block;margin:0 0 20px;border-bottom:3px solid rgba(255,255,255,.05)}.footer .widget>.widget-title>h3{position:relative;float:left;height:32px;font-size:16px;color:#fff;margin:0}.footer .widget>.widget-title>h3:after{content:'';position:absolute;left:0;bottom:0;height:3px;width:100%;background-color:#ff0000;margin:0}.footer .FeaturedPost .post-meta,.footer .PopularPosts .post,.footer .custom-widget li{border-color:rgba(255,255,255,.05)}.footer .post-image-link{background-color:rgba(255,255,255,.05)}.footer .FeaturedPost .post-title a,.footer .LinkList ul li a,.footer .PageList ul li a,.footer .PopularPosts .post-title a,.footer .Profile .profile-data .g-profile,.footer .Profile .profile-info>.profile-link,.footer .custom-widget .post-title a{color:#fff}.footer .FeaturedPost .post-title a:hover,.footer .LinkList ul li a:hover,.footer .PageList ul li a:hover,.footer .PopularPosts .post-title a:hover,.footer .Profile .profile-data .g-profile:hover,.footer .Profile .profile-info>.profile-link:hover,.footer .custom-widget .post-title a:hover{color:#ff0000}.footer .no-posts{color:#fff}.footer .FollowByEmail .widget-content>h3{color:#fff}.footer .FollowByEmail .widget-content{background-color:rgba(255,255,255,.05);border-color:rgba(255,255,255,.05)}#footer-wrapper .footer .Text,.footer .FollowByEmail .before-text{color:#aaa}.footer .FollowByEmail .follow-by-email-inner .follow-by-email-submit:hover{background:teal}.footer .FollowByEmail .follow-by-email-inner .follow-by-email-address{background-color:rgba(255,255,255,.05);color:#fff;border-color:rgba(255,255,255,.05)}.footer #ArchiveList .flat li>a{color:#fff}.footer .BlogArchive #ArchiveList ul.flat li,.footer .list-label li{border-color:rgba(255,255,255,.05)}.footer .list-label li:first-child{padding-top:0}.footer #ArchiveList .flat li>a,.footer #ArchiveList .flat li>a:before,.footer .list-label li a,.footer .list-label li a:before{color:#fff}.footer #ArchiveList .flat li>a:hover,.footer .list-label li>a:hover{color:#ff0000}.footer #ArchiveList .flat li>a>span,.footer .list-label .label-count{background-color:rgba(255,255,255,.05);color:#fff}.footer .cloud-label li a{background-color:rgba(255,255,255,.05);color:#fff}.footer .cloud-label li a:hover{background-color:#ff0000;color:#fff}.footer .BlogSearch .search-input{background-color:rgba(255,255,255,.05);color:#fff;border-color:rgba(255,255,255,.05)}#sub-footer-wrapper{color:#fff;display:block;padding:0;width:100%;overflow:hidden;border-top:1px solid rgba(255,255,255,.05)}#sub-footer-wrapper .container{overflow:hidden;margin:0 auto;padding:10px 0}#menu-footer{float:right;position:relative;display:block}#menu-footer .widget>.widget-title{display:none}#menu-footer ul li{float:left;display:inline-block;height:34px;padding:0;margin:0}#menu-footer ul li a{font-size:12px;font-weight:400;display:block;color:#fff;line-height:34px;padding:0 5px;margin:0 0 0 10px;transition:color .17s ease}#menu-footer ul li:last-child a{padding:0 0 0 5px}#menu-footer ul li a:hover{color:#ff0000}#sub-footer-wrapper .copyright-area{font-size:12px;float:left;height:34px;line-height:34px;font-weight:400}#sub-footer-wrapper .copyright-area a{color:#fff;transition:color .17s}#sub-footer-wrapper .copyright-area a:hover{color:#ff0000}.hidden-widgets{display:none;visibility:hidden}.back-top{display:none;z-index:1010;width:34px;height:34px;position:fixed;bottom:25px;right:25px;cursor:pointer;overflow:hidden;font-size:20px;color:#fff;text-align:center;line-height:34px;border-radius:2px}.back-top:before{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background-color:#ff0000;opacity:.5;transition:opacity .17s ease}.back-top:after{content:'\f106';position:relative;font-family:FontAwesome;font-weight:400;opacity:.8;transition:opacity .17s ease}.back-top:hover:after,.back-top:hover:before,.nav-active .back-top:after,.nav-active .back-top:before{opacity:1}@media screen and (max-width:1100px){#outer-wrapper{max-width:100%}.row{width:100%}#hot-wrapper,#top-bar .container,.header-header .container,.header-menu .container{box-sizing:border-box;padding:0 20px}#header-wrap{height:auto}.header-logo{max-width:30%}.header-ads{max-width:70%}.hide-search,.show-search{right:20px}#nav-search .search-input{padding:0 46px 0 20px}#content-wrapper{position:relative;box-sizing:border-box;padding:0 20px;margin:30px 0 0}#footer-wrapper .container{box-sizing:border-box;padding:25px 20px}#sub-footer-wrapper .container{box-sizing:border-box;padding:10px 20px}}@media screen and (max-width:980px){#content-wrapper>.container{margin:0}#top-bar,.header-logo,.header-menu{display:none}.mobile-header{display:block}#header-wrap{padding:0}.header-header{height:auto;padding:0}.header-header .container.row{width:100%}.header-ads{width:100%;max-width:100%;box-sizing:border-box;padding:0}.header-ads .widget .widget-content{position:relative;padding:20px 0;margin:0 auto}#header-inner a{display:inline-block!important}#main-wrapper,#sidebar-wrapper{width:100%;padding:0}}@media screen and (max-width:880px){.footer-widgets-wrap{display:block}#footer-wrapper .footer{width:100%;margin-right:0}#footer-sec2,#footer-sec3{margin-top:25px}}@media screen and (max-width:680px){#hot-section .hot-posts,#hot-section .show-hot .widget-content{height:auto}#hot-section .loader{height:200px}.hot-posts .hot-item{width:100%;height:180px;margin:4px 0 0}.hot-posts .item-0{margin:0}.featured-posts>.col-width,.grid-big li{width:100%}.feat-big .item-0,.feat-big li{width:100%}.feat-big .item-1{margin:20px 0 0}.grid-big li.item-big{margin:30px 0 0}.grid-big li.item-0{margin:0}.FeaturedPost .post-image-link,.feat-big .feat-inner .post-image-link,.feat-col .feat-inner .post-image-link,.feat-list .feat-inner .post-image-link,.grid-big .post-image-link,.index-post .post-image-wrap{width:100%;height:180px;margin:0 8px 10px 0;border:3px solid #fff;border-radius:6px}.feat-big .item-big .post-info,.feat-list .post-info,.index-post .post-info{float:left;width:100%}.post-snippet{margin:8px 0 0}#menu-footer,#sub-footer-wrapper .copyright-area{width:100%;height:auto;line-height:inherit;text-align:center}#menu-footer{margin:10px 0 0}#sub-footer-wrapper .copyright-area{margin:10px 0}#menu-footer ul li{float:none;height:auto}#menu-footer ul li a{line-height:inherit;margin:0 3px 5px}}@media screen and (max-width:540px){.FeaturedPost .post-image-link,.feat-big .feat-inner .post-image-link,.feat-col .feat-inner .post-image-link,.feat-list .feat-inner .post-image-link,.grid-big .post-image-link,.hot-posts .hot-item,.index-post .post-image-wrap{height:160px}.share-links li a span{display:none}.share-links li.facebook,.share-links li.gplus,.share-links li.twitter{width:30px}ul.related-posts{margin:0}.feat-big .item-small,.grid-small li,.related-posts .related-item{width:100%;padding:0;margin:20px 0 0}.feat-big .item-0{margin:0}.feat-big .item-small .post-info,.grid-small .post-info{float:none;overflow:hidden}.grid-small li:nth-child(3n+1){margin:20px 0 0}.grid-small li.item-1,.grid-small li.item-2{margin:20px 0 0}.grid-small li.item-0,.related-posts .item-0{padding:0;margin:0;border:0}.related-posts .related-item:first-child{padding:0}.feat-big .item-small .post-image-link,.grid-small .post-image-link,.related-posts .post-image-link{width:75px;height:65px;float:left;margin:0 12px 5px 0}.related-posts .post-tag{display:none}.grid-small .post-title,.related-posts .post-title{font-size:13px;overflow:hidden;margin:0 0 5px}.inline-ad,.inline-ad>ins{height:auto;min-height:1px;max-height:250px}.item-post h1.post-title{font-size:25px}}@media screen and (max-width:440px){.hot-posts .item-0 .post-title,.hot-posts .post-title{font-size:15px}.queryMessage{text-align:center}.queryMessage a.show-more{width:100%;margin:10px 0 0}.item-post h1.post-title{font-size:21px}blockquote{padding:10px 15px}.about-author{text-align:center}.about-author .avatar-container{float:none;display:table;margin:0 auto 10px}}@media screen and (max-width:360px){.about-author .avatar-container{width:60px;height:60px}}.netlify-app{content:"androids";color:#fff}html{scroll-behavior:smooth}.center{text-align:center!important}.centered{text-align:center}.break::after{content:"\a";display:block}.break-btm::after{content:"\a";display:block;margin-bottom:20px}.space5{margin-top:50px;margin-bottom:50px}#oiin{padding:20px 0;margin:0}#more{display:none}#oiin ul{list-style:none;padding:0;margin:0}#oiin li{padding-left:3px}#oiin li::before{content:"•";font-size:20px;padding-right:3px;color:#ca2127}.dott{margin-bottom:0}.mybtn:hover{color:#0f0!important}#oiin{padding:22px 2px}#oiin h1,#oiin h2,#oiin h3,#oiin h4,#oiin h5,#oiin h6{color:#008080;margin:15px 0 8px;text-transform:capitalize;}table{margin-top:15px;margin-right:5px;}table,td,th{font-size:14px;border:1px solid #000;border-radius:5px}caption{color:#4f6df5;font-size:16px;font-weight:700;text-decoration:underline;margin:0 0 12px;cursor:pointer}td{width:500px;max-width:700px;height:2.1em;line-height:2.1em;text-align:center;overflow:hidden}tbody tr:nth-child(odd){color:#fff;background-color:#008080}tbody tr:nth-child(even){color:#000;background-color:#fff}.mybtn{color:#fff!important;font-size:13px;font-weight:700;background:#d30c0c;padding:4px 8px;margin:4px;border-radius:3px;box-shadow:0 1px 0 rgba(0,0,0,.15)}#social img{width:40px;background-color:#fff;border-radius:50%;transition:color .17s ease;border:5px solid #f0f0f0;margin:0 8px}.slink{color:#e90a0a;font-weight:700;cursor:pointer}.bbc{pointer-events:none;opacity:.2}.dtimer{color:red;font-size:18px;font-weight:700;text-align:center}.dtimer{animation:blinker 1s linear infinite}@keyframes blinker{50%{opacity:0}}.rtimer{color:green}.pagination{text-align:center;margin:0 0 12px}.pagination a{color:#fff;padding:7px 18px;border:#eee solid 1px;margin-left:-2px;margin-right:-2px;background-color:#ff3d00;display:inline-block}.pagination span{color:#000;padding:7px 18px;border:#eee solid 1px;margin-left:-2px;margin-right:-2px;background-color:#fff;display:inline-block}.pagination a:hover{color:#f1f1f1!important;background-color:#4f6df5!important}.title-wrap{position:relative;float:left;width:100%;height:28px;display:block;margin:0 0 20px;background:#ecf3fa}.title-wrap>h3{position:relative;float:left;height:28px;font-size:12px;color:#272727;font-weight:700;line-height:30px;text-transform:uppercase;padding:0 15px;margin:0;border-radius:2px 2px 0 0}.margin{margin:50px auto}.blog-post p{padding:12px 0}.tags{position:relative;margin:2px 5px 5px 2px}.tags a{display:block;height:24px;background-color:#4374dd;color:#fff;font-size:13px;line-height:24px;font-weight:400;box-sizing:border-box;padding:0 12px;border-radius:3px}.tags a:hover{background-color:#a0a39f;color:#c00101;opacity:.8}#dbox{padding:13px 10px;background:#f3f1f1;clear:both;border:1px solid #e7e7e7;position:relative;margin-bottom:50px;border-radius:8px;list-style:none}.bb1{background-color:#639ea8!important;cursor:pointer;}.bb1:hover{background:#07bb7f;box-shadow:5px 40px -10px rgba(0,0,0,.57)}.bb{display:inline-block;color:#fff!important;font-size:14px;font-weight:700;width:250px;max-width:100%;text-transform:capitalize;text-decoration:none;text-align:center;cursor:pointer;background:#0d0283;padding:8px;margin:8px;border-radius:5px;border:2px solid #f0f0f0;transition:all .4s ease;box-shadow:5px 40px -10px rgba(0,0,0,.57);}.bb:hover{background:#169099;box-shadow:5px 40px -10px rgba(0,0,0,.57);transition:all .4s ease}.span{color:red;cursor:pointer}.span:hover{color:#00f}.post-body ul li{list-style:circle}@media (max-width:580px) and (min-width:1px){#dbox img{display:block;margin-top:12px;margin-left:auto;margin-right:auto;z-index:1}}#dbox .bb{width:auto;background-color:#639ea8}#dbox .bb::before{content:"\f019";font-family:FontAwesome;font-size:15px;color:#fff;margin:6px}#dbox h3{color:#ed8611}#dbox ul{padding:0;margin:5px 0;list-style:none}#dbox b{color:#9b0c0c}#dbox img{text-align:center;padding:12px;border:2px solid #fff;border-radius:8px!important}.ffa .bb::before{content:"\f019";font-family:FontAwesome;font-size:15px;color:#fff;margin:6px}.apkinfo{color:#261c81;font-size:15px;line-height:24px;position:relative;display:inline-block;padding:12px;margin:0 10px 0}.name::before{content:"\f08d"}.size::before{content:"\f016"}.mod::before{content:"\f013"}.version::before{content:"\f091"}.support::before{content:"\f17b"}.update::before{content:"\f021"}b.developer::before{content:"</>";color:#5da6b3;font-size:16px;margin-right:7px}.mod::before,.name::before,.size::before,.support::before,.update::before,.version::before{font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;color:#5da6b3;font-size:16px;margin-right:7px}.info::before{content:"📌";font-style:normal;font-weight:400;text-decoration:inherit;color:#5da6b3;font-size:16px;margin-right:10px}.pages{font-size:16px;line-height:30px;padding:0 3px 50px}.img{border:1px solid #ddd;border-radius:4px;margin-right:7px;padding:5px;box-shadow:0 0 2px 1px rgba(0,140,186,.5)}.img:hover{border:1px solid #fff;border-radius:10px;opacity:.7;-webkit-box-shadow:0 0 3px 2px #000;-moz-box-shadow:0 0 3px 2px #000;box-shadow:0 0 3px 2px #000}.slide{border:3px solid #fff;border-radius:10px;animation:heartbeat 2s infinite;-webkit-box-shadow:0 10px 6px -6px #777;-moz-box-shadow:0 10px 6px -6px #777;box-shadow:0 10px 6px -6px #777}@keyframes heartbeat{0%{transform:scale(.75)}30%{transform:scale(1)}60%{transform:scale(1)}90%{transform:scale(.75)}100%{transform:scale(.75)}}
</style>
<link rel='preload' href='{{site.url}}/assets/script/style-cookies.css' as='style'/>
<script>var fixedSidebar=!0;function loadCSS(e,o,t){"use strict";var n=window.document.createElement("link"),a=o||window.document.getElementsByTagName("script")[0];n.rel="stylesheet",n.href=e,n.media="only x",a.parentNode.insertBefore(n,a),setTimeout(function(){n.media=t||"all"})}loadCSS("//fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i"),loadCSS("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");</script>
</head>