<div id='top-bar'>
<div class='container row'>
<div class='top-bar-nav section' id='top-bar-nav' name='Top Navigation'>
<div class='widget LinkList' data-version='2' id='LinkList72'>
<div class='widget-content'>
<ul><li><a href='{{site.url}}/'>Home</a></li>
<li><a href='{{site.url}}/contact.html'>Contact us</a></li></ul>
</div>
</div></div>
<div class='top-bar-social social section' id='top-bar-social' name='Social Top'>
<div class='widget LinkList' data-version='2' id='LinkList73'>
<div class='widget-content'>
<ul><li class='facebook'><a href='https://fb.com/linkz200/posts' target='_blank' title='facebook'></a></li>
<li class='twitter'><a href='https://twitter.com/abzinid' target='_blank' title='twitter'></a></li>
<li class='pinterest'><a href='https://pinterest.com/abzinid' target='_blank' title='pinterest'></a></li>
</ul>
    </div>
		 </div>
	 </div>
 </div>
</div>
<div id='header-wrap'>
<div class='header-header'>
<div class='container row'>
<div class='header-logo section' id='header-logo'>
<div class='widget Header' data-version='2' id='Header1'>
<div class='header-widget'>
<a class='header-image-wrapper' href='{{site.url}}/'><img alt='{{site.title}}' data-height='60' data-width='200' src='{{site.url}}/assets/icons/logo.png'/></a>
  </div>
 </div>
</div>
<div class='header-ads no-items section' id='header-ads' name='Header Ads 728x90'></div>
</div>
</div>
<div class='mobile-header'>
<span class='slide-menu-toggle'></span>
<div class='mobile-logo section' id='mobile-logo' name='Mobile Logo'>
<div class='widget Image' data-version='2' id='Image70'>
<div class='logo-content'>
<a href='{{site.url}}/'><img alt='{{site.title}}' src='{{site.url}}/assets/icons/mobile-logo.png'/></a>
 	</div>
	</div>
</div>
<span class='show-mobile-search'></span>
<form action='{{site.url}}/' class='mobile-search-form' role='search'>
<input class='mobile-search-input' name='q' placeholder='Search this blog' type='search' value=''/>
<span class='hide-mobile-search'></span>
</form>
<div class='mobile-menu'></div>
</div>
<div class='header-menu'>
<div class='container row'>
<div class='main-menu section' id='main-menu' name='Main Menu'>
<div class='widget LinkList' data-version='2' id='LinkList74'>
<ul id='main-menu-nav' role='menubar'>
	<li><a href='{{site.url}}/' role='menuitem'>Home</a></li>
	<li><a href='{{site.url}}/tag/war' role='menuitem'>War Games</a></li>
	<li><a href='{{site.url}}/tag/action' role='menuitem'>Action Games</a></li>
	<li><a href='{{site.url}}/tag/racing' role='menuitem'>Racing  Games</a></li>
	<li><a href='https://contact.maladev.com' role='menuitem'>Contact us</a></li>
</ul>
	</div>
</div>
<div id='nav-search'>
<form action='{{site.url}}/' class='search-form' role='search'>
<input autocomplete='off' class='search-input' name='q' placeholder='Search this blog' type='search' value=''/>
<span class='hide-search'></span>
</form>
</div>
<span class='show-search'></span>
  </div>
	</div>
</div>