========== 1  =========
{% comment %}
<div class='widget-content'>
{% for post in site.tags.war limit: 1 %}
<div class='post'>
<div class='post-content'>{% if post.image %}
<a class='post-image-link' href='{{ site.url }}{{ post.url }}'><img alt='{{post.title}}' class='post-thumb' src='{{ site.url }}{{ post.image }}'/>	{% if post.tags.size >= 1 %}{% for tag in post.tags limit: 1 %}	<span class='post-tag'>{{ tag }}</span>{% endfor %}{% endif %}</a>	{% endif %}
<div class='post-info'>
<h2 class='post-title'><a href='{{ site.url }}{{ post.url }}'>{{post.title}}</a></h2>
<div class='post-meta'><span class='post-author'>By: oiin apps</span><span class='post-date published'>{{ page.last_modified_at | date: "%b %-d, %Y" }}</span></div>
<p class='post-snippet'>{% if post.description.size > 20 %}{{ post.description | truncate: 120 }}{% else %}{{ post.content | strip_html | truncate: 120 }} {% endif %}</p>
										</div>
								</div>
					</div>{% endfor %}
			</div>
			{% endcomment %}
			==========  1  ==========
			=========== 2  ========
			{% comment %}
<!-- assign posts = site.posts | sort 'last_modified_at' limit: 4 -->
 {% endcomment %}
			=========== 2 =========

========== 3 ========
{% comment %}
<!-- assign sorted-posts = site.tags.action | sort: 'date' | reversed limit: 3 -->
<!--	{% for post in sorted-posts limit: 3 -->
{% endcomment %}
====== 3 ======
======== 4  ===========
{% comment %}
<div class='widget-content cloud-label'><ul>{% capture tags %}{% for tag in site.tags %}<li data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}"><a class="label-name" href="{{ site.url }}/tag/{{ tag[0] | slugify: 'pretty' }}/">{{ tag[0] }}<span class='label-count'>{{ tag[1].size }}</span></a></li></li>{% endfor %}{% endcapture %}{{ tags | split:'</li>' | sort | join:'</li>' }}</ul></div>
{% endcomment %}
======== 4 ==========
======== 5 =========
{% comment %}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
<script src='{{site.url}}/assets/script/jquery-1.12.4-min.js'></script>
{% endcomment %}
======= 5 =======
======= 6 =======
{% comment %}
	{% assign random = site.time | date: "%s%N" | modulo: site.posts.size %}<h1>{{ site.posts[random].title }}</h1> {% endcomment %} 
	======== 6 ========
