{% if page.url == "/link/turbo-vpn.html" %}
<a class="bb" href="http://dl.dropboxusercontent.com/s/4tj87n1m2mhwkgp/free.vpn.unblock.proxy.turbovpn-2.8.0.apk" rel="nofollow">Turbo VPN free servers v2.8.0 apk</a><br/>
{% elsif page.url == "/link/android-game-criticalopsv141f490831apk.html" %}
<a class="bb" href="http://dl.dropboxusercontent.com/s/vcoki0fpa0gxdsk/Critical-Ops-v1.15.0-www.abzinidcom.apk" rel="nofollow">Critical OPS v1.15.0.Apk</a><br/>
<a class="bb" href="http://dl.dropboxusercontent.com/s/czsyp9jf6xojj08/Critical-Ops-v1.15.0.zip" rel="nofollow">Critical OPS v1.15.0 main Obb Data</a><br/>
{% elsif page.url == "/link/atest-pokemon-apk-mod.html" %}
<!--<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/dtiwfr1mhsc0c19/Pokemon-GO-v0.169.3.apk">Pokemon GO v0.169.3.apk</a><br/>-->
<span class="bb">Pokemon GO v0.169.3.apk</span><br/>
<!--<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/jv4h57xpzfe5hcf/Pokemon-GO-v0.171.0-Arm64.apk">Pokemon GO v0.171.0 Arm64.apk</a><br/>-->
<span class="bb">Pokemon GO v0.171.0 Arm64.apk</span><br/>

<!--<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/gyjzpec1uiopp2g/Pokemon-GO-v0.75.0-Mod.apk">Pokemon GO v0.75.0 MOD .apk</a><br/>-->
<span class="bb">Pokemon GO v0.75.0 MOD .apk</span><br/>
<!--<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/ndqnjfjs1vdh96m/Pokemon-Shuffle-v1.7.0.apk">Pokemon GO Shuffle v1.7.0 apk</a><br/>-->
<span class="bb">Pokemon GO Shuffle v1.7.0 apk</span><br/>
<!--<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/objru9cdoadggk9/Poke-Radar-for-Pokemon-GO-v1.2.apk">Pokemon GO RADAR v1.2 apk</a><br/>-->
<span class="bb">Pokemon GO RADAR v1.2 apk</span><br/>

{% elsif page.url =="/link/qmessenger-messenger.html" %}
<!--<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/epyavpuboem1o5i/Q_messenger_v1.0.0_10_%2540abzinid.apk">Q messenger v1.0.0.10 apk</a>-->
<span class="bb">Q messenger v1.0.0.10 apk</span>
{% elsif page.url == "/link/download-pandora-streaming-musicand.html" %}
<!--<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/gmbl9ms6fitnt31/Pandora_v1905.2_Patched_abzinidl.com.apk">Pandora Streaming Music& Radio</a>-->
<span class="bb">Pandora Streaming Music& Radio</span>
{% elsif ge.url == "/link/latest-spotify-premium-music-apk-mod.html" %}
<a class="bb" href="https://dl.dropboxusercontent.com/s/x9a0ts3nyddwto0/Spotify-v8.5.45.620-Mod-www.abzinid.com.apk" rel="nofollow">Spotify premium v8.5.45.620</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1YrKizRYizjrItXD3MCFsg0HDG1s073gu&export=download?Spotify-MOD-v8.5.45" rel="nofollow">Spotify premium v8.5.45 MOD | Google D</a><br/>
{% elsif page.url == "/link/winvibe-music-player-latest-original.html" %}
<a class="bb" href="http://drive.google.com/uc?id=1bbtGpMr4pceVlJEHCzRsXi7PmcU5iQWV&export=download?winvibe-v1.3.4" rel="nofollow">WinVibe Music Player original v1.3.4 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1ax3iJhTPftGND2T6fcy571Lz9TxuOcbl&export=download?winvibe-v1.3.4-Pro" rel="nofollow">WinVibe Music Player MOD apk</a><br/>
{% elsif page.url == "/link/offline-battle-warships-mod-apk.html" %}
<a class="bb" href="//dl.dropboxusercontent.com/s/cjc73xxzs5n5z2j/Battle-of-Warships-v1.72.12%28abzinid.com%29.apk" rel="nofollow">Battle of Warships v1.72.12 apk</a><br/>
<a class="bb" href="//dl.dropboxusercontent.com/s/s3wgrn0kbjcgc89/Battle-of-Warships-v1.71.4-Mod-%28abzinid.com%29.apk" rel="nofollow">Battle of Warships v1.71.4 MOD</a><br/>
{% elsif page.url == "/link/latest-android-cover-fire-offline.html" %}
<a class="bb" href="http://dl.dropboxusercontent.com/s/o7qaq6m9haptn4z/cover-fire-mod.1.19.1%28abzinid.com%29.apk" rel=""nofollow>cover fire v1.19.1 apk</a><br/>
<a class="bb" href="http://dl.dropboxusercontent.com/s/3279jtpn7t750qu/cover-fire-1.19.1-obb%28abzinid.com%29.zip" rel="nofllow">cover fire v1.19.1 obb</a><br/>
<a class="bb" href="http://dl.dropboxusercontent.com/s/lpoq8f0uhu3uedg/Cover-Fire-v1.17.14-Mod.apk" rel="nofollow">cover fire V1.17.14 MOD</a><br/>
{% elsif page.url == "/link/adblock-plus-apk.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1UvRdgseC5eos6pc8B6BjG8eF-8_5aPmb&export=download?Adblock-plus-v1.3" rel="nofollow">adblock plus v1.3 apk link 1</a><br/>
<a class="bb" href="https://ehiopener.tk/adblock-plus-apk" rel="nofollow">adblock plus v1.3 apk link 2</a><br/>
{% elsif page.url == "/link/defence-legend-3-mod-apk.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1AaNnjbSQibjPuIsrguSZDz_2R-1jXl7E&export=download?Black-Desert-Mobile-v4.1.72" rel="nofollow">Defense Legend v2.5.6 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=17qJquwfvV6apl09ukrjYJpVm3CdcLZr7&export=download?Defense-Legend-v2.5.19-Mod" rel="nofollow">Defense Legend v2.5.6 MOD</a><br/>
{% elsif page.url == "/link/grand-theft.html" %}
<!--<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/1y62y6w0fey7urt/Grand-theft-auto-vice-city-v1.09.apk">Grand Vice City v1.09.Apk</a><br/>
-->
<span class="bb">Grand Vice City v1.09.Apk</span><br/>
<a class="bb" href="https://drive.google.com/uc?id=1Lv6mJxG0aiwWsT6omYCxRw08-GodWcSC&export=download?Grand-thift-v1.09" rel="nofollow">Grand Vice City v1.09.obb (google D)</a><br/>
<!--<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/vd86nay6afcwrx7/Grand-theft-auto-vice-city-v1.09-obb.zip">Grand Vice City v1.09.obb (mediafire)</a>-->
{% elsif page.url == "/link/latest-android-game-harry-potter.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1duO8mzs0J5-7hcfxVOfk-oCcR-IUKUss&export=download?Harry-potter-v2.5.0" rel="nofollow">Harry Potter v2.5.0 (Arm) apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1ES4AXV9cnSw5FgxQVlcdNZarO8kuNiYx&export=download?Harry-potter-v2.5.0-arm64" rel="nofollow">Harry Potter v2.5.0 (Arm64) napk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1FOAASpwV_1nO6EPR62a2AuEnZsbEZh4c&export=download?Harry-potter-v2.5.0-MOD" rel="nofollow">">Harry Potter v2.5.0 (Mod) apk</><br/>
{% elsif page.url == "/link/android-global-launcher-poco-customize.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1bb-KrFEsDnHB9AtX50fpMDc225dp3tNx&export=download?Poco-launcher-v2.7.4.3" rel="nofollow">POCO Launcher V2.7.4.3.Apk</a><br/>
{% elsif page.url == "/link/last-shelter-survival-apk-and-obb.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1JobAownVZAekgLl5rrqNySXg_OvU7biu&export=download?last-shelter-v1.250-apk" rel="nofollow">Shelter Survival v1.250 Apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1W7KQn0yYmRb1rFp_F2Kw9sYHq1B4PpqL&export=download?last-shelter-v1.250-obb" rel="nofollow">Shelter Survival v1.250 Obb Data</a><br/>
{% elsif page.url == "/link/shipsim-2019-apk-plus-obb-data.html" %}
<a class="bb" href="http://dl14.apkawards.com/apk-mod_ZsGLgoYS5/com.ovilex.shipsim2019/com.ovilex.shipsim2019_1.1.5-APK_Award.apk" rel="nofollow">Ship Sim 2019 v1.1.5 apk</a><br/>
<a class="bb" href="http://dl14.apkawards.com/apk-mod_ZsGLgoYS5/com.ovilex.shipsim2019/com.ovilex.shipsim2019.zip" rel="nofollow">Ship Sim 2019 v1.1.5 obb</a><br/>
<a class="bb" href="http://dl14.apkawards.com/apk-mod_ZsGLgoYS5/com.ovilex.shipsim2019/com.ovilex.shipsim2019_1.1.5-APK_Award-Mod.apk" rel="nofollow">Ship Sim 2019 v1.1.5 MOD</a><br/>
{% elsif page.url == "/link/advanced-downloade-manager-pror.html" %}
<a class="bb" href="https://www.up-4ever.org/mi1h2e143uhk" rel="nofollow">Advanced Download Manager Pro v8.2.0 apk</a><br/>
<a class="bb" href="https://www.up-4ever.org/ljykv2a1oubc" rel="nofollow">Advanced Download Manager Pro v8.0.0 MOD</a>
{% elsif page.url == "/link/latest-clash-of-clans-mod.html" %}
<a class="bb" href="http://drive.google.com/uc?id=1F_TXBfwSd5mF4sI09PFgf2tbnpvYytjg&export=download?clash-clans-v13.180.8-arm" rel="nofollow">Clash Of Clans v13.180.8 ARM</a><br/>
<a class="bb" href="http://drive.google.com/uc?id=1SGcm0uYX63HBeJtZpB_F4t98fPlxRprH&export=download?clash-clans-v13.180.8-arm64" rel="nofollow">Clash Of Clans v13.180.8 ARM64</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1_5OpPwwF9wp6yZ0CVLIMNzysP7wyMLJ_&export=download?clash-clans-v13.180.8-x86" rel="nofollow">Clash Of Clans v13.180.8 X86</a><br/>
<a class="bb" href="http://drive.google.com/uc?id=1-ruyjdif1EdQ4sMMTKYEQ7rMM4Fm0Xpq&export=download?clash-clans-v13.180.8-mod" rel="nofollow">Clash Of Clans v13.180.8 mod</a><br/>
{% elsif page.url == "/link/clash-royale-apk-and-mod.html" %}
<a class="bb" href="https://dl.dropboxusercontent.com/s/8hxc4j70tpl7wbt/Clash-Royale-latest-v3.2.1-abzinid.com.apk" rel="nofollow">Clash Royale v3.2.1 apk</a><br/>
<a class="bb" href="http://dl.dropboxusercontent.com/s/z3q6ahwb6xip97v/Clash-Royale-v2.0.1-Mod-abzinid.com.apk" rel="nofollow">clash Royale v2.0.1 MOD</a><br/>
{% elsif page.url == "/link/latest-ehi-opener-and-http-injector.html" %}
<a class="bb" href="https://www.up-4ever.org/iers808rv9hj" rel="nofollow">Download ehi opener apk</a><br/>
<a class="bb" href="https://www.up-4ever.org/32u7c5uejuxl" rel="nofollow">Download http injector apk</a><br/>
<a class="bb" href="https://www.up-4ever.org/yiznx77go4bk" rel="nofollow">Download xposed installer apk</a><br/>
<a class="bb" href="https://www.up-4ever.org/55v4i599dw0s" rel="nofollow">Download kingroot apk</a><br/>
<a class="bb" href="https://www.up-4ever.org/5k8kpxphz2t6" rel="nofollow">Download root checker apk</a>
{% elsif page.url == "/link/file-manger.html" %}
<a class="bb" href="http://dl.dropboxusercontent.com/s/y0sphz76jdxvqwa/com.lonelycatgames.Xplore-v4.20.04.apk">X-plore file manager v4.20.04 apk</a><br/>

<a class="bb" href="https://dl.dropboxusercontent.com/s/4ac3bot2x5bojyp/X-plore-File-Manager-v4.19.10.apk" rel="nofollow">X-plore file manager v4.19.10 apk</a><br/>
<a class="bb" href="https://dl.dropboxusercontent.com/s/xf2c6ghe1vzj5mj/X-plore-File-Manager-v4.18.12-Mod.apk" rel="nofollow">X-plore file manager v4.18.12 mod</a><br/>

{% elsif page.url == "/link/street-racing-3d.html" %}
<a class="bb" href="http://dl.dropboxusercontent.com/s/9k8q7rha3rmhp84/street-racing-3d-5.8.5.mod.apk" rel="nofollow">Street racing 3D v5.8.5 MOD</a><br/>
<a class="bb" href="http://drive.google.com/uc?id=1_mQb9Drvzn_oWeJcjJoHOQ1gaxnP2khq&export=download?street-racing-v5.8.0-mod" rel="nofollow">Street racing 3D v5.8.0 MOD</a><br/>
{% elsif page.url == "/link/sniper-strike.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1DhOA1PC9lwhpyuJ9vRS7RsWCzMZxgYYD&export=download?sniper-strike-v500014-mod" rel="nofollow">Sniper Strike v500014 MOD</a><br/>

{% elsif page.url == "/link/black-desert-mobile.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1vmttqo6ONYLHyfdkHCTlBww94o5K8PGq&export=download?Black-Desert-Mobile-v4.1.76" rel="nofollow">Black Desert Mobile v4.1.76 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1bA6Pf0ok5Mjb3a88i8RnGAZzae08rb_O&export=download?Black-Desert-Mobile-v4.1.72" rel="nofollow">Black Desert Mobile v4.1.72 apk</a><br/>
{% elsif page.url == "/link/bright-memory-mobile.html" %}
<a class="bb" href="http://drive.google.com/uc?id=1Xd9i5-70y1nkaHc0cv_HFjMGQFrvJuHa&export=download?bright-memory-v1.3" rel="nofollow">Bright Memory Mobile v1.3 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1Fgh9H68ku2izF6idTOh7Suy0bn6m5naL&export=download?bright-memory-v1.3-data" rel="nofollow">Bright Memory Mobile v1.3 data</a><br/>
{% elsif page.url == "/link/dream-league.html" %}
<a class="bb" href="https://www.abzinid.com/dream-league-soccer-2018-and-how-to-install-obb-data-file" rel="nofollow">Dream league obb external links</a><br/>
{% elsif page.url == "/link/android-oinline-game-crime-city.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/r15ddr3pg3864r8/com.funzio.crimecity_2020-06-10.apk">Latest Crime City v9.1.0 apk</a>
{% elsif page.url == "/link/disorder.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1l0kcwVx0jCDMyvhgW4Ts6-euSGb8x3GL&export=download?Disorder-v1.3" rel="nofollow"> Download Disorder.1.3.apk</a><br/>
{% elsif page.url == "/link/lucky-patcher.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/l0mbjzcgaxjfach/Lucky-patcher-8.7.1-installer.apk"> Latest lucky patcher v8.7.1 apk</a>
{% elsif page.url == "/link/latest-android-game-tactical-monsters.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/ivpda0mueqvdvmk/Tactical-Monsters-Rumble-Arena-v1.16.6.apk">Tactical Monsters Rumble Arena v1.16.6.apk</a><br/>
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/ivpda0mueqvdvmk/Tactical-Monsters-Rumble-Arena-v1.16.6-MOD.apk">Tactical Monsters Rumble Arena v1.16.6 MOD.apk</a>

{% elsif page.url == "/link/call-of-duty.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1immUruf3qdZBtOZsDEE3iTzXnRTY51ok&export=download?call-duty-v1.0.11-apk" rel="nofollw">Call of Duty v1.0.11 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1dOdc32dlgzduTaWuvHC94t-APsSGq6I5&export=download?call-duty-v1.0.11-obb" rel="nofollw">Call of Duty v1.0.11 obb data</a><br/>
{% elsif page.url == "/link/latest-harmony-relax-melodies-mod-apk.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/x58ocemmz45893v/Harmony-Music-Notes-v3.6.apk">Harmony Music v3.6.apk</a><br/>
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/g2ugplo0qi1ni7c/Harmony-Music-Notes-v3.2-MOD.apk">Harmony Music v3.2 MOD</a>

{% elsif page.url == "/link/full-onkyo-hf-player-all-features-unlocked.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/9teqpdkozqog1ld/onkyo-hf-player-full-v2.7.0.apk">Onkyo HF Player v2.7.0 unlocked</a>

{% elsif page.url == "/link/run-mulitable-apps-with-app-cloner.html" %}
<a class="bb" href="http://drive.google.com/uc?id=1F_7QySq8r5jJfJQiITcWVbb89DAHY9Kp&export=download?app-cloner-v2.2.2" title="App Cloner v2.2.2" rel="nofollow">App cloner v2.2.2.apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1XI_3t8eY2zh-kGRk6c6sNdEw25nWKOjy&export=download?App-Cloner-v2.1.1-Full.apk" rel="nofollow">App cloner Full v2.1.1 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=12dNw-TLtDvuZVLXFDpDySwv-Z6d9Xunf&export=download?App-Cloner-v1.5.32-Mod.apk" rel="nofollow">App cloner MOD v1.5.32 apk</a><br/>
{% elsif page.url == "/link/latest-nova-legacy-mod-apk-for-android.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/1awux6qy19wqpvz/N.O.V.A.Legacy-5.8.1c-original.apk">N.O.V.A Legacy v5.8.1c original apk</a><br/>
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/w9z0zuajdrrc2wh/N.O.V.A.Legacy_2_5.8.0m-Mod.apk" rel="nofollow">N.O.V.A Legacy v5.8.0m mod apk</a>
{% elsif page.url == "/link/brutal-age-horde-invasion.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/tc4uocmhau1oiwi/Brutal-Age-Horde-Invasion-v0.7.20.apk">Brutal Age Horde Invasion v7.20.apk</a><br/>
<a class="bb" href="/go/?url=https://dl.apkwhale.com/wp-content/MOD/Brutal-Age-Horde-Invasion-0.7.10-Apkwhale.com.apk" rel="nofollow"> Brutal Age Horde Invasion MOD v7.10.apk</a>
{% elsif page.url == "/link/musixmatch-music-lyrics-premium-apk.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/01eftassozi3icu/Musixmatch-music-And-lyrics-PRE-v7.5.6.apk">Musixmatch music lyrics FREE v7.5.6 apk</a><br/>
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/yw4ns1s17qr92cu/Musixmatch-music-And-lyrics-PRE-v7.5.6-Arm64.apk" rel="nofollow">Musixmatch music lyrics FREE Arm64 v7.5.6 apk</a><br/>
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/l92coyrvuhvc3nh/Musixmatch-music-And-lyrics-PRE-v7.5.6-X86.apk" rel="nofollow">Musixmatch music lyrics FREE v7.5.6-X86 apk</a>

{% elsif page.url == "/link/make-multi-accounts-with-parallel-space.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/ti83t3f6fnki6h3/parallel-space-v4.0.8934.apk">Parallel space v4.8934.apk</a>

{% elsif page.url == "/link/amazing-spider-man.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1-nOuCVWvn0-axiNpWMvl-CxQHWEGnBmA&export=download?Amazing-Spider-Man-2-v1.2.8d" rel="nofollow">Amaizing Spider Man 1.2.8 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1kEPjBck7gl_chCylkBMX-QxZaUBvQPzU&export=download?Amazing-Spider-Man-2-v1.2.8d-main.obb" rel="nofollow">Amazing Spider Man 2-v1.2.8d main obb</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1SGgRgFbGbm88-Hqs4wVqDjas6Vtg5K8-&export=download?Amazing-Spider-Man-2-v1.2.8d-patch" rel="nofollow">Amaizing Spider Man 1.2.8 patch obb</a><br/>

{% elsif page.url == "/link/last-empire-war-z-strategy-apk-and-obb.html" %}
<a class="bb" href="http://dl.dropboxusercontent.com/s/xttbf9u8vayl4zz/Last-Empire-War-Z-Strategy-v1.0.305.apk">Download Last Empire - world War v1.0.305 apk</a><br/>
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/phw5356wvvc1hcq/Last-Empire-War-Z-Strategy-1.0.300-OBB.zip">Download Last Empire - world War v1.0.305 obb</a><br/>

<b>Last Empire world War - older version:</b><br/>
<a class="bb" href="https://drive.google.com/uc?id=1r9GFjObXW5k5rlmjydHfvaEpLlqUpVj7&export=download?last-empire-v1.0.296" rel="nofollow">Last- Empire v1.0.296 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1ZBHUsrLQsVsmkjvIp1ppHBPdC8ScazJL&export=download?last-empire-v1.0.296-obb" rel="nofollow">Last- Empire v1.0.296 obb</a><br/>

{% comment %}
posts
{% endcomment %}

{% elsif page.url == "/2020/03/turbo-vpn.html" %}
<a class="bb" href="http://dl.dropboxusercontent.com/s/4tj87n1m2mhwkgp/free.vpn.unblock.proxy.turbovpn-2.8.0.apk" rel="nofollow">Turbo VPN free servers v2.8.0 apk</a><br/>
{% elsif page.url == "/2019/05/android-game-criticalopsv141f490831apk.html" %}
<a class="bb" href="http://dl.dropboxusercontent.com/s/vcoki0fpa0gxdsk/Critical-Ops-v1.15.0-www.abzinidcom.apk" rel="nofollow">Critical OPS v1.15.0.Apk</a><br/>
<a class="bb" href="http://dl.dropboxusercontent.com/s/czsyp9jf6xojj08/Critical-Ops-v1.15.0.zip" rel="nofollow">Critical OPS v1.15.0 main Obb Data</a><br/>
{% elsif page.url == "/2019/08/latest-Pokemon-Apk-MOD.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/dtiwfr1mhsc0c19/Pokemon-GO-v0.169.3.apk">Pokemon GO v0.169.3.apk</a><br/>
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/jv4h57xpzfe5hcf/Pokemon-GO-v0.171.0-Arm64.apk">Pokemon GO v0.171.0 Arm64.apk</a><br/>
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/gyjzpec1uiopp2g/Pokemon-GO-v0.75.0-Mod.apk">Pokemon GO v0.75.0 MOD .apk</a><br/>
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/ndqnjfjs1vdh96m/Pokemon-Shuffle-v1.7.0.apk">Pokemon GO Shuffle v1.7.0 apk</a><br/>
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/objru9cdoadggk9/Poke-Radar-for-Pokemon-GO-v1.2.apk">Pokemon GO RADAR v1.2 apk</a>

{% elsif page.url =="/2019/07/Qmessenger-messenger.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/epyavpuboem1o5i/Q_messenger_v1.0.0_10_%2540abzinid.apk">Q messenger v1.0.0.10 apk</a>

{% elsif page.url == "/2019/07/download-pandora-streaming-musicand.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/gmbl9ms6fitnt31/Pandora_v1905.2_Patched_abzinidl.com.apk"> Pandora Streaming Music& Radio</a>

{% elsif ge.url == "/2019/05/latest-spotify-premium-music-apk-mod.html" %}
<a class="bb" href="https://dl.dropboxusercontent.com/s/x9a0ts3nyddwto0/Spotify-v8.5.45.620-Mod-www.abzinid.com.apk" rel="nofollow">Spotify premium v8.5.45.620</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1YrKizRYizjrItXD3MCFsg0HDG1s073gu&export=download?Spotify-MOD-v8.5.45" rel="nofollow">Spotify premium v8.5.45 MOD | Google D</a><br/>
{% elsif page.url == "/2019/06/winvibe-music-player-latest-original.html" %}
<a class="bb" href="http://drive.google.com/uc?id=1bbtGpMr4pceVlJEHCzRsXi7PmcU5iQWV&export=download?winvibe-v1.3.4" rel="nofollow">WinVibe Music Player original v1.3.4 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1ax3iJhTPftGND2T6fcy571Lz9TxuOcbl&export=download?winvibe-v1.3.4-Pro" rel="nofollow">WinVibe Music Player MOD apk</a><br/>
{% elsif page.url == "/2019/04/Offline-Battle-Warships-mod-apk.html" %}
<a class="bb" href="//dl.dropboxusercontent.com/s/cjc73xxzs5n5z2j/Battle-of-Warships-v1.72.12%28abzinid.com%29.apk" rel="nofollow">Battle of Warships v1.72.12 apk</a><br/>
<a class="bb" href="//dl.dropboxusercontent.com/s/s3wgrn0kbjcgc89/Battle-of-Warships-v1.71.4-Mod-%28abzinid.com%29.apk" rel="nofollow">Battle of Warships v1.71.4 MOD</a><br/>
{% elsif page.url == "/2019/04/latest-android-cover-fire-offline.html" %}
<a class="bb" href="http://dl.dropboxusercontent.com/s/o7qaq6m9haptn4z/cover-fire-mod.1.19.1%28abzinid.com%29.apk" rel=""nofollow>cover fire v1.19.1 apk</a><br/>
<a class="bb" href="http://dl.dropboxusercontent.com/s/3279jtpn7t750qu/cover-fire-1.19.1-obb%28abzinid.com%29.zip" rel="nofllow">cover fire v1.19.1 obb</a><br/>
<a class="bb" href="http://dl.dropboxusercontent.com/s/lpoq8f0uhu3uedg/Cover-Fire-v1.17.14-Mod.apk" rel="nofollow">cover fire V1.17.14 MOD</a><br/>
{% elsif page.url == "/2019/04/adblock-plus-apk.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1UvRdgseC5eos6pc8B6BjG8eF-8_5aPmb&export=download?Adblock-plus-v1.3" rel="nofollow">adblock plus v1.3 apk link 1</a><br/>
<a class="bb" href="https://ehiopener.tk/adblock-plus-apk" rel="nofollow">adblock plus v1.3 apk link 2</a><br/>
{% elsif page.url == "/2019/03/defence-legend-3-mod-apk.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1AaNnjbSQibjPuIsrguSZDz_2R-1jXl7E&export=download?Black-Desert-Mobile-v4.1.72" rel="nofollow">Defense Legend v2.5.6 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=17qJquwfvV6apl09ukrjYJpVm3CdcLZr7&export=download?Defense-Legend-v2.5.19-Mod" rel="nofollow">Defense Legend v2.5.6 MOD</a><br/>
{% elsif page.url == "/2018/05/grand-theft.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/1y62y6w0fey7urt/Grand-theft-auto-vice-city-v1.09.apk">Grand Vice City v1.09.Apk</a><br/>
	
<a class="bb" href="https://drive.google.com/uc?id=1Lv6mJxG0aiwWsT6omYCxRw08-GodWcSC&export=download?Grand-thift-v1.09" rel="nofollow">Grand Vice City v1.09.obb (google D)</a>
{% elsif page.url == "/2019/04/latest-android-game-harry-potter.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1duO8mzs0J5-7hcfxVOfk-oCcR-IUKUss&export=download?Harry-potter-v2.5.0" rel="nofollow">Harry Potter v2.5.0 (Arm) apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1ES4AXV9cnSw5FgxQVlcdNZarO8kuNiYx&export=download?Harry-potter-v2.5.0-arm64" rel="nofollow">Harry Potter v2.5.0 (Arm64) napk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1FOAASpwV_1nO6EPR62a2AuEnZsbEZh4c&export=download?Harry-potter-v2.5.0-MOD" rel="nofollow">">Harry Potter v2.5.0 (Mod) apk</><br/>
{% elsif page.url == "/2019/04/android-global-launcher-poco-customize.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1bb-KrFEsDnHB9AtX50fpMDc225dp3tNx&export=download?Poco-launcher-v2.7.4.3" rel="nofollow">POCO Launcher V2.7.4.3.Apk</a><br/>
{% elsif page.url == "/2019/02/last-shelter-survival-apk-and-obb.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1JobAownVZAekgLl5rrqNySXg_OvU7biu&export=download?last-shelter-v1.250-apk" rel="nofollow">Shelter Survival v1.250 Apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1W7KQn0yYmRb1rFp_F2Kw9sYHq1B4PpqL&export=download?last-shelter-v1.250-obb" rel="nofollow">Shelter Survival v1.250 Obb Data</a><br/>
{% elsif page.url == "/2019/04/ShipSim-2019-apk-plus-obb-data.html" %}
<a class="bb" href="http://dl14.apkawards.com/apk-mod_ZsGLgoYS5/com.ovilex.shipsim2019/com.ovilex.shipsim2019_1.1.5-APK_Award.apk" rel="nofollow">Ship Sim 2019 v1.1.5 apk</a><br/>
<a class="bb" href="http://dl14.apkawards.com/apk-mod_ZsGLgoYS5/com.ovilex.shipsim2019/com.ovilex.shipsim2019.zip" rel="nofollow">Ship Sim 2019 v1.1.5 obb</a><br/>
<a class="bb" href="http://dl14.apkawards.com/apk-mod_ZsGLgoYS5/com.ovilex.shipsim2019/com.ovilex.shipsim2019_1.1.5-APK_Award-Mod.apk" rel="nofollow">Ship Sim 2019 v1.1.5 MOD</a><br/>
{% elsif page.url == "/2019/02/advanced-downloade-manager-pror.html" %}
<a class="bb" href="https://www.up-4ever.org/mi1h2e143uhk" rel="nofollow">Advanced Download Manager Pro v8.2.0 apk</a><br/>
<a class="bb" href="https://www.up-4ever.org/ljykv2a1oubc" rel="nofollow">Advanced Download Manager Pro v8.0.0 MOD</a>
{% elsif page.url == "/2019/02/latest-clash-of-clans-mod.html" %}
<a class="bb" href="http://drive.google.com/uc?id=1F_TXBfwSd5mF4sI09PFgf2tbnpvYytjg&export=download?clash-clans-v13.180.8-arm" rel="nofollow">Clash Of Clans v13.180.8 ARM</a><br/>
<a class="bb" href="http://drive.google.com/uc?id=1SGcm0uYX63HBeJtZpB_F4t98fPlxRprH&export=download?clash-clans-v13.180.8-arm64" rel="nofollow">Clash Of Clans v13.180.8 ARM64</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1_5OpPwwF9wp6yZ0CVLIMNzysP7wyMLJ_&export=download?clash-clans-v13.180.8-x86" rel="nofollow">Clash Of Clans v13.180.8 X86</a><br/>
<a class="bb" href="http://drive.google.com/uc?id=1-ruyjdif1EdQ4sMMTKYEQ7rMM4Fm0Xpq&export=download?clash-clans-v13.180.8-mod" rel="nofollow">Clash Of Clans v13.180.8 mod</a><br/>
{% elsif page.url == "/2019/02/Clash-Royale-apk-and-MOD.html" %}
<a class="bb" href="https://dl.dropboxusercontent.com/s/8hxc4j70tpl7wbt/Clash-Royale-latest-v3.2.1-abzinid.com.apk" rel="nofollow">Clash Royale v3.2.1 apk</a><br/>
<a class="bb" href="http://dl.dropboxusercontent.com/s/z3q6ahwb6xip97v/Clash-Royale-v2.0.1-Mod-abzinid.com.apk" rel="nofollow">Clash Royale v2.0.1 MOD</a><br/>
{% elsif page.url == "/2018/12/latest-ehi-opener-and-http-injector.html" %}
<a class="bb" href="https://www.up-4ever.org/iers808rv9hj" rel="nofollow">Download ehi opener apk</a><br/>
<a class="bb" href="https://www.up-4ever.org/32u7c5uejuxl" rel="nofollow">Download http injector apk</a><br/>
<a class="bb" href="https://www.up-4ever.org/yiznx77go4bk" rel="nofollow">Download xposed installer apk</a><br/>
<a class="bb" href="https://www.up-4ever.org/55v4i599dw0s" rel="nofollow">Download kingroot apk</a><br/>
<a class="bb" href="https://www.up-4ever.org/5k8kpxphz2t6" rel="nofollow">Download root checker apk</a>
{% elsif page.url == "/2019/02/file-commander-manager-explorer.html" %}
<a class="bb" href="http://dl.apkgoogle.org/2019/5/File%20Commander-v5.10.31201_build_31201.apk" rel="nofollow">File Commander Manager V5.10 apk </a><br/>
<a class="bb" href="https://www.dropbox.com/s/3l3n2n9flip1sao/File-Commander-Analyzer-Drive-Secure-Convert-5.10.31201.apk?raw=1" rel="nofollow">File Commander Manager V5.10 | Dropbox </a><br/>
{% elsif page.url == "/2018/05/file-manger.html" %}
<a class="bb" href="http://dl.dropboxusercontent.com/s/y0sphz76jdxvqwa/com.lonelycatgames.Xplore-v4.20.04.apk">X-plore file manager v4.20.04 apk</a><br/>

<a class="bb" href="https://dl.dropboxusercontent.com/s/4ac3bot2x5bojyp/X-plore-File-Manager-v4.19.10.apk" rel="nofollow">X-plore file manager v4.19.10 apk</a><br/>
<a class="bb" href="https://dl.dropboxusercontent.com/s/xf2c6ghe1vzj5mj/X-plore-File-Manager-v4.18.12-Mod.apk" rel="nofollow">X-plore file manager v4.18.12 mod</a><br/>
{% elsif page.url == "/2019/01/last-empire-war-z-strategy-apk-and-obb.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1r9GFjObXW5k5rlmjydHfvaEpLlqUpVj7&export=download?last-empire-v1.0.296" rel="nofollow">Last- Empire v1.0.296 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1ZBHUsrLQsVsmkjvIp1ppHBPdC8ScazJL&export=download?last-empire-v1.0.296-obb" rel="nofollow">Last- Empire v1.0.296 obb</a><br/>
{% elsif page.url == "/2020/04/street-racing-3d.html" %}
<a class="bb" href="http://dl.dropboxusercontent.com/s/9k8q7rha3rmhp84/street-racing-3d-5.8.5.mod.apk" rel="nofollow">Street racing 3D v5.8.5 MOD</a><br/>
<a class="bb" href="http://drive.google.com/uc?id=1_mQb9Drvzn_oWeJcjJoHOQ1gaxnP2khq&export=download?street-racing-v5.8.0-mod" rel="nofollow">Street racing 3D v5.8.0 MOD</a><br/>
{% elsif page.url == "/2020/04/sniper-strike.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1DhOA1PC9lwhpyuJ9vRS7RsWCzMZxgYYD&export=download?sniper-strike-v500014-mod" rel="nofollow">Sniper Strike v500014 MOD</a><br/>
{% elsif page.url == "/2020/04/black-desert-mobile.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/qsjza81ellcqdwk/Black-Desert-Mobile-v4.2.6.apk">Black Desert Mobile v4.2.6 apk</a><br/>

<a class="bb" href="https://drive.google.com/uc?id=1vmttqo6ONYLHyfdkHCTlBww94o5K8PGq&export=download?Black-Desert-Mobile-v4.1.76" rel="nofollow">Black Desert Mobile v4.1.76 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1bA6Pf0ok5Mjb3a88i8RnGAZzae08rb_O&export=download?Black-Desert-Mobile-v4.1.72" rel="nofollow">Black Desert Mobile v4.1.72 apk</a><br/>
{% elsif page.url == "/2020/04/bright-memory-mobile.html" %}
<a class="bb" href="http://drive.google.com/uc?id=1Xd9i5-70y1nkaHc0cv_HFjMGQFrvJuHa&export=download?bright-memory-v1.3" rel="nofollow">Bright Memory Mobile v1.3 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1Fgh9H68ku2izF6idTOh7Suy0bn6m5naL&export=download?bright-memory-v1.3-data" rel="nofollow">Bright Memory Mobile v1.3 data</a><br/>
{% elsif page.url == "/2018/05/dream-league.html" %}
<a class="bb" href="https://www.abzinid.com/dream-league-soccer-2018-and-how-to-install-obb-data-file" rel="nofollow">Dream league obb external links</a><br/>

{% elsif page.url == "/2019/11/android-oinline-game-crime-city.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/r15ddr3pg3864r8/com.funzio.crimecity_2020-06-10.apk">Latest Crime City v9.1.0 apk</a>
<span class="bb">Latest Crime City v9.1.0 apk</span>

{% elsif page.url == "/2020/03/disorder.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1l0kcwVx0jCDMyvhgW4Ts6-euSGb8x3GL&export=download?Disorder-v1.3" rel="nofollow"> Download Disorder.1.3.apk</a><br/>
{% elsif page.url == "/2018/05/lucky-patcher.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/l0mbjzcgaxjfach/Lucky-patcher-8.7.1-installer.apk"> Latest lucky patcher v8.7.1 apk</a>

{% elsif page.url == "/2019/12/latest-android-game-tactical-monsters.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/ivpda0mueqvdvmk/Tactical-Monsters-Rumble-Arena-v1.16.6.apk">Tactical Monsters Rumble Arena v1.16.6.apk</a><br/>
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/ivpda0mueqvdvmk/Tactical-Monsters-Rumble-Arena-v1.16.6-MOD.apk">Tactical Monsters Rumble Arena v1.16.6 MOD.apk</a>

{% elsif page.url == "/2020/03/call-of-duty.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1immUruf3qdZBtOZsDEE3iTzXnRTY51ok&export=download?call-duty-v1.0.11-apk" rel="nofollw">Call of Duty v1.0.11 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1dOdc32dlgzduTaWuvHC94t-APsSGq6I5&export=download?call-duty-v1.0.11-obb" rel="nofollw">Call of Duty v1.0.11 obb data</a><br/>

{% elsif page.url == "/2019/09/latest-harmony-relax-melodies-mod-apk.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/x58ocemmz45893v/Harmony-Music-Notes-v3.6.apk"> Harmony Music v3.6.apk</a><br/>
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/g2ugplo0qi1ni7c/Harmony-Music-Notes-v3.2-MOD.apk"> Harmony Music v3.2 MOD</a>

{% elsif page.url == "/2019/09/full-onkyo-hf-player-all-features-unlocked.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/9teqpdkozqog1ld/onkyo-hf-player-full-v2.7.0.apk">Onkyo HF Player v2.7.0 unlocked</a>

{% elsif page.url == "/2019/09/run-mulitable-apps-with-app-cloner.html" %}
<a class="bb" href="http://drive.google.com/uc?id=1F_7QySq8r5jJfJQiITcWVbb89DAHY9Kp&export=download?app-cloner-v2.2.2" title="App Cloner v2.2.2" rel="nofollow">App cloner v2.2.2.apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1XI_3t8eY2zh-kGRk6c6sNdEw25nWKOjy&export=download?App-Cloner-v2.1.1-Full.apk" rel="nofollow">App cloner Full v2.1.1 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=12dNw-TLtDvuZVLXFDpDySwv-Z6d9Xunf&export=download?App-Cloner-v1.5.32-Mod.apk" rel="nofollow">App cloner MOD v1.5.32 apk</a><br/>
{% elsif page.url == "/2019/04/latest-nova-legacy-mod-apk-for-android.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/1awux6qy19wqpvz/N.O.V.A.Legacy-5.8.1c-original.apk">N.O.V.A Legacy v5.8.1c original apk</a><br/>
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/w9z0zuajdrrc2wh/N.O.V.A.Legacy_2_5.8.0m-Mod.apk">N.O.V.A Legacy v5.8.0m mod apk</a>

{% elsif page.url == "/2020/03/brutal-age-horde-invasion.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/tc4uocmhau1oiwi/Brutal-Age-Horde-Invasion-v0.7.20.apk"> Brutal Age Horde Invasion v7.20.apk</a><br/>
<a class="bb" href="https://dl.apkwhale.com/wp-content/MOD/Brutal-Age-Horde-Invasion-0.7.10-Apkwhale.com.apk" rel="nofollow"> Brutal Age Horde Invasion MOD v7.10.apk</a><br/>

{% elsif page.url == "/2019/09/make-multi-accounts-with-parallel-space.html" %}
<a class="bb" target="_blank" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/ti83t3f6fnki6h3/parallel-space-v4.0.8934.apk">Parallel space v4.8934.apk</a>

{% elsif page.url == "/2019/08/amazing-spider-man.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1-nOuCVWvn0-axiNpWMvl-CxQHWEGnBmA&export=download?Amazing-Spider-Man-2-v1.2.8d" rel="nofollow">Amaizing Spider Man 1.2.8 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1kEPjBck7gl_chCylkBMX-QxZaUBvQPzU&export=download?Amazing-Spider-Man-2-v1.2.8d-main.obb" rel="nofollow">Amazing Spider Man 2-v1.2.8d main obb</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1SGgRgFbGbm88-Hqs4wVqDjas6Vtg5K8-&export=download?Amazing-Spider-Man-2-v1.2.8d-patch" rel="nofollow">Amaizing Spider Man 1.2.8 patch obb</a><br/>
{% else %}
<a href="https://www.abzinid.com">Download android mod - abzinid.com<span class="fa fa-info-circle errspan"></span></a><br/>
{% endif %}