{% if page.url == "/dl/brutal-age-apk.html" %}
<a class="bb1 bb" href="https://f2d.oiin.ga/link/Brutal-Age-Horde-Invasion-v0.8.18.apk">{{page.title}}</a>
{% elsif page.url == "/dl/winvibe-v1-4-4-apk.html" %}
<a class="bb1 bb" href="https://f2d.oiin.ga/link/winvibe-v1.4.4.apk">Download winvibe m p3 player v1.4.4.apk</a>
{% elsif page.url == "/dl/winvibe-v1-3-4-apk.html" %}
<a class="bb" href="http://drive.google.com/uc?id=1bbtGpMr4pceVlJEHCzRsXi7PmcU5iQWV&export=download?winvibe-v1.3.4" rel="nofollow">WinVibe Music Player original v1.3.4 apk</a>
{% elsif page.url == "/dl/winvibe-mod-apk.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1ax3iJhTPftGND2T6fcy571Lz9TxuOcbl&export=download?winvibe-v1.3.4-Pro" rel="nofollow">WinVibe Music Player MOD apk</a>
{% elsif page.url == "/dl/top-drives-racing-car-apk.html" %}
<a class="bb" href="/go/?url=http://s7.rexdl.com/android/game/Top-Drives-v12.00.03.11563-www.ReXdl.com.apk">Top Drives racing game 12.00.03 apk</a>
{% elsif page.url == "/dl/top-drives-racing-car-obb.html" %}
<a class="bb" href="/go/?url=http://s7.rexdl.com/android/game/Top-Drives-v12.00.03.11563-www.ReXdl.com.zip">Top Drives racing game 12.00.03 apk</a>

{% elsif page.url == "/dl/brutal-age-mod.html" %}
<a class="bb" href="https://dl.apkwhale.com/wp-content/MOD/Brutal-Age-Horde-Invasion-0.7.10-Apkwhale.com.apk">{{page.title}}</a>
{% elsif page.url == "/dl/bright-memory-apk.html" %}
<a class="bb" href="http://drive.google.com/uc?id=1Xd9i5-70y1nkaHc0cv_HFjMGQFrvJuHa&export=download?bright-memory-v1.3" rel="nofollow">{{page.title}}</a>
{% elsif page.url == "/dl/bright-memory-obb.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1Fgh9H68ku2izF6idTOh7Suy0bn6m5naL&export=download?bright-memory-v1.3-data" rel="nofollow">{{page.title}}</a>
{% elsif page.url == "/dl/black-desert-apk.html" %}
<a class="bb" href="https://f2d.oiin.ga/link/Black-Desert-Mobile-v4.2.24.apk">{{page.title}}</a>
{% elsif page.url == "/dl/black-desert-4-2-10-apk.html" %}
<a class="bb" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/l00er9njz5ptpyz/Black-Desert-Mobile-v4.2.10.apk">{{page.title}}</a>
{% elsif page.url == "/dl/lucky-patcher-8-8-9-apk.html" %}
<a class="bb" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/e33fefrs089c2wx/Installer_8.8.9.apk">lucky patcher 8.8.9 apk</a>
{% elsif page.url == "/dl/lucky-patcher-8-7-1-apk.html" %}
<a class="bb" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/l0mbjzcgaxjfach/Lucky-patcher-8.7.1-installer.apk">lucky patcher v8.7.1 apk</a>
{% elsif page.url == "/dl/clash-of-clans-apk.html" %}
<a class="bb" href='https://f2d.oiin.ga/link/clash-of-clans-v13.369.18.apk'>{{page.title}}</a>
{% elsif page.url == "/dl/clash-of-clans-mod.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1-ruyjdif1EdQ4sMMTKYEQ7rMM4Fm0Xpq&export=download?clash-clans-v13.180.8-mod">{{page.title}}</a>
{% elsif page.url == "/dl/crime-city-apk.html" %}
<a class="bb" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/r15ddr3pg3864r8/com.funzio.crimecity_2020-06-10.apk">Latest Crime City v9.1.0 apk</a>
<!--<span class="bb">Latest Crime City v9.1.0 apk</span>-->
{% elsif page.url == "/dl/azwhatsapp-red.html" %}
<a class="bb" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/oqk2xxq2g2v8vcy/AZWA2_v10.50_By.Ali_Alzaabi.apk">AZ whatsapp 10.50 Red apk</a>
{% elsif page.url == "/dl/azwhatsapp-green.html" %}
<a class="bb" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/kixn2i5yalwpj9n/WA+_v10.50_By.Ali_Alzaabi.apk">AZ whatsapp 10.50 green apk</a>
{% elsif page.url == "/dl/azwhatsapp-purple.html" %}
<a class="bb" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/oc97kqdtrodisz4/AZWA.A_v10.50_By.Ali_Alzaabi.apk">AZ whatsapp 10.50 Purple apk</a>
{% elsif page.url == "/dl/azwhatsapp-blue.html" %}
<a class="bb"  rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/p496gcqmxn7ytow/AZWA_v10.50_By.Ali_Alzaabi.apk">AZ whatsapp 10.50 blue apk</a>
{% elsif page.url == "/dl/street-racing-3d-mod.html" %}
<a class="bb" href="http://dl.dropboxusercontent.com/s/9k8q7rha3rmhp84/street-racing-3d-5.8.5.mod.apk" rel="nofollow">Street racing 3D v5.8.5 MOD</a>
{% elsif page.url == "/dl/sniper-strike-mod.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1DhOA1PC9lwhpyuJ9vRS7RsWCzMZxgYYD&export=download?sniper-strike-v500014-mod" rel="nofollow">Sniper Strike v500014 MOD</a>
{% elsif page.url == "/dl/tactical-monster-rumble-arena-apk.html" %}
<a class="bb" href="https://f2d.oiin.ga/link/Tactical-Monsters-Rumble-Arena-v1.18.4.apk">Tactical Monsters 1.18.4 apk</a>
{% elsif page.url == "/dl/sniper-strike-mod.html" %}
<a class="bb" href="https://f2d.oiin.ga/link/Tactical-Monsters-Rumble-Arena-v1.18.1-Mod.apk">Tactical Monsters 1.18.4 mod</a>
{% elsif page.url == "/dl/tactical-monsters-rumble-arena-v1-16-6-mod.html" %}
<a class="bb" rel="nofollow" href="https://one.link2app.workers.dev/go/www.mediafire.com/file/ivpda0mueqvdvmk/Tactical-Monsters-Rumble-Arena-v1.16.6-MOD.apk">Tactical Monsters Rumble v1.16.6 MOD.apk</a>
{% elsif page.url == "/dl/disorder-android-game-apk.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1l0kcwVx0jCDMyvhgW4Ts6-euSGb8x3GL&export=download?Disorder-v1.3" rel="nofollow"> Download Disorder.1.3.apk</a>
{% elsif page.url == "disorder-android-game.html" %}
<span class="bb">Mod not released yet</span>
{% elsif page.url == "/dl/fortnite-battle-royale-apk.html" %}
<a class="bb" href="https://f2d.oiin.ga/apps/link/Fortnite-v14.50.0-b14612224-.apk" rel="nofollow">Fortnite v14.50.0 .apk</a>
{% elsif page.url == "/dl/fortnite-installer-apk.html" %}
<a class="bb" href="https://f2d.oiin.ga/apps/link/fortnite-installer.apk">fortnite installer apk</a>
{% elsif page.url == "/dl/call-of-duty-apk.html" %}
<a class="bb" href="https://one.link2app.workers.dev/go/dl15.apkawards.com/Apkmod_xpk/com.activision.callofduty.shooter/com.activision.callofduty.shooter_1.0.17-APK_Award.apk">Download Call of Duty v1.0.17 apk</a>
{% elsif page.url == "/dl/call-of-duty-obb.html" %}
<a class="bb" href="https://one.link2app.workers.dev/go/s7.rexdl.com/android/game/Call-of-Duty-Mobile-v1.0.17-www.ReXdl.com.zip">Download Call of Duty v1.0.17 obb</a>
{% elsif page.url == "/dl/call-of-duty.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1immUruf3qdZBtOZsDEE3iTzXnRTY51ok&export=download?call-duty-v1.0.11-apk" rel="nofollw">Call of Duty v1.0.11 apk</a><br/>

{% else %}
Sorry! error occurred <span class="fa fa-info-circle errspan"></span><br/>
{% endif %}