{% if page.is_post %}
  {% assign type = "article" %}
{% else %}
  {% assign type = "website" %}
{% endif %}
  <!-- http://ogp.me/ -->
  <meta property="og:type" content="{{ type }}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.description }}{% endif %}" />
  {% if page.image %}
  <meta property="og:image" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}{{ page.image.path }}" />
  <meta property="og:image:width" content="{{ page.image.width }}" />
  <meta property="og:image:height" content="{{ page.image.height }}" />
  {% endif %}
  {% if page.is_post %}
  <meta property="og:site_name" content="{{ site.title }}" />
  {% endif %}

	<!-- json -->



	<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "@id": "{{ page.url }}",
  "url": "{{ page.url }}",
  "mainEntityOfPage": {
    "@type": "BlogPosting",
    "@id": "{{ page.url }}"
  },{% if page.headline %}
  "headline": "{{page.title}}",{% endif %}
  "description": "{% if post.description.size > 20 %}{{ post.description | truncate: 120 }}{% else %}{{ post.content | strip_html | truncate: 120 }} {% endif %}",
  "datePublished": "{{ page.last_modified_at | date: "%b %-d, %Y" }}",
  "image": {
    "@type": "ImageObject",
    "url": "{{page.image}}",
    "width": 1200,
    "height": 630
  },
  "author": {
    "@type": "Person",
    "name": "{{page.author}}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{site.name}}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{https://via.placeholder.com/250x60/09f/fff.png?text=json}}",
      "width": 250,
      "height": 60
    }
  }
}
</script>

===============
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "BlogPosting",
		"url": "{{ site.url }}{{ page.url }}",
		"name": {{ page.title | jsonify }},
		"headline": {{ page.title | jsonify }},
		"keywords": {{ page.tags | join: ',' | jsonify }},
		"description": {{ page.excerpt | strip_newlines | strip | jsonify }},
		"articleBody": {{ page.content | strip_html | jsonify }},
		"datePublished": {{ page.date | jsonify }},
		"dateModified": {{ page.last_modified_at | default: page.date | jsonify }},
		"author": {
			"@type": "Person",
			"name": {{ site.author_name | jsonify }},
			"givenName": {{ site.author_first_name | jsonify }},
			"familyName": {{ site.author_last_name | jsonify }},
			"email": {{ site.email | jsonify }}
		},
		"publisher": {
			"@type": "Organization",
			"name": {{ site.title | jsonify }},
			"url": "{{ site.url }}",
			"logo": {
				"@type": "ImageObject",
				"width": 32,
				"height": 32,
				"url": "https://via.placeholder.com/250x60/09f/fff.png?text=json"
			}
		},
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": "{{ site.url }}{{ page.url }}"
		},
		"image": {
			"@type": "ImageObject",
			"width": {{ page.img_width | default: site.img_width }},
			"height": {{ page.img_height | default: site.img_height }},
			"url": "{{ site.url }}{{ page.img_url | default: site.img_url }}"
		}
	}
	</script>