
{% if page.url == "/link/Advanced-Download-Manager-apk" %}
<a class="bb" href="https://ehiopener.tk/Advanced-Download-Manager-apk">{{page.title}}</a>

{% elsif page.url == "/link/Advanced-download-manager-mediafire" %}
<a class="bb" href="https://ehiopener.tk/ADM-mediafire">{{page.title}}</a>

{% elsif page.url == "/link/ADM-mod-pro-apk" %}
<a class="bb" href="https://www.up-4ever.org/ll7n3iqg10ho">{{page.title}}</a>

{% elsif page.url == "/link/clash-of-clans-v13.0.16-apk" %}
<a class="bb" href="https://www.mediafire.com/file/ivr2ggq4lbwdub8/Clash-of-Clans-v13.0.16.apk">{{page.title}}</a>

{% elsif page.url == "/link/clash-of-clans-v13.16-X86-apk" %}
<a class="bb" href="https://www.mediafire.com/file/g5v9apflmc37xq8/Clash-of-Clans-v13.0.16-X86.apk">{{page.title}}</a>

{% elsif page.url == "/link/clash-of-clans-v13.0-16-Arm-apk" %}
<a class="bb" href="https://www.mediafire.com/file/f1pxxdvupvafuaw/Tactical-Monsters-Rumble-Arena-v1.15.10.apk">{{page.title}}</a>

{% elsif page.url == "/link/Clash-of-Clans-apk" %}
<a class="bb" href="https://ehiopener.tk/Clash-of-Clans-apk">{{page.title}}</a>

{% elsif page.url == "/link/ClashofClans-original-apk" %}
<a class="bb" href="https://www.mediafire.com/file/c6fziawek0s5t8j/Clash-of-Clans-v11.185.15-abzinid.com.apk">{{page.title}}</a>

{% elsif page.url == "/link/Clash-of-Clans-Mod" %}
<a class="bb" href="https://www.up-4ever.org/shpcefcxbl0e">{{page.title}}</a>

{% elsif page.url == "/link/LastEmpire-War-Z-Strategy-v1-0-271-apk" %}
<a class="bb" href="https://www.mediafire.com/file/qxu1ahd3f2jjvnd/Last.Empire.War.Z.Strategy.v1.0.271.apk">{{page.title}}</a>

{% elsif page.url == "/link/Last-Empire-Strategy-v1-0-271-obb" %}
<a class="bb" href="https://www.up-4ever.org/k06sn05e4adi">{{page.title}}</a>

{% elsif page.url == "/link/Last-Empire-War-z-Strategy-v1-0-233-apk" %}
<a class="bb" href="https://ehiopener.tk/lastwars-apk">{{page.title}}</a>

{% elsif page.url == "/link/Last-Empire-War-z-Strategy-v1-0-233-obb-zip" %}
<a class="bb" href="https://ehiopener.tk/lastwars-obb">{{page.title}}</a>

{% elsif page.url == "/link/Dream-League-Soccer-2018-v5-053-apk" %}
<a class="bb" href="https://www.up-4ever.org/wezofhc1xyq6">{{page.title}}</a>

{% elsif page.url == "/link/main-59-com-firsttouchgames-dls3-obb-zip" %}
<a class="bb" href="https://www.up-4ever.org/osuxgmf5mlsr">{{page.title}}</a>

{% elsif page.url == "/link/ES-file-Explorer-apk" %}
<a class="bb" href="https://www.up-4ever.org/p13ii1ymcv5o">{{page.title}}</a>

{% elsif page.url == "/link/X-plorer-file-manger" %}
<a class="bb" href="https://www.up-4ever.org/n3e1ppr4fw6b">{{page.title}}</a>

{% elsif page.url == "/link/X-plorer-file-manger-apk" %}
<a class="bb" href="https://www.up-4ever.org/n3e1ppr4fw6b">{{page.title}}</a>

{% elsif page.url == "/link/Root-Checker-apk" %}
<a class="bb" href="https://www.up-4ever.org/detc54wd1ds4">{{page.title}}</a>

{% elsif page.url == "/link/kingroot-apk" %}
<a class="bb" href="https://www.up-4ever.org/55v4i599dw0s">{{page.title}}</a>

{% elsif page.url == "/link/xposed-installer-apk" %}
<a class="bb" href="https://www.up-4ever.org/yiznx77go4bk">{{page.title}}</a>

{% elsif page.url == "/link/ehiopener47-apk" %}
<a class="bb" href="https://www.up-4ever.org/iers808rv9hj">{{page.title}}</a>

{% elsif page.url == "/link/Http-injector43073-apk" %}
<a class="bb" href="https://www.up-4ever.org/32u7c5uejuxl">{{page.title}}</a>

{% elsif page.url == "/link/ehiopener-unlocker" %}
<a class="bb" href="https://www.up-4ever.org/hk3d6edaiar0">{{page.title}}</a>

{% elsif page.url == "/link/http-injector42371-apk" %}
<a class="bb" href="https://www.up-4ever.org/1wkyr4jap4ic">{{page.title}}</a>

{% elsif page.url == "/link/easeus-mobisaver-recover-apk" %}
<a class="bb" href="https://www.up-4ever.org/aqwbr2t3m4mw">{{page.title}}</a>

{% elsif page.url == "/link/psyphon-pro-lite-handler-vpn-apk" %}
<a class="bb" href="https://www.up-4ever.org/jwo1pgu66poz">{{page.title}}</a>

{% elsif page.url == "/link/Psiphon82HandlerUI-apk" %}
<a class="bb" href="https://www.up-4ever.org/sv769134hokc">{{page.title}}</a>

{% elsif page.url == "/link/Ultrasur-Handler-VPN-apk" %}
<a class="bb" href="https://www.up-4ever.org/izjmg5ofa9q0">{{page.title}}</a>

{% elsif page.url == "/link/netify-vpn.apk" %}
<a class="bb" href="https://www.up-4ever.org/xb7hfe04cns4">{{page.title}}</a>

{% elsif page.url == "/link/ehiopener48" %}
<a class="bb" href="https://www.up-4ever.org/w3hflmi12iz9">{{page.title}}</a>

{% elsif page.url == "/link/injectotr341" %}
<a class="bb" href="https://www.up-4ever.org/hx9cn1j62qa2">{{page.title}}</a>

{% elsif page.url == "/link/ehiopener46" %}
<a class="bb" href="https://www.up-4ever.org/wwgs9z3dj4wy">{{page.title}}</a>

{% elsif page.url == "/link/xposed-installer" %}
<a class="bb" href="https://www.up-4ever.org/yiznx77go4bk">{{page.title}}</a>

{% elsif page.url == "/link/http-injector-4-5-7" %}
<a class="bb" href="https://www.up-4ever.org/snffvsd4geqw">{{page.title}}</a>

{% elsif page.url == "/link/eproxy-nightly-v-2-7-29" %}
<a class="bb" href="https://www.up-4ever.org/3s4mxm32ezy8">{{page.title}}</a>

{% elsif page.url == "/link/epro-opener-v0-3-6" %}
<a class="bb" href="https://www.up-4ever.org/o7lj82f4g9w2">{{page.title}}</a>

{% elsif page.url == "/link/kingroot" %}
<a class="bb" href="https://www.up-4ever.org/r3v5eujxfpc6">{{page.title}}</a>

{% elsif page.url == "/link/kpn-tunnel-revolution" %}
<a class="bb" href="https://www.up-4ever.org/5joygbtosfo4">{{page.title}}</a>

{% elsif page.url == "/link/ktr-opener" %}
<a class="bb" href="https://www.up-4.net/ghdaiev2x21l">{{page.title}}</a>

{% elsif page.url == "/link/kpn-tunnel" %}
<a class="bb" href="https://www.up-4ever.org/sdd14dml91rx">{{page.title}}</a>

{% elsif page.url == "/link/kpn-opener-v0-3-apk" %}
<a class="bb" href="https://www.up-4ever.org/l1453utiwmzm">{{page.title}}</a>

{% elsif page.url == "/link/sedc-ehi-config-1" %}
<a class="bb" href="https://www.up-4ever.net/4gn0i1pm5t5r">{{page.title}}</a>

{% elsif page.url == "/link/sedc-ehi-config-2" %}
<a class="bb" href="https://www.up-4ever.net/n8y6xihg05v1">{{page.title}}</a>

{% elsif page.url == "/link/sedc-ehi-config-3" %}
<a class="bb" href="https://www.up-4ever.net/a23suqjb1hyh">{{page.title}}</a>

{% elsif page.url == "/link/sedc-config-spark-1" %}
<a class="bb" href="https://www.up-4ever.net/g2nwnhq34nz1">{{page.title}}</a>

{% elsif page.url == "/link/sedc-config-spark-2" %}
<a class="bb" href="https://www.up-4ever.net/qukvttebp5v2">{{page.title}}</a>

{% elsif page.url == "/link/sedc-config-spark-3" %}
<a class="bb" href="https://www.up-4ever.net/c65bxm8ti8od">{{page.title}}</a>

{% comment %}

older links and pages -- /link/download -- added to sitemap and have download links

{% endcomment %}
{% elsif page.url == "/oiin/9mobile-ehi-cofig-500mb.html" %}
<a class="bb" href="https://www.up-4ever.org/244vrcbtsebp" rel="nofollow">{{ page.title }}</a>

{% elsif page.url == "/oiin/9mobile-ehi-config-2giga.html" %}
<a class="bb" href="https://www.up-4ever.org/d2d2zekjvkty" rel="nofollow">{{ page.title }}</a>

{% elsif page.url == "/oiin/http-injector-apk.html" %}
<a class="bb" href="https://www.up-4ever.org/2jydj5pd7lud" rel="nofollow">{{ page.title }}</a>

{% elsif page.url == "/oiin/flow-ehi-config-file.html" %}
<a class="bb" href="https://www.up-4ever.org/red7bh9frh3m" rel="nofollow">{{ page.title }}</a>

{% elsif page.url == "/oiin/mtn-pluse-month-sg-ehi.html" %}
<a class="bb" href="https://www.up-4ever.org/x2x6o71mb1op" rel="nofollow">{{ page.title }}</a>

{% elsif page.url == "/oiin/mtn-mpluse-month-ehi.html" %}
<a class="bb" href="https://www.up-4ever.org/izjf28o7e3jw" rel="nofollow">{{ page.title }}</a>

{% elsif page.url == "/oiin/ehi-config-1.html" %}
<a class="bb" href="https://www.up-4ever.org/6i6dpprd3ysz" rel="nofollow">{{ page.title }}</a>

{% elsif page.url == "/oiin/ehi-config-2.html" %}
<a class="bb" href="https://www.up-4ever.org/5g38sfvrhuzj" rel="nofollow">{{ page.title }}</a>

{% elsif page.url == "/oiin/ehi-config-3.html" %}
<a class="bb" href="https://www.up-4ever.org/71thnglu5qc3" rel="nofollow">{{ page.title }}</a>

{% elsif page.url == "/oiin/ehi-config-4.html" %}
<a class="bb" href="https://www.up-4ever.org/tlewxneato4f" rel="nofollow">{{ page.title }}</a>

{% elsif page.url == "/oiin/gmt-first-ehi-config.html" %}
<a class="bb" href="https://www.up-4ever.org/cmn19rzzo4p6" rel="nofollow">{{ page.title }}</a>

{% elsif page.url == "/oiin/gmt-second-ehi-config.html" %}
<a class="bb" href="https://www.up-4ever.org/7h726x52idz4" rel="nofollow">{{ page.title }}</a>

{% elsif page.url == "/oiin/gmt-third-ehi-config.html" %}
<a class="bb" href="https://www.up-4ever.org/zpgblgehjatn" rel="nofollow">{{ page.title }}</a>

{% elsif page.url == "/oiin/gmt-fourth-ehi-config.html" %}
<a class="bb" href="https://www.up-4ever.org/m2a0dead51yj" rel="nofollow">{{ page.title }}</a>

{% elsif page.url == "/oiin/indosat-opok-200-ok-ehi.html" %}
<a class="bb" href="https://www.up-4ever.org/vzicbt3v72ko" rel="nofollow">{{ page.title }}</a>

{% elsif page.url == "/oiin/config-indosat-V-2-ehi.html" %}
<a class="bb" href="https://www.up-4ever.org/5a746ajepwwv" rel="nofollow">{{ page.title }}</a>

{% elsif page.url == "/oiin/one-month-indosat-ehi.html" %}
<a class="bb" href="https://www.up-4ever.org/2qaqas4xl208" rel="nofollow">{{ page.title }}</a>

{% elsif page.url == "/oiin/axis-opok-limit-1gb-ehi.html" %}
<a class="bb" href="https://www.up-4ever.org/5fzjfnz13cca" rel="nofollow">{{ page.title }}</a>

{% elsif page.url == "/oiin/thirdy-ssh-ssl-vpn-apk.html" %}
<a class="bb" href="http://drive.google.com/uc?id=1w0Kr4UgzjP1uSq5xcweX8XF7g_B2u_YT&export=download?Thirdy-SSH-SSL-VPN" rel="nofollow">{{ page.title }}</a>
<!--<span class="bb">{{ .title }}</span>-->

{% elsif page.url == "/oiin/spc-ktr-sun-june-7d-ktr.html" %}
<a class="bb" href="https://www.up-4ever.org/c9ts2cv5iuv3">{{ page.title }}</a>
<!--<a class="bb" href="/oiin/config/spc-ktr-sun-june-7d.ktr">{{ page.title }}</a>-->

{% elsif page.url == "/oiin/gigastories-june10-ehi.html" %}
<a class="bb" href="https://www.up-4ever.org/ormzpzgdi68e">{{ page.title }}</a>
<!--<a class="bb" href="/oiin/config/gigastories-june10.ehi">{{ page.title }}</a>-->

{% elsif page.url == "/oiin/gigavedio-june10-7d-ehi.html" %}
<a class="bb" href="https://www.up-4ever.org/lvfjx9pppwcs">{{ page.title }}</a>
<!--<a class="bb" href="/oiin/config/gigavedio-june10-7d.ehi">{{ page.title }}</a>-->

{% elsif page.url == "/oiin/spc-globe-tm-june10-ehi.html" %}
<a class="bb" href="https://www.up-4ever.org/ar48smpv4xk3">{{ page.title }}</a>
<!--<a class="bb" href="/oiin/config/spc-globe-tm-june10.ehi">{{ page.title }}</a>-->

{% elsif page.url == "/oiin/spc-ml10-june-7d-ehi.html" %}
<a class="bb" href="https://www.up-4ever.org/9hx1uw9e76tu">{{ page.title }}</a>
<!--<a class="bb" href="/oiin/config/spc-ml10-june-7d.ehi">{{ page.title }}</a>-->

{% elsif page.url == "/oiin/spc-sun-june-7d-ehi.html" %}
<a class="bb" href="https://www.up-4ever.org/4fs5y78qy902">{{ page.title }}</a>
<!--<a class="bb" href="/oiin/config/spc-sun-june-7d.ehi">{{ page.title }}</a>-->

{% elsif page.url == "/oiin/mtn-ehi-indonesia.html" %}
<a class="bb" href="https://www.up-4ever.org/x2x6o71mb1op">{{ page.title }}</a>
{% elsif page.url == "/oiin/mtn-ehi-config-wifi-share.html" %}
<a class="bb" href="https://www.up-4ever.org/izjf28o7e3jw">{{ page.title }}</a>

{% comment %}===============
							============{% endcomment %}

{% elsif page.url == "/oiin/digital-ocean-server-1.html" %}
<a class="bb" href="/">{{ page.title }}</a>
<!-- no config file-->
{% elsif page.url == "/oiin/digital-ocean-server-2.html" %}
<a class="bb" href="/">{{ page.title }}</a>
<!-- no config file-->

{% elsif page.url == "/oiin/jamaica-ehi-fr.html" %}
<a class="bb" href="/">{{ page.title }}</a>
<!-- no config file-->

{% elsif page.url == "/oiin/30-Days-goWatch-play-ehi.html" %}
<a class="bb" href="/">{{ page.title }}</a>
<!-- no config file-->
{% elsif page.url == "/oiin/30-days-globe-switch-ehi.html" %}
<a class="bb" href="/">{{ page.title }}</a>
<!-- no config file-->

{% elsif page.url == "/oiin/mtn-singapore-ehi-config.html" %}
<a class="bb" href="/">{{ page.title }}</a>
<!-- no config file-->

{% elsif page.url == "/oiin/mtn-canada-ehi-one-month.html" %}
<a class="bb" href="/">{{ page.title }}</a>
<!-- no config file-->

{% elsif page.url == "/oiin/gtm-no-load-1month-ehi.html" %}
<a class="bb" href="/">{{ page.title }}</a>
<!-- no config file-->

{% elsif page.url == "/oiin/ehi-config-sun-no1.html" %}
<a class="bb" href="/">{{ page.title }}</a>
<!-- no config file-->
{% elsif page.url == "/oiin/ehi-config-sun-no1.html" %}
<a class="bb" href="/">{{ page.title }}</a>
<!-- no config file-->
{% elsif page.url == "/oiin/gmt-watch-ehi.html" %}
<a class="bb" href="/">{{ page.title }}</a>
<!-- no config file-->
{% elsif page.url == "/oiin/gmt-promo-ehi.html" %}
<a class="bb" href="/">{{ page.title }}</a>
<!-- no config file-->
{% elsif page.url == "/oiin/tnt-lmc-ehi.html" %}
<a class="bb" href="/">{{ page.title }}</a>
<!-- no config file-->
{% elsif page.url == "/oiin/ggs-lmc-ehi.html" %}
<a class="bb" href="/">{{ page.title }}</a>
<!-- no config file-->
{% elsif page.url == "/oiin/tu-lmc-ehi.html" %}
<a class="bb" href="/">{{ page.title }}</a>
<!-- no config file-->

{% elsif page.url == "/oiin/svc-config-1.html" %}
<a class="bb" href="https://www.up-4ever.org/xy35zuh52xk9" rel="nofollow">{{ page.title }}</a>
{% elsif page.url == "/oiin/svc-config-2.html" %}
<a class="bb" href="https://www.up-4ever.org/26aqgs06p455" rel=" nofollow">{{ page.title }}</a>
{% elsif page.url == "/oiin/x-ehi-config-canada-server.html" %}
<a class="bb" href="/">{{ page.title }}</a>
<!-- no config file-->
{% elsif page.url == "/oiin/x-ehi-config-france-server.html" %}
<a class="bb" href="/">{{ page.title }}</a>
<!-- no config file-->

{% else %}
<a href="https://www.abzinid.com">Download Android mod - abzinid.com</a>
{% comment %}<span class="bb" onclick="backhome()">Download Android mod apk</span>
<script type="text/javascript">
function backhome() {window.location.replace("https://www.abzinid.com");}
</script> {% endcomment %}
	{% endif %}