{% if page.url == "/oiin/9mobile-ehi-cofig-500mb.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/244vrcbtsebp" rel="nofollow">{{ page.title }}</a>-->
<span class="bb">{{page.title}}</span>
{% elsif page.url == "/oiin/9mobile-ehi-config-2giga.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/d2d2zekjvkty" rel="nofollow">{{ page.title }}</a>-->
<span class="bb">{{page.title}}</span>

{% elsif page.url == "/oiin/http-injector-apk.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/2jydj5pd7lud" rel="nofollow">{{ page.title }}</a>-->
<span class="bb">{{page.title}}</span>

{% elsif page.url == "/oiin/flow-ehi-config-file.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/red7bh9frh3m" rel="nofollow">{{ page.title }}</a>-->
<span class="bb">{{page.title}}</span>

{% elsif page.url == "/oiin/mtn-pluse-month-sg-ehi.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/x2x6o71mb1op" rel="nofollow">{{ page.title }}</a>-->
<span class="bb">{{page.title}}</span>

{% elsif page.url == "/oiin/mtn-mpluse-month-ehi.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/izjf28o7e3jw" rel="nofollow">{{ page.title }}</a>-->
<span class="bb">{{page.title}}</span>

{% elsif page.url == "/oiin/ehi-config-1.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/6i6dpprd3ysz" rel="nofollow">{{ page.title }}</a>-->
<span class="bb">{{page.title}}</span>

{% elsif page.url == "/oiin/ehi-config-2.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/5g38sfvrhuzj" rel="nofollow">{{ page.title }}</a>-->
<span class="bb">{{page.title}}</span>

{% elsif page.url == "/oiin/ehi-config-3.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/71thnglu5qc3" rel="nofollow">{{ page.title }}</a>-->
<span class="bb">{{page.title}}</span>

{% elsif page.url == "/oiin/ehi-config-4.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/tlewxneato4f" rel="nofollow">{{ page.title }}</a>-->
<span class="bb">{{page.title}}</span>

{% elsif page.url == "/oiin/gmt-first-ehi-config.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/cmn19rzzo4p6" rel="nofollow">{{ page.title }}</a>-->
<span class="bb">{{page.title}}</span>

{% elsif page.url == "/oiin/gmt-second-ehi-config.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/7h726x52idz4" rel="nofollow">{{ page.title }}</a>-->
<span class="bb">{{page.title}}</span>

{% elsif page.url == "/oiin/gmt-third-ehi-config.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/zpgblgehjatn" rel="nofollow">{{ page.title }}</a>-->
<span class="bb">{{page.title}}</span>

{% elsif page.url == "/oiin/gmt-fourth-ehi-config.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/m2a0dead51yj" rel="nofollow">{{ page.title }}</a>-->
<span class="bb">{{page.title}}</span>

{% elsif page.url == "/oiin/indosat-opok-200-ok-ehi.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/vzicbt3v72ko" rel="nofollow">{{ page.title }}</a>-->
<span class="bb">{{page.title}}</span>

{% elsif page.url == "/oiin/config-indosat-V-2-ehi.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/5a746ajepwwv" rel="nofollow">{{ page.title }}</a>-->
<span class="bb">{{page.title}}</span>

{% elsif page.url == "/oiin/one-month-indosat-ehi.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/2qaqas4xl208" rel="nofollow">{{ page.title }}</a>-->
<span class="bb">{{page.title}}</span>

{% elsif page.url == "/oiin/axis-opok-limit-1gb-ehi.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/5fzjfnz13cca" rel="nofollow">{{ page.title }}</a>-->
<span class="bb">{{page.title}}</span>

{% elsif page.url == "/oiin/thirdy-ssh-ssl-vpn-apk.html" %}
<a class="bb" href="http://drive.google.com/uc?id=1w0Kr4UgzjP1uSq5xcweX8XF7g_B2u_YT&export=download?Thirdy-SSH-SSL-VPN" rel="nofollow">{{ page.title }}</a>
<!--<button>{{ .title }}</button>-->

{% elsif page.url == "/" %}
<a href="/">{{ page.title }}</a>

{% else %}
<a class="bb" href="/">{{ page.title }}</a>
{% endif %}