<!-- pgination -->
<div class="pagination">{% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}" class="previous">&laquo;&laquo; prev</a>{% else %}
	<span class="previous">&laquo;&laquo; prev</span>{% endif %}
<span class="page_number ">{{ paginator.page }} &laquo; of &raquo; {{ paginator.total_pages }}</span>{% if paginator.next_page %}<a href="{{ paginator.next_page_path }}" class="next">next &raquo;&raquo;</a>{% else %}
<span class="next ">next &raquo;&raquo;</span>{% endif %}</div>
<!-- pgination -->