<div class="post-share">
<ul class="share-links social social-color">
<li class="facebook">
<a class="facebook" href="https://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'windowName', 'width=550, height=650, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow"><span>Facebook</span></a></li>
<li class="twitter">
<a class="twitter" href="https://twitter.com/share?url={{ page.title | uri_escape }}&url={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'windowName', 'width=550, height=450, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow"><span>Twitter</span></a></li>
<li class="gplus">
<a class="gplus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'windowName', 'width=400, height=500, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow"><span>Google+</span></a></li>
<li class="pinterest">
<a class="pinterest" href="https://www.pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&amp;media={{ page.image }}&amp;description={{ page.title | uri_escape }}" onclick="window.open(this.href, 'windowName', 'width=735, height=750, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow"></a></li>
<li class="linkedin">
<a class="linkedin" href="https://www.linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'windowName', 'width=950, height=650, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow"></a></li>
<li class="whatsapp whatsapp-desktop">
<a class="whatsapp" href="https://web.whatsapp.com/send?text={{ page.title | uri_escape }} | {{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'windowName', 'width=900, height=550, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow"></a></li>
<li class="whatsapp whatsapp-mobile">
<a class="whatsapp" href="https://api.whatsapp.com/send?text={{ page.title | uri_escape }} | {{ site.url }}{{ page.url }}" rel="nofollow" target='_blank'></a></li>
<li class="email">
<a class="email" href="mailto:?subject={{ page.title | uri_escape }}&body={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'windowName', 'width=500, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow"></a></li>
</ul>
</div>