<div id='sidebar-wrapper'>
<div class='sidebar common-widget section' id='sidebar1'>
<div class='widget FeaturedPost' data-version='2' id='FeaturedPost1'>
<div class='widget-title'><h3 class='title'>Latest Updates</h3></div>
{% comment %}|
<div class='widget-content'>
{% for post in site.tags.war limit: 1 %}
<div class='post'>
<div class='post-content'>{% if post.image %}
<a class='post-image-link' href='{{ site.url }}{{ post.url }}'><img alt='{{post.title}}' class='post-thumb' src='{{ site.url }}{{ post.image }}'/>	{% if post.tags.size >= 1 %}{% for tag in post.tags limit: 1 %}	<span class='post-tag'>{{ tag }}</span>{% endfor %}{% endif %}</a>	{% endif %}
<div class='post-info'>
<h2 class='post-title'><a href='{{ site.url }}{{ post.url }}'>{{post.title}}</a></h2>
<div class='post-meta'><span class='post-author'>By: oiin apps</span><span class='post-date published' datetime='{{ page.last_modified_at | date_to_xmlschema }}'>{{ page.last_modified_at | date: "%b %-d, %Y" }}</span></div>
<p class='post-snippet'>{% if post.description.size > 20 %}{{ post.description | truncate: 120 }}{% else %}{{ post.content | strip_html | truncate: 120 }} {% endif %}</p>
			     		</div>
	       </div>
	    </div>{% endfor %}
			</div>{% endcomment %}
<div class='widget-content'>{% if page.url != "/" %}
{% for post in site.posts | sort: 'date' resvers | limit: 4 %}
<div class='post'>
<div class='post-content'>
<div class='post-info'>
<h2 class='post-title'><a href='{{ site.url }}{{ post.url }}'>{{post.title}}</a></h2>
<div class='post-meta'><span class='post-author'>By: oiin apps</span><span class='post-date published' datetime='{{ page.last_modified_at | date_to_xmlschema }}'>{{ page.last_modified_at | date: "%b %-d, %Y" }}</span></div>
<p class='post-snippet'>{% if post.description.size > 20 %}{{ post.description | truncate: 120 }}{% else %}{{ post.content | strip_html | truncate: 120 }} {% endif %}</p>
								</div>
						</div>
			</div>{% endfor %}{% endif %}
	</div>
</div>
<div class='widget PopularPosts' data-version='2' id='PopularPosts1'>
<div class='widget-title'>	<h3 class='title'>Selection</h3></div>
<div class='widget-content'>{% for post in site.tags.Download limit: 4 %}
<div class='post'>
<div class='post-content'>{% if post.image %}
<a class='post-image-link' href='{{ site.url }}{{ post.url }}' title='{{post.title}}'>
<img alt='{{post.title}}' class='post-thumb' src='{{ site.url }}{{ post.image }}'/></a>
<div class='post-info'>
<h2 class='post-title'><a href='{{ site.url }}{{ post.url }}' title='{{post.title}}'>{{post.title}}</a></h2>
<div class='post-meta'><span class='post-date published' datetime='{{ page.last_modified_at | date_to_xmlschema }}'>{{ post.date | date: "%b %-d, %Y" }}</span></div>
	      </div>{% endif %}
	    </div>
	   </div>{% endfor %}
	 </div>
	</div>
<div class='widget Label' data-version='2' id='Label1'>
<div class='widget-title'>	<h3 class='title'>Categories	</h3>	</div>
<div class='widget-content list-label'>
<ul><li><span class='empty'></span>{% capture tags %}{% for tag in site.tags limit: 8 %}
<li data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}"><a class="label-name" href="{{site.url}}{{ site.tag_page_dir }}/tag/{{ tag[0] | slugify: 'pretty' }}/">{{ tag[0] }}<span class='label-count'>{{ tag[1].size }}</span></a></li>
{% endfor %}{% endcapture %}{{ tags | split:'</li>' | sort | join:'</li>' }}</li>
   </ul>
		   </div>
			</div>
  </div>
</div>