<a class="bb" href="https://goraps.com/fullpage.php?section=General&pub=172789&ga=g" rel="sponsored"><img alt="ads" src="/img/dl.jpg" width="200"/></a><br/><br/>
{% if page.url == "/2020/03/turbo-vpn.html" %}
<a class="bb" href="https://www.appsapk.com/downloading/latest/free.vpn.unblock.proxy.turbovpn-2.8.0.apk" rel="nofollow">Turbo VPN free servers v2.8.0 apk</a><br/>
{% elsif page.url == "/2019/05/android-game-criticalopsv141f490831apk.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1wLVOpgMv_4H7e5ld7ugjqYsWquAwQUng&export=download?Critical-Ops-v1.15.0-apk" rel="nofollow">Critical OPS v1.15.0.Apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1dEh5LCzpI2d-Ae96XxasAMvKcsQpJ8md&export=download?critical-ops-v1.15.0-obb" rel="nofollow">Critical OPS v1.15.0 main Obb Data</a><br/>
{% elsif page.url == "/2019/08/latest-Pokemon-Apk-MOD.html" %}
<a class="bb" href="https://www.mediafire.com/file/dtiwfr1mhsc0c19/Pokemon-GO-v0.169.3.apk" rel="nofollow">Pokemon GO v0.169.3.apk</a><br/>
<a class="bb" href="http://www.mediafire.com/file/jv4h57xpzfe5hcf/Pokemon-GO-v0.171.0-Arm64.apk" rel="nofollow">Pokemon GO v0.171.0 Arm64.apk</a><br/>
<a class="bb" href="http://www.mediafire.com/file/gyjzpec1uiopp2g/Pokemon-GO-v0.75.0-Mod.apk" rel="nofollow">Pokemon GO v0.75.0 MOD .apk</a><br/>
<a class="bb" href="http://www.mediafire.com/file/ndqnjfjs1vdh96m/Pokemon-Shuffle-v1.7.0.apk" rel="nofollow">Pokemon GO Shuffle v1.7.0 apk</a><br/>
<a class="bb" href="http://www.mediafire.com/file/objru9cdoadggk9/Poke-Radar-for-Pokemon-GO-v1.2.apk" rel="nofollow">Pokemon GO RADAR v1.2 apk</a><br/>
{% elsif page.url =="/2019/07/Qmessenger-messenger.html" %}
<a class="bb" href="https://www.mediafire.com/file/epyavpuboem1o5i/Q_messenger_v1.0.0_10_%2540abzinid.apk" rel="nofollow" target="_blank"><button type="button"> Q messenger v1.0.0.10 apk</a><br/>
{% elsif page.url == "/2019/07/download-pandora-streaming-musicand.html" %}
<a class="bb" href="https://www.mediafire.com/file/gmbl9ms6fitnt31/Pandora_v1905.2_Patched_abzinidl.com.apk" rel="nofollow"> Pandora Streaming Music& Radio</a><br/>
{% elsif ge.url == "/2019/05/latest-spotify-premium-music-apk-mod.html" %}
<a class="bb" href="https://drive.google.com/uc?export=download&id=1GnFxeE_HLLki9jlYoVPisl5oMsn20Q2E&export=download?spotify-apk" rel="nofollow">Spotify premium v8.5.45.620 | google drive</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1YrKizRYizjrItXD3MCFsg0HDG1s073gu&export=download?Spotify-MOD-v8.5.45" rel="nofollow">Spotify premium v8.5.6.673 MOD | mirror</a><br/>
{% elsif page.url == "/2019/06/winvibe-music-player-latest-original.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/d7v2rzzl1cyv" rel="nofollow">WinVibe Music Player original apk</a><br/>-->
WinVibe Music Player original apk<br/>
<!--WinVibe Music Player original apk<br/>-->
<!--<a class="bb" href="https://www.up-4ever.org/jjtymsbczxdc" rel="nofollow">WinVibe Music Player MOD apk</a>-->
WinVibe Music Player MOD apk<br/>
{% elsif page.url == "/2019/04/Offline-Battle-Warships-mod-apk.html" %}
<a class="bb" href="https://drive.google.com/uc?id=11Fz-_URzc-305vUPYd8woOst2MvZL_zY&export=download?Battle-of-Warships-v1.72.12" rel="nofollow">Battle of Warships v1.72.12 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1EE4aTrBsBvZz5nimrDuUoH1yZ8eb7dhQ&export=download?Battle-of-Warships-v1.71.4-Mod" rel="nofollow">Battle of Warships v1.71.4 MOD</a><br/>
{% elsif page.url == "/2019/04/latest-android-cover-fire-offline.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1U_t_Dw5jCAVBv1N7yH2GcYJLu6phJbYn&export=download?cover-fire-1.19.1.apk" rel=""nofollow>cover fire v1.19.1 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1lFfDGQpxr9f9zwKa3YnCtuDjUVkn5w3w&export=download?cover-fire-obb" rel="nofllow">cover fire v1.19.1 obb</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1mVgh-1PIjdMTW_CV7H3CY_Enkfuy6h4R&export=download?cover-fire-mod" rel="nofollow">cover fire V1.17.14 MOD</a><br/>
{% elsif page.url == "/2019/04/adblock-plus-apk.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1UvRdgseC5eos6pc8B6BjG8eF-8_5aPmb&export=download?Adblock-plus-v1.3" rel="nofollow">adblock plus v1.3 apk link 1</a><br/>
<a class="bb" href="https://ehiopener.tk/adblock-plus-apk" rel="nofollow">adblock plus v1.3 apk link 2</a><br/>
{% elsif page.url == "/2019/03/defence-legend-3-mod-apk.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1AaNnjbSQibjPuIsrguSZDz_2R-1jXl7E&export=download?Black-Desert-Mobile-v4.1.72" rel="nofollow">Defense Legend v2.5.6 apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=17qJquwfvV6apl09ukrjYJpVm3CdcLZr7&export=download?Defense-Legend-v2.5.19-Mod" rel="nofollow">Defense Legend v2.5.6 MOD</a><br/>
{% elsif page.url == "/2018/05/grand-theft.html" %}
<a class="bb" href="https://www.mediafire.com/file/1y62y6w0fey7urt/Grand-theft-auto-vice-city-v1.09.apk" rel="nofollow">Grand Vice City v1.09.Apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1Lv6mJxG0aiwWsT6omYCxRw08-GodWcSC&export=download?Grand-thift-v1.09" rel="nofollow">Grand Vice City v1.09.obb (google D)</a><br/>
<a class="bb" href="https://www.mediafire.com/file/vd86nay6afcwrx7/Grand-theft-auto-vice-city-v1.09-obb.zip" rel="nofollow">Grand Vice City v1.09.obb (mediafire)</a><br/>
{% elsif page.url == "/2019/04/latest-android-game-harry-potter.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1duO8mzs0J5-7hcfxVOfk-oCcR-IUKUss&export=download?Harry-potter-v2.5.0" rel="nofollow">Harry Potter v2.5.0 (Arm) apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1ES4AXV9cnSw5FgxQVlcdNZarO8kuNiYx&export=download?Harry-potter-v2.5.0-arm64" rel="nofollow">Harry Potter v2.5.0 (Arm64) napk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1FOAASpwV_1nO6EPR62a2AuEnZsbEZh4c&export=download?Harry-potter-v2.5.0-MOD" rel="nofollow">">Harry Potter v2.5.0 (Mod) apk</><br/>
{% elsif page.url == "/2019/04/android-global-launcher-poco-customize.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1bb-KrFEsDnHB9AtX50fpMDc225dp3tNx&export=download?Poco-launcher-v2.7.4.3" rel="nofollow">POCO Launcher V2.7.4.3.Apk</a><br/>
{% elsif page.url == "/2019/02/last-shelter-survival-apk-and-obb.html" %}
<a class="bb" href="https://drive.google.com/uc?id=1JobAownVZAekgLl5rrqNySXg_OvU7biu&export=download?last-shelter-v1.250-apk" rel="nofollow">Shelter Survival v1.250 Apk</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1W7KQn0yYmRb1rFp_F2Kw9sYHq1B4PpqL&export=download?last-shelter-v1.250-obb" rel="nofollow">Shelter Survival v1.250 Obb Data</a><br/>
{% elsif page.url == "/2019/04/ShipSim-2019-apk-plus-obb-data.html" %}
<a class="bb" href="http://dl14.apkawards.com/apk-mod_ZsGLgoYS5/com.ovilex.shipsim2019/com.ovilex.shipsim2019_1.1.5-APK_Award.apk" rel="nofollow">Ship Sim 2019 v1.1.5 apk</a><br/>
<a class="bb" href="http://dl14.apkawards.com/apk-mod_ZsGLgoYS5/com.ovilex.shipsim2019/com.ovilex.shipsim2019.zip" rel="nofollow">Ship Sim 2019 v1.1.5 obb</a><br/>
<a class="bb" href="http://dl14.apkawards.com/apk-mod_ZsGLgoYS5/com.ovilex.shipsim2019/com.ovilex.shipsim2019_1.1.5-APK_Award-Mod.apk" rel="nofollow">Ship Sim 2019 v1.1.5 MOD</a><br/>
{% elsif page.url == "/2019/02/advanced-downloade-manager-pror.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/mi1h2e143uhk" rel="nofollow">Advanced Download Manager Pro v8.2.0 apk</a><br/>-->
Advanced Download Manager Pro v8.2.0 apk<br/>
<!--<a class="bb" href="https://www.up-4ever.org/ljykv2a1oubc" rel="nofollow">Advanced Download Manager Pro v8.0.0 MOD</a>-->
Advanced Download Manager Pro v8.0.0 MOD<br/>

	{% elsif page.url == "/2019/02/latest-clash-of-clans-mod.html" %}
<a class="bb" href="http://drive.google.com/uc?id=1F_TXBfwSd5mF4sI09PFgf2tbnpvYytjg&export=download?clash-clans-v13.180.8-arm" rel="nofollow">Clash Of Clans v13.180.8 ARM</a><br/>
<a class="bb" href="http://drive.google.com/uc?id=1SGcm0uYX63HBeJtZpB_F4t98fPlxRprH&export=download?clash-clans-v13.180.8-arm64" rel="nofollow">Clash Of Clans v13.180.8 ARM64</a><br/>
<a class="bb" href="https://drive.google.com/uc?id=1_5OpPwwF9wp6yZ0CVLIMNzysP7wyMLJ_&export=download?clash-clans-v13.180.8-x86" rel="nofollow">Clash Of Clans v13.180.8 X86</a><br/>
<a class="bb" href="http://drive.google.com/uc?id=1-ruyjdif1EdQ4sMMTKYEQ7rMM4Fm0Xpq&export=download?clash-clans-v13.180.8-mod" rel="nofollow">Clash Of Clans v13.180.8 mod</a><br/>
{% elsif page.url == "/2019/02/Clash-Royale-apk-and-MOD.html" %}
Clash Royale v3.2.1 apk<br/>
Clash Royale v2.6.0 MOD<br/>
{% elsif page.url == "/2018/12/latest-ehi-opener-and-http-injector.html" %}
<!--<a class="bb" href="https://www.up-4ever.org/iers808rv9hj" rel="nofollow">Download ehi opener apk</a><br/>-->
Download ehi opener apk<br/><br/>
<!--<a class="bb" href="https://www.up-4ever.org/32u7c5uejuxl" rel="nofollow">Download http injector apk</a><br/>-->
Download http injector apk<br/>
<!--<a class="bb" href="https://www.up-4ever.org/yiznx77go4bk" rel="nofollow">Download xposed installer apk</a><br/>-->
Download xposed installer apk<br/>
<!--<a class="bb" href="https://www.up-4ever.org/55v4i599dw0s" rel="nofollow">Download kingroot apk</a><br/>-->
	Download kingroot apk<br/>
<!--<a class="bb" href="https://www.up-4ever.org/5k8kpxphz2t6" rel="nofollow">Download root checker apk</a>-->
Download root checker apk<br/>

{% elsif page.url == "/2019/02/file-commander-manager-explorer.html" %}
<a class="bb" href="http://dl.apkgoogle.org/2019/5/File%20Commander-v5.10.31201_build_31201.apk" rel="nofollow">File Commander Manager V5.10 apk </a><br/>
<a class="bb" href="https://www.dropbox.com/s/3l3n2n9flip1sao/File-Commander-Analyzer-Drive-Secure-Convert-5.10.31201.apk?raw=1" rel="nofollow">File Commander Manager V5.10 | Dropbox </button</a>><br/>
	{% elsif page.url == "/2018/05/file-manger.html" %}
	<a class="bb" href="http://drive.google.com/uc?id=1dtIx2mDRuhi6Sfvq1IDUcjfkju9HmdfX&export=download?x-plorer-manager" rel="nofollow">X-plore file manager v4.19.10 apk</a><br/>
	<a class="bb" href="http://drive.google.com/uc?id=17v-USLBlb4riMYvhXZEv7Ljd0ZHLLIY1&export=download?x-plorer-manager-mod" rel="nofollow">X-plore file manager v4.18.12 mod</a><br/>
	{% elsif page.url == "/2019/01/last-empire-war-z-strategy-apk-and-obb.html" %}
	<a class="bb" href="https://drive.google.com/uc?id=1r9GFjObXW5k5rlmjydHfvaEpLlqUpVj7&export=download?last-empire-v1.0.296" rel="nofollow">Last- Empire v1.0.296 apk</a><br/>
	<a class="bb" href="https://drive.google.com/uc?id=1ZBHUsrLQsVsmkjvIp1ppHBPdC8ScazJL&export=download?last-empire-v1.0.296-obb" rel="nofollow">Last- Empire v1.0.296 obb</a><br/>
	{% elsif page.url == "/2020/04/street-racing-3d.html" %}
	<a class="bb" href="http://dl.dropboxusercontent.com/s/9k8q7rha3rmhp84/street-racing-3d-5.8.5.mod.apk" rel="nofollow">Street racing 3D v5.8.5 MOD</a><br/>
	<a class="bb" href="http://drive.google.com/uc?id=1_mQb9Drvzn_oWeJcjJoHOQ1gaxnP2khq&export=download?street-racing-v5.8.0-mod" rel="nofollow">Street racing 3D v5.8.0 MOD</a><br/>
{% else %}
<span class="bb">Sorry! error occurred <span class="fa fa-info-circle errspan"></span></span>
<br/>
{% endif %}
