<!--<img alt="download links" src="{{site.url}}/img/dl.webp" width="200"/><br/>
--><br/>
{% if page.url == "/2020/04/black-desert-mobile.html" %}
<a href="https://drive.google.com/uc?id=1vmttqo6ONYLHyfdkHCTlBww94o5K8PGq&export=download?Black-Desert-Mobile-v4.1.76" rel="nofollow"><button>Black Desert Mobile v4.1.76 apk</button></a><br/>
<a href="https://drive.google.com/uc?id=1bA6Pf0ok5Mjb3a88i8RnGAZzae08rb_O&export=download?Black-Desert-Mobile-v4.1.72" rel="nofollow"><button>Black Desert Mobile v4.1.72 apk</button></a><br/>
{% elsif page.url == "/2020/04/bright-memory-mobile.html" %}
<a href="http://drive.google.com/uc?id=1Xd9i5-70y1nkaHc0cv_HFjMGQFrvJuHa&export=download?bright-memory-v1.3" rel="nofollow"><button>Bright Memory Mobile v1.3 apk</button></a><br/>
<a href="https://drive.google.com/uc?id=1Fgh9H68ku2izF6idTOh7Suy0bn6m5naL&export=download?bright-memory-v1.3-data" rel="nofollow"><button>Bright Memory Mobile v1.3 data</button></a><br/>
{% elsif page.url == "/2018/05/dream-league.html" %}
<a href="https://www.abzinid.com/dream-league-soccer-2018-and-how-to-install-obb-data-file" rel="nofollow"><button>Dream league obb external links</button></a><br/>
{% elsif page.url == "/2019/11/android-oinline-game-crime-city.html" %}
<a href="https://drive.google.com/uc?id=1immUruf3qdZBtOZsDEE3iTzXnRTY51ok&export=download?call-duty-v1.0.11-apk" rel="nofollow"><button>Latest Crime City v8.6.9 apk</button></a><br/>
{% elsif page.url == "/2020/03/disorder.html" %}
<a href="https://drive.google.com/uc?id=1l0kcwVx0jCDMyvhgW4Ts6-euSGb8x3GL&export=download?Disorder-v1.3" rel="nofollow"><button> Download Disorder.1.3.apk</button></a><br/>
{% elsif page.url == "/2018/05/lucky-patcher.html" %}
<a href="https://www.mediafire.com/file/l0mbjzcgaxjfach/Lucky-patcher-8.7.1-installer.apk" rel="nofollow"><button> Latest lucky patcher v8.7.1 apk</button></a><br/>
{% elsif page.url == "/2019/12/latest-android-game-tactical-monsters.html" %}
<a href="https://www.mediafire.com/file/ivpda0mueqvdvmk/Tactical-Monsters-Rumble-Arena-v1.16.6.apk" rel="nofollw"><button>Tactical Monsters Rumble Arena v1.16.6.apk</button></a><br/>
<a href="https://www.mediafire.com/file/ivpda0mueqvdvmk/Tactical-Monsters-Rumble-Arena-v1.16.6-MOD.apk" rel="nofollw"><button>Tactical Monsters Rumble Arena v1.16.6 MOD.apk</button></a><br/>
{% elsif page.url == "/2020/03/call-of-duty.html" %}
<a href="https://drive.google.com/uc?id=1immUruf3qdZBtOZsDEE3iTzXnRTY51ok&export=download?call-duty-v1.0.11-apk" rel="nofollw"><button>Call of Duty v1.0.11 apk</button></a><br/>
<a href="https://drive.google.com/uc?id=1dOdc32dlgzduTaWuvHC94t-APsSGq6I5&export=download?call-duty-v1.0.11-obb" rel="nofollw"><button>Call of Duty v1.0.11 obb data</button></a><br/>
{% elsif page.url == "/2019/09/latest-harmony-relax-melodies-mod-apk.html" %}
<a href="https://www.mediafire.com/file/x58ocemmz45893v/Harmony-Music-Notes-v3.6.apk" rel="nofollow"><button> Harmony Music v3.6.apk</button></a><br/>
<a href="https://www.mediafire.com/file/g2ugplo0qi1ni7c/Harmony-Music-Notes-v3.2-MOD.apk" rel="nofollow"><button> Harmony Music v3.2 MOD</button></a><br/>
{% elsif page.url == "/2019/09/full-onkyo-hf-player-all-features-unlocked.html" %}
<a href="https://www.mediafire.com/file/9teqpdkozqog1ld/onkyo-hf-player-full-v2.7.0.apk" rel="nofollow"><button>Onkyo HF Player v2.7.0 unlocked</button></a><br/>
{% elsif page.url == "/2019/09/run-mulitable-apps-with-app-cloner.html" %}
<a href="http://drive.google.com/uc?id=1F_7QySq8r5jJfJQiITcWVbb89DAHY9Kp&export=download?app-cloner-v2.2.2" title="App Cloner v2.2.2" rel="nofollow"><button>App cloner v2.2.2.apk</button></a><br/>
<a href="hhttps://drive.google.com/uc?id=1XI_3t8eY2zh-kGRk6c6sNdEw25nWKOjy&export=download?App-Cloner-v2.1.1-Full.apk" rel="nofollow"><button>App cloner Full v2.1.1 apk</button></a><br/>
<a href="https://drive.google.com/uc?id=12dNw-TLtDvuZVLXFDpDySwv-Z6d9Xunf&export=download?App-Cloner-v1.5.32-Mod.apk" rel="nofollow"><button>App cloner MOD v1.5.32 apk</button></a><br/>
{% elsif page.url == "/2019/04/latest-nova-legacy-mod-apk-for-android.html" %}
<a href="https://www.mediafire.com/file/1awux6qy19wqpvz/N.O.V.A.Legacy-5.8.1c-original.apk" rel="nofollow"><button>N.O.V.A Legacy v5.8.1c original apk</button></a><br/>
<a href="https://www.mediafire.com/file/w9z0zuajdrrc2wh/N.O.V.A.Legacy_2_5.8.0m-Mod.apk" rel="nofollow"><button>N.O.V.A Legacy v5.8.0m mod apk</button></a><br/>
{% elsif page.url == "/2020/03/brutal-age-horde-invasion.html" %}
<a href="https://www.mediafire.com/file/tc4uocmhau1oiwi/Brutal-Age-Horde-Invasion-v0.7.20.apk" rel="nofollow"><button> Brutal Age Horde Invasion v7.20.apk</button></a><br/>
	<a href="https://dl.apkwhale.com/wp-content/MOD/Brutal-Age-Horde-Invasion-0.7.10-Apkwhale.com.apk" rel="nofollow"><button> Brutal Age Horde Invasion MOD v7.10.apk</button></a><br/>
{% elsif page.url == "/2019/08/musixmatch-music-lyrics-premium-apk.html" %}
<a href="http://www.mediafire.com/file/01eftassozi3icu/Musixmatch-music-And-lyrics-PRE-v7.5.6.apk" rel="nofollow"><button>Musixmatch music lyrics FREE v7.5.6 apk</button></a><br/>
<a href="https://www.mediafire.com/file/yw4ns1s17qr92cu/Musixmatch-music-And-lyrics-PRE-v7.5.6-Arm64.apk" rel="nofollow"><button>Musixmatch music lyrics FREE Arm64 v7.5.6 apk</button></a><br/>
<a href="https://www.mediafire.com/file/l92coyrvuhvc3nh/Musixmatch-music-And-lyrics-PRE-v7.5.6-X86.apk" rel="nofollow"><button>Musixmatch music lyrics FREE v7.5.6-X86 apk</button></a><br/>
{% elsif page.url == "/2019/09/make-multi-accounts-with-parallel-space.html" %}
<a href="https://www.mediafire.com/file/ti83t3f6fnki6h3/parallel-space-v4.0.8934.apk" rel="nofollow"><button>Parallel space v4.8934.apk</button></a><br/>
{% elsif page.url == "/2019/08/amazing-spider-man.html" %}
<a href="https://drive.google.com/uc?id=1-nOuCVWvn0-axiNpWMvl-CxQHWEGnBmA&export=download?Amazing-Spider-Man-2-v1.2.8d" rel="nofollow"><button>Amaizing Spider Man 1.2.8 apk</button></a><br/>
<a href="https://drive.google.com/uc?id=1kEPjBck7gl_chCylkBMX-QxZaUBvQPzU&export=download?Amazing-Spider-Man-2-v1.2.8d-main.obb" rel="nofollow"><button>Amazing Spider Man 2-v1.2.8d main obb</button></a><br/>
<a href="https://drive.google.com/uc?id=1SGgRgFbGbm88-Hqs4wVqDjas6Vtg5K8-&export=download?Amazing-Spider-Man-2-v1.2.8d-patch" rel="nofollow"><button>Amaizing Spider Man 1.2.8 patch obb</button></a><br/>
{% else %}
<button>Sorry! error occurred <span class="fa fa-info-circle errspan"></span></button><br/>
{% endif %}
