---
layout: post
title: Call of Duty latest v1.0.17 Apk and obb data file
description: "Download latest version of Call of duty apk and obb data file direct download link, mobile action game free download or android devices"
date: 2020-03-26 15:07:55 +03:00
tags: [action game, action, mod, obb, Download]
image: /img/call-duty.jpg
permalink: /2020/03/call-of-duty.html
last_modified_at: 2020-11-06 20:07:55 +03:00
---
<div id="dbox" class="center">
<img alt="call of duty obb data" class="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20180%20180'%3E%3C/svg%3E" data-src="{{ page.image | absolute_url }}" width="180" height="180"/>
<span class="apkinfo">
<a class="bb" href="#go">Download apk + obb</a><br/>
<span class="break-btm"></span>
<b>Name: </b> Call of Duty<br/>
<b>version: </b> v1.0.17<br/>
<b>apk size:</b>4.3 and up<br/>
<b>obb size:</b> 1 GB<br/>
<b>Developer:</b> Activision Publishing<br/>
</span>
</div>

<p>
	An online android action shooting game developed by <b>Activision Publishing, Inc.</b> the latest version 1.0.17 apk obb data file, free download. This game has high volume download on google play store this year and this month for its new updated version for android devices
</p>
<p>
Compete your friends on this Cal of Duty with your unique skills and strategy and win clans battles over millions of friends around the Globe as this game s online game game.
</p>

<div class="slidewrap space5">
	<div class="slidewrap-inner">
	<div class="items">
	<img class="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20500%20281'%3E%3C/svg%3E" data-src="/upload/call-of-duty.shooter.jpg" alt="Call of Duty shooting" width="500" height="281" />	
	<img class="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20500%20281'%3E%3C/svg%3E" data-src="/upload/call-of-duty.shooter-guns.jpg" alt="Call of Duty shooting gun" width="500" height="281" />
	<img class="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20500%20281'%3E%3C/svg%3E" data-src="/upload/call-of-duty.shooter-shooting.jpg" alt="Call of Duty shooting action game" width="500" height="281" />
	</div>
	</div>
	</div>
<div clas="bottom-50">
<table><tbody>
	<tr><td>app Name:</td><td>Call of Duty</td></tr>
	<tr><td>apk size:</td><td> 87 MB</td></tr>
	<tr><td>Game version:</td><td> v1.0.17</td></tr>
	<tr><td>last updated: </td><td>Oct, 2020</td></tr>
	<tr><td>supported Android:</td><td> 4.3 and up</td></tr>
	<tr><td>Game Price:</td><td>free to download</td></tr>
	<tr><td>Developer: </td><td>Activision Publishing</td></tr>
	</tbody>
	</table>
</div>

<h2>How to install Call of Duty on Android</h2>
<p>To play this new Call ogf Duty Android Game on your smartphone , first downloa Game files, apk and obb data file to your device, then install apk as normal apk installation, you may need to activate unknown sources on your device setting.</p>
<p>
	After Downloading files, use your favorite file extractor, archive extractor - any application can do this job - copy this extracted folder <b>com.activision.callofduty.shooter</b> or move it to <b>SDcard/android/obb</b> then launch the game and enjoy.
</p>

<h2>what is new on this version 1.0.17</h2>

<p>
It's the End of the World and you're invited! Call of Duty Mobile's 1st Year Anniversary Season is here. Join the party of a lifetime with Spectre - Pixel Spy in the season-long celebration.</p>

<p>Major feature drops with party themed Battle Pass content, new BR map - Alcatraz, Reaper - Premium DJ'ing in The Club, Halloween, and all new Mythic Weapons.
</p>

<h2>Download Call of Duty</h2>
<p>Download latest version of Call of duty apk and obb data file direct download link</p>

<div id="go" class="center ffa">
<a class="bb" target="_blank" href="/dl/call-of-duty-apk.html">Call of Duty v1.0.17 apk</a>
<a class="bb" target="_blank" href="/dl/call-of-duty-obb.html">Call of Duty v1.0.17 obb</a>
<a class="bb" target="_blank" href="/dl/call-of-duty.html">Call of Duty v1.0.11 apk</a>
<a class="bb1 bb" href="https://one.link2app.workers.dev/google/play.google.com/store/apps/details?id=com.activision.callofduty.shooter" target="_blank">Game on google play</a>
</div>
