---
layout: post
title: Fortnite Battle Royale 14.50.0 latest release for android
description: "Download online fortinite android game mod apk and obb data file free download latest version plus apk installer"
date:  2020-11-03 14:10:35 +03:00
image: '/img/fortnite-battle-royale.jpg'
tags: [mod, adventure, action, obb, Download]
permalink: /2020/11/fortinite-battle-royale-mod-apk-obb-data.html
last_modified_at: 2020-11-06 02:13:00 +03:00
---
<div id="dbox" class="center">
<img class="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20200%20200'%3E%3C/svg%3E" data-src="{{ page.image | absolute_url }}" alt="Fortnite Battle Royale" width="200" height="200"/>
<span class="apkinfo">
<a class="bb" href="#go">Fortnite Battle Royale</a><br/>
<span class="break-btm"></span>
<b>Name: </b> Fortnite Battle Royale<br/>
<b>version: </b> v14.50<br/>
<b>apk size:</b> 172 MB<br/>
<b>OS System:</b> android devices<br/>
<b>Developer:</b> Epic Games<br/>
</span>
</div>
<p>
Fortnite is an online android mobile  action game now is not available on google play store, it is available in three different game modes versions in high game Graphics with similar characteristics and aspects.
</p>
<p>
Download this free android game which support android version 5.0 and higher, any one can play this free game on his device, all you need is downloading this game file and install it on your android device and you are ready to play and enjoy this awesome game.
</p>
{% comment %}<!--
<b id="dots">More Description</b>
<div id="more">
<p>
Fortnite The #1 Battle Royale game has come to Android! Squad up and compete to be the last one standing in 100 player PvP. Build cover. Battle your enemies. Survive the longest. Earn your Victory On mobile, Fortnite is the same 100-player PvP game you know from Playstation 4, Xbox One, PC, and Mac. Same map, same gameplay, same weekly updates. Build your fort as you battle to be the last one standing. Jump in and squad up with friends around the world or in the same room!</p>
<p>
<b class="break-btm">Powered by Unreal Engine 4.</b>
BUILD & DESTROY – Shape the battlefield by building your own cover. Opponent hiding behind a wall? Take out their cover to get the edge.
GEAR UP – Board the battle bus and drop in on your favorite zone. Gather resources, collect gear, and battle your opponents! Last one standing wins.</p>
<p>
SQUAD UP WITH FRIENDS – Team up with your friends around the world or in the same room!
EPIC UPDATES & EVENTS – Weekly updates constantly fuel the fun. New gameplay modes, serious and insane new looks for your avatar, new weapons and items….Fortnite is always expanding.
CONSOLE GAMING ON THE GO – Play the full game anytime, anywhere. Complete quests on the go, progress your Battle Pass, and more.</p>
<span onclick="myFunction()" id="myBtn" class="span mybtn">More Description</span>
</div>-->
{% endcomment %}
<div class="center space5">
<img class="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20540%20304'%3E%3C/svg%3E" data-src="{{site.utl}}/upload/fortinite-mod.jpg" alt="fortnite-battle-royale" width="540" height="304"/>
</div>

<div class="space5">
<table>
<tbody>
<tr><td>app Name:</td><td>Fortnite Battle Royale</td></tr>
<tr><td>apk size:</td><td>172 MB</td></tr>
<tr><td>obb size:</td><td>1.57GB - in-Game</td></tr>
<tr><td>Game version:</td><td> v14.50.0</td></tr>
<tr><td>last updated: </td><td>Nov, 2020</td></tr>
<tr><td>supported Android:</td><td> 5.0 and up</td></tr>
<tr><td>Game Price:</td><td>fre download</td></tr>
<tr><td>Developer: </td><td>Epic Games</td></tr>
</tbody>
</table>
</div>

<h3>WHAT'S NEW</h3>
<p>
SEASON 7 Is HERE - Season 7 has arrived with the smash of a mysterious iceberg! Use new Ziplines to travel across the map or take to the skies in a Storming plane. There are tons of new areas to venture to and secrets to uncover, so stay frosty.
</p>
<p>
<b class="break-btm">Get a brand new item type in the Battle Pass:</b>
 Wraps! These allow you to customize your weapons and vehicles with all new looks to match and complement your favorite outfits.
Fortnite Creative is here! Play and build with up to 7 other friends on your own private island.
</p>

<h3>Fortnite MOD APK features</h3>
<p>
<b class="break-btm">Unlocked All Devices:</b>
Unlock so that all devices can play Fortnite. Just need you meet the minimum configuration!
<br/>
<b class="break-btm">Fix GPU error:</b>
Play the game even if GPU is not supported. Of course, the game will not be as stable as the official supported device!
</p>

<h3>How to install Fortnite Battle Royale 14.40 on android</h3>
<p>
Download game files from links provided below,<br/> 
go ahead to your download file location,<br/>
click to install the app.
(you may need to activate unknown source on your android device setting)
</p>
<p>
Install Fortnite Battle Royale obb data file,
Download Fortnite Battle Royale obb zip file and extract it with any archive extracto.
locate this folder "<b>com.epicgames.fortnite</b>" and move it to:<br/>
<b>SDcard/android/data</b>
</p>
<div id="go" class="center ffa">
<h3>Download Fortnite Battle Royale 14.40 apk</h3>
<a class="bb" target="_blank" href="/dl/fortnite-battle-royale-apk.html">Fortnite Battle Royale 14.50</a>
<a class="bb" target="_blank" href="/dl/fortnite-installer-apk.html">Fortnite Battle Royale installer apk</a>
<a class="bb" href="#obb">Fortnite Battle Royale 14.50 obb</a>
<a class="bb" href="#google-play">Game On Google play</a>
	</div>