---
layout: post
title: "TOP Drives car Racing game 12.00.03.11563 apk obb data file"
description: "Download latest Drives car Racing, collecting cards apk + obb data files free for android devices"
permalink: /2020/04/top-drive-racing.html
date: 2020-07-04 08:00:00 +03:00
tags: [racing, action, mod, Download]
image: /img/top-drive.jpg
last_modified_at: 2020-11-15 20:30:00 +03:00
---
<div id="dbox">
<img alt="top drive car racing game" src="{{site.url}}/img/top-drive.jpg" width="180"/>
<span class="apkinfo">
	<a class="bb" href="#go">Download car Game</a><br/>
	<b>Name: </b>Top Racing car game<br/>
	<b>version: </b> v12.00.03.11563<br/>
	<b>apk size:</b> 52 MB<br/>
	<b>obb data:</b> 247 MB<br/>
	<b>Android system:</b> 6.0 and up<br/>
	<b>Developer:</b> Hutch Games<br/>
	</span>
	</div>

<p>An Android racing Game with more than 6 hundreds cars types to select and collect your favorite car racing type you prefer with real characteristics that the actual real cars have and with most recent models.<br/>
Customize your for the high performance racing track to boost cars with the highest speed.</p>

<h2>Download TOP Drives car Racing apk obb data file</h2>

<span id="dots"></span>
<div id="more">
<p>Petrol-heads, motor-heads, turn to Top Drives, the high octane driving challenge - test your skills and knowledge to the limit. <br/>
	Think you know cars? Top Drives is a fantastic new card collecting game with over 1900 real life cars to collect, compare and compete in racing battles with other players.</p>

<p>Build a garage of the best customized cars and create your very own perfect racing deck for supercharged action against your friends or other drivers. <br/>
Whether you prefer a tuned up American muscle, a feisty Japanese hot rod or go turbo with European and agile, you’ll find a car that gets your motor running in Top Drives - the #1 FREE car racing card collection game.</p>

<p>Top Drives is about racing cars across a variety of roads, tracks and challenges. <br/>
If you like your driving fast and furious, you’ll love Top Drives. <br/>
Hit the gas on asphalt circuits, slide your wheels around twisty circuits, master drifting in the G Force tests or speed to the chequered flag in a 1-100mph drag race. <br/>
Choose Mustang, Camaro, Porsche Turbo, Audi TT or Nissan GTR, just make sure you’ve got the right car for the right track. <br/>
You’ll need a garage of cars fast in the wet, good off-road, can take corners and burn rubber for drag races. </p>

<b>Why is Top Drives the ultimate motor-sport experience for every car enthusiast?</b> <br/><br/>
<b>Features:</b> <br/>
<ul class="bluelist">
<li>Build the perfect car racing deck from over 1900 officially licensed cars</li>
<li>Marques such as McLaren, Bugatti, Pagani, Porsche, Mercedes, Audi, Mustang and many more</li>
<li>Real car stats sourced from Evo makes this the ultimate bench racing game</li>
<li>Unleash your cars on 100s of racing track challenges with our all-new Card Racing System</li>
<li>Manage, upgrade and tune your stock cars – be the best motorsport manager</li>
<li>Compete against your friends in thrilling scenarios including drag strips, race circuits & hill climbs</li>
<li>Compete against rivals to win exclusive cars in live multiplayer events</li>
<li>Weather effects and multiple surface types, including dirt tracks, asphalt and snow</li>
<li>Stunning car photography from one of the world’s top car magazines</li>
<li>Turbocharged, addictive, fun racing strategy gameplay</li></ul>

<p>Own the road, start collecting the coolest new rides, customize with upgrades then sell on your tuned- up cars to build the perfect garage! Top Drives has fast single player campaigns and multiplayer mayhem modes with speed battles to the chequered flag. <br/>Top Drives is a combination of strategic card collecting with a motor-head racing theme!</p>

<p>Get an edge by fusing your cars and push your hot wheels to the limit. Become driving champion with the best combination of performance, handling and grip. <br/><b>Start your engine</b><br/> Hit the road with Top Drives and unleash exciting updates, take to the track with the coolest, fastest cars including Porsche, McLaren and Mustang, plus enjoy new game modes and new events themed around global car culture.</p>

<b>So, buckle up, stop dreaming and start driving.</b><br/>
<b>Download Top Drives today and let them eat your dust.</b><br/>

<p>Let us know what you want to see in the game: www.hutchgames.com<br/>
<b>Our Privacy Policy:</b> http://www.hutchgames.com/privacy/<br/>
<b>Our Terms of Service:</b> http://www.hutchgames.com/terms-of-service/<br/>
Top Drives is FREE to play but offers some optional in-game items that can be purchased for real money. <br/>Top Drives is an online game and requires a persistent internet connection to play.</p>
</div>
<span onclick="myFunction()" id="myBtn" class="span mybtn">Show Full Description</span>

<div class="slidewrap space5">
<div class="slidewrap-inner">
<div class="items">
<img src="{{site.url}}/upload/top-drives.jpg"alt="{{page.title}}" width="520"/>
<img src="{{site.url}}/upload/top-drives-customize-your-car.jpeg" alt="top drives customize your car" width="500"/>
<img src="{{site.url}}/upload/top-drives-car-vs-car.jpg" alt="top drives customize your car" width="500"/>
<img src="{{site.url}}/upload/top-drive-racing.jpg" alt="top drives cars" width="500"/>
<!--<img src="{{site.url}}/upload/top-drive-game-608x0w.jpg" alt="top drives tour circuits" width="500"/>-->
		</div>
	</div>
</div>

{% for post in site.posts limit: 1 %}
<p class="link">
Latest update:<br/>
	<a href="{{site.url}}{{post.url}}" title="{{post.title}}">{{post.title}}</a>
</p>{% endfor %}

<table class="space5"><tbody>
	<tr><td>app Name:</td><td>TOP Drives car Racing</td></tr>
	<tr><td>apk file size:</td><td>	52 MB</td></tr>
	<tr><td>obb size:</td><td> 247 MB</td></tr>
	<tr><td>Game version:</td><td>v12.00.03.11563</td></tr>
	<tr><td>Package: </td><td>com.hutchgames.cccg</td></tr>
	<tr><td>last updated: </td><td>sept 01, 2020</td></tr>
	<tr><td>Android OS:</td><td>6.0</td></tr>
	<tr><td>Game Price:</td><td> free</td></tr>
	<tr><td>Developer: </td><td>Hutch Games</td></tr>
	</tbody></table>

<h2>What is new?</h2>
<p>This release contains bug fixes and some optimization work.</p>
<h2>How to install top drives car racing game on android</h2>
<p>
	First download top drives files, apk and obb data file<br/>
	install top drives apk file<br/>
	extract your downloaded top drives obb data to get this folder:<br/>
<b>com.hutchgames.cccg</b><br/>
contains this obb file:<br/>
<b>main.988703.com.hutchgames.cccg.obb</b>
copy that folder or move it to Andrroid sdcard memory:<br/>
<b>Android/obb/com.hutchgames.cccg</b><br/>
it should be in this folder <b>obb</b>
</p>
<div class="center" id="go">
<h3>Download Top Drive Car Racing<h3>
	<a class="bb" target="_blank" href="/dl/top-drives-racing-car-apk.html">Top Drives racing game 12.00.03 apk</a>
	<a class="bb" target="_blank" href="/dl/top-drives-racing-car-obb.html">Top Drives racing game 12.00.03 obb</a>
<a class="bb" target="_blank" href="/go/?url=https://play.google.com/store/apps/details?id=com.hutchgames.cccg&hl=en_US&gl=US">Google Play</a>
</div>