---
layout: post
title: Download Clash Of Clans 13.369.18 mod unlocked - unlimited gold and Gems
description: "Download Clash Of Clans the latest version mod apk v13.369.18 unlocked - unlimited coins cracked version for android"
date:  2020-04-07 11:01:15 +03:00
image: '/img/clash-clans.jpg'
tags: [mod, action]
permalink: /2019/02/latest-clash-of-clans-mod.html
keywords: ['Download coc', 'clash of clans download', 'clash of clans mod', 'COC MOD, cracked COC']
last_modified_at: 2020-11-11 12:33:00 +03:00
---
<div id="dbox">
<img src="{{site.url}}/img/clash-clans.jpg" alt="clash of clans" width="180"/>
<span class="apkinfo">
<a class="bb" href="#go">Download COC apk</a><br/>
<b>Name:</b> Clash of Clans<br/>
<b>apk size:</b> 147 MB<br/>
<b>MOD size:</b> 136.0 MB<br/>
<b>COC Mod version:</b> v13.180.8<br/>
<b>last updated: </b> August, 2020<br/>
<b>Required Android:</b> 4.1 +<br/></span>
</div>

<h3>Download COC and MOD apk</h3>
<p>Clash Of Clans the latest version mod apk unlocked with unlimited cracked android version.
	The best strategic android game cracked version and the original update.
</p>

<p>
	Build your village and make your clans powerful clan to defeat other online players and beat them all in merciless war.
</p>



<h2>Clash of Clans features</h2>
<ul class="smallist">
		<li>Build your village into a unbeatable fortress. Thats Fun!</li>
		<li>Battle with players worldwide and take their trophies.</li>
		<li>Join together with other players to form the ultimate Clan, You may request others to join your clan or join other&#8217;s.</li>
		<li>Fight against rival Clans in the epic Clan Wars.</li>
		<li>Discover your favorite attacking army from countless combinations of troops, spells, Heroes and Clan reinforcements.</li>
		<li>Defend your village with Cannons, Towers, Mortars, Bombs, Traps and Walls.</li>
		<li>Fight against the Goblin King in an epic campaign through the realm.</li>
		</ul>

<div class="slidewrap space5">
	<div class="slidewrap-inner">
	<div class="items">
<img class="img" alt="clash of clans download" src="{{site.url}}/upload/coc2.jpg" width="500" />
<img class="img" alt="download clash of clans" src="{{site.url}}/upload/coc3.jpg" width="500" />
<img class="img" alt="download clash of clans mod apk" src="{{site.url}}/upload/coc1.jpg" width="500" />
				 </div>
				</div>
			</div>

		<div class="space5">
		<table>
	<tbody>
	<tr><td>Game Name:</td><td>Clahs of Clans</td></tr>
	<tr><td>Game size:</td><td>147 MB</td></tr>
	<tr><td>obb size:</td><td>N/A</td></tr>
	<tr><td>Game version:</td><td> v13.369.18</td></tr>
	<tr><td>last updated: </td><td>August, 2020</td></tr>
	<tr><td>supported Android:</td><td>4.1 and up</td></tr>
	<tr><td>Game Price:</td><td>fre download</td></tr>
	<tr><td>Developer: </td><td><a href="/">Supercell</a></td></tr>
	</tbody>
</table>
</div>

<h3>Whats new on Clash clans</h3>
<p>This game updated to v13.369.18<br/>
	Game Performance improvements.<br/>
	enhanced game soldiers<br/>
	Some bug fixed.<br/>
</p>
<p>
<b>Mod version:</b><br/>
COC game Unlocked<br/>
Unlimited coins<br/>
Unlimited gemes<br/>
Unlimited gold<br/>
</p>

<div id="go" class="center ffa">
<h2>Download Clash of Clans apk</h2>
<a class="bb" target="_blank" href="/dl/clash-of-clans-apk.html">clash of clans 13.369.18 apk</a>
<a class="bb" target="_blank" href="/dl/clash-of-clans-mod.html">clash of clans v13.180.8 mod</a>
<a class="bb bb1" target="_blank" href="/go/?url=https://play.google.com/store/apps/details?id=com.supercell.clashofclans">On Google play</a>
</div>