---
layout: post
title: Crime City Android Game - RBG - version 9.1.0 Apk
description: "Download latest version Crime City Android Game android devices v9.1.0 apk"
permalink: /2019/11/android-oinline-game-crime-city.html
date: 2020-03-20 13:00:55 +03:00
tags: [adventure, action, mod, Download]
image: /img/crime-city.png
#last_modified_at: 2020-11-06 02:33:20 +03:00
---
<div id="dbox" class="center">
<img alt="crime city" src="{{site.url}}/img/crime-city.png" width="180" height="180"/>
<span class="apkinfo">
	<a class="bb" href="#go">Download Crime City</a><br/>
	<b>Name: </b> Crime City Mobile<br/>
	<b>version: </b> v9.1.0<br/>
	<b>apk size:</b> 57 MB<br/>
	<b>Android:</b> 4.1 +<br/>
	<b>Developer:</b> Deca_Games<br/>
	</span>
</div>

<p>Crime City (Action RPG) apk content rating is TeenViolence, Blood and can be downloaded and installed on android devices supporting 16 api and above.<br/>
<br/>Want to build a Criminal Empire and crush your rivals? Get ready to show everyone who’s boss by fighting online rivals, buying weapons, and ruling the streets in this action-packed adventure RPG.</p>

{% comment %}
<div class="center space5">
<img src="{{site.url}}/upload/crime-city.webp" alt="{{page.title}}" width="500"/>
	</div>{% endcomment %}

	<h2><a href="{{site.url}}{{page.url}}" title="{{page.title}}">latest version Crime City Android Game android devices v9.1.0 apk</a></h2>

	<div class="space5">
		<table>
			<tbody>
		<tr><td>app Name:</td><td>Android Crime City</td></tr>
		<tr><td>apk size:</td><td>	57 MB</td></tr>
		<tr><td>obb size:</td><td>2.87GB - in-Game</td></tr>
		<tr><td>Game version:</td><td> v9.1.0 apk</td></tr>
		<tr><td>Package: </td><td>com.funzio.crimecity</td></tr>
		<tr><td>last updated: </td><td> June 10, 2020</td></tr>
		<tr><td>supported Android:</td><td> 4.1 and up</td></tr>
		<tr><td>Game Price:</td><td>see google play</td></tr>
		<tr><td>Developer: </td><td>Deca_Games</td></tr>
			</tbody>
		</table>
		</div>

{% comment %}
<b id="dots">Description</b>
<div id="more">
<p><b>Crime City (Action RPG) Apk: </b><br/>
Download the latest version of Crime City Apk and create a criminal empire of Android and want to destroy your competitors? Be ready to fight online opponents, buy weapons and show action-packed adventure RPG!</p>

<p><b>Action MMORPG for free games</b><br/>
Including mafia and full jobs according to the job offer, no matter how weird or incompatible: Start fighting with your neighbors and valuable robbery, stupid competition or mob battles.</p>

<p><b>Build a criminal empire</b><br/>
Recruit your friends to join an unbeatable syndicate in the empire city and fight for your territory.</p>

<p><b>Become a Mafia Kingpin</b><br/>
<b>Real-time batting</b><br/>
Beat the other players in live, real-time battles. Go head-to-head with players and become a city gangster.</p>

<p><b>EPIC Week's Events</b><br/>
Fight your competition in the epic weekly tournament and defeat the epic owners for a valuable prize.</p>

<p><b>An epic social RPG experience</b><br/>
Let the crowd in the deep house fight in the social experience and chat with players around the world.</p>

<p><b>Members of WEAPONS</b><br/>
Choose from a hundred weapons, including machine guns, RPGs, sniper rifles, and shotguns.</p>

<p><b>A large garage of vehicles</b><br/>
In the empire, the streets of the city are collecting cars from Raging and European supercars until citywide buses to smoking.</p>
<b>Note:</b><br/>
This is an online game.<br/>
You must connect to the internet<br/>
	</div>
<span onclick="myFunction()" id="myBtn" class="span mybtn">Show Full Description</span>
{% endcomment %}

<div class="slidewrap space5">
	<div class="slidewrap-inner">
	<div class="items">
	<img src="https://cdn.apkmonk.com/images/com.funzio.crimecity.png" alt="crime city mod apk" width="940" height="310"/>
			</div>
		</div>
	</div>

	<h2>Game app permission</h2>
<p>access information about t networks<br/>
access information about Wi-Fi networks<br/>
list of accounts in the Accounts Service<br/>
open network sockets<br/>
prevent processor from sleeping or screen from dimming</p>

<h2>What is new on Crime Ciy v9.1.0</h2>
<p>In this update, some changes are made.<br/>
	This Game is Updated to the latest version v9.1.0<br/>
Fixed crash issues related to Hardcore Boss event</p>

<div id="go" class="center ffa">
<a class="bb" href="/dl/crime-city-apk.html" target="_blank">Latest Crime City V9.1.0 Apk</a>
<a class="bb" href="/go/?url=https://play.google.com/store/apps/details?id=com.funzio.crimecity" target="_blank">Game On Google play</a>
</div>