---
layout: post
title: Bright Memory Mobile v1.3 apk obb Data full for android devices
description: Download the latest mobile Bright Memory 1.3 apk obb data for android mobiles updated
date:  2020-05-25 13:01:05 +03:00
image: '/img/bright-memory-mobile.jpg'
tags: [action, Download]
permalink: /2020/04/bright-memory-mobile.html
last_modified_at: 2020-11-11 02:33:00 +03:00
---
<div id="dbox">
<img src="{{site.url}}/img/bright-memory-mobile.jpg" alt="mobile bright memory" width="180"/>
<span class="apkinfo">
<a class="bb" href="#go">Download Game app</a><br/>
<b>Name:</b> Bright Memory Mobile<br/>
<b>apk size:</b> 36.4 MB<br/>
<b>obb data size:</b> 664.6 MB<br/>
<b>Game version:</b> v1.3<br/>
<b>last updated: </b>January 21, 2020</li><br/>
<b>Device support:</b> Android - 5.0 and up<br/>
</div>

	<h2>Bright Memory Mobile Game apk + obb data</h2>
<P>Download the latest Bright Memory Mobile for android mobiles and enjoy playing this game.</P>

<p>	Bright Memory Mobile Game is about two worlds as if they are twins, but some have believes these tow similar planets cant be fit together as one.<br/>
	It tells a adventure story of Shelia of Natural Science Research Organization (SRO)..<b id="dots">...</b></p>
	<div id="more">
<p>
	one of them must die in order to the second one live, from these people is the player who tries to destroy a laboratory trying to connect the worlds and at a certain moment the player moves to the second world between strange creatures and tries to survive with his life and the thread of his only hope is a light in the sky similar to the light that appeared in the laboratory.
</p>
	<p>First-person action shooting game,the players can control different styles of special abilities and create a set of gorgeous combos with combination of skills.</p>

	<p>
		<b>[Attention before purchase] :</b>
The game only contains 1 hour flow, please do not buy it if you cannot accept it.<br/>
Since the PC full version has not been developed yet, it is uncertain whether it can be transplanted.</p>

<b>[Device]:</b>
System: Android 5.0 ~ 10.0<br/>
- Minimum CPU : Snapdragon 660<br/>
- Medium CPU：Snapdragon 820<br/>
- Recommend CPU : Snapdragon 855 / Kirin 980<br/>
	</p>
</div>

<span onclick="myFunction()" id="myBtn" class="span mybtn">Show Full Description</span>

<div class="space5">
<table><tbody>
	<tr><td>Game Name:</td><td>Mobile Bright Memoryy</td></tr>
	<tr><td>apk file size:</td><td>	36M</td></tr>
	<tr><td>obb size:</td><td> 665M</td></tr>
	<tr><td>Game version:</td><td> v1.3</td></tr>
	<tr><td>Package name: </td><td>com.FYQD.BrightMemory</td></tr>
	<tr><td>last updated: </td><td> June 12, 2020</td></tr>
	<tr><td>Android OS:</td><td>5.0</td></tr>
	<tr><td>Game Price:</td><td> free</td></tr>
	<tr><td>Developer: </td><td>FYQD Studio</td></tr>
	</tbody></table>
</div>

<h2>how to instal Bright Memory Mobile v1.3 apk obb</h2>
<p>
	download game apk file from the  link provided<br/>
	instal the file..<br/>
	download bright memory obb data file<br/>
	extract the zip format file to get this : <b>com.FYQD.BrightMemory</b><br/>
	move the folder contains the obb data file with .obb extension to:<br/>
	<b>SDcar/android/obb</b>
	..<br/>
	enjoy this game..</p>

{% comment %}
	<div class="slidewrap space5">
		<div class="slidewrap-inner">
		<div class="items">
		<img src="{{site.url}}/upload/top-drives.jpg"alt="{{page.title}}" width="520"/>
		<img src="{{site.url}}/upload/top-drives-customize-your-car.jpeg" alt="top drives customize your car" width="500"/>
		<img src="{{site.url}}/upload/top-drives-car-vs-car.jpg" alt="top drives customize your car" width="500"/>
		<img src="{{site.url}}/upload/top-drive-racing.jpg" alt="top drives cars" width="500"/>
		<!--<img src="{{site.url}}/upload/top-drive-game-608x0w.jpg" alt="top drives tour circuits" width="500"/>-->
				</div>
			</div>
		</div>{% endcomment %}

<div class="slidewrap space5">
<div class="slidewrap-inner">
<div class="items">
<img class="img" width="356" alt="bright memory mobile apk" src="{{site.url}}/upload/bright-memory-mobile-1.jpg" width="400" />
<img class="img" width="356" alt="bright memory obb data" src="{{site.url}}/upload/bright-memory-mobile-2.jpg" width="400" />
<img class="img" width="356" alt="download bright memory mod apk"  src="{{site.url}}/upload/bright-memory-mobile-3.jpg" width="400" />
   </div>
  </div>
</div>
<div class="center">
<h3 id="go">Download Bright Memory Mobile</h3>
<!--	<a class="bb" href="{{site.url}}/download/bright-memory-mobile.html">Bright Memory 1.3 apk</a><br/>-->
<a target="_bank" class="bb" href="/dl/bright-memory-apk.html">Bright Memory 1.3 apk</a>
<a target="_bank" class="bb" href="/dl/bright-memory-obb.html">Bright Memory 1.3 obb</a>
<a target="_bank" class="bb bb1" href="/go/?url=https://play.google.com/store/apps/details?id=com.FYQD.BrightMemory">Game On Google play</a></span>
</div>{% comment %}
<!--
<script type="text/javaScript">
var i = 0; var path = new Array();
path[0] = "/upload/bright-memory-mobile-1.jpg";
path[1] = "/upload/bright-memory-mobile-2.jpg";
path[2] = "/upload/bright-memory-mobile-3.jpg";
function swapImage()
		{
		/*document.slide.src = path[i];*/
document.getElementById('slide').src = path[i];
if(i < path.length - 1) i++;
else i = 0;
setTimeout("swapImage()",2000);
		}
window.onload=swapImage;
</script>
-->{% endcomment %}