---
layout: post
title:  "Brutal Age Horde Invasion 0.8.18 Apk latest plus MOD unlimited money"
description: "Download the latest Brutal Age Horde Invasion mod apk 0.8.18 unlocked"
date:   2020-03-31 23:59:59 +03:00
image:  '/assets/img/brutal-age.jpg'
tags:   [adventure, action, Download]
permalink: /2020/03/brutal-age-horde-invasion.html
last_modified_at: 2020-11-06 02:35:00 +03:00
---
<!-- http://s1.rexdl.com/android/game/Brutal-Age-Horde-Invasion-v0.8.18-www.ReXdl.com.apk-->
<div id="dbox">
<img alt="brutal age horde vision" src="{{site.url}}/assets/img/brutal-age.jpg" width="180"/>
<span class="apkinfo">
<a class="bb" href="#go">Download Game apk</a>
<span class="break-btm"></span>
<b>app Name:</b> Brutal Age Horde Invasion<br/>
<b>apk size:</b> 86.06MB<br/>
<b>MOD Version</b> 0.8.18<br/>
<b>MOD File size:</b> 99.02MB<br/>
<b>Required:</b> 4.0 up<br/>
<!--<b>Last updated:</b> August, 2020 - google play updates-->
</span>
</div>

<h2>Download Brutal Age </h2>
<p>the latest version Brutal Age Horde Invasion mod apk for android devices. 	Make your tribe dominates allover the world with high strategy game technics.</p>

<table>
<tbody>
<tr><td>Game Name:</td><td>Brutal Age: Horde Invasion</td></tr>
<tr><td>apk size:</td><td>86M</td></tr>
<!--<tr><td>obb size:</td><td>2.87GB - in-Game</td></tr>-->
<tr><td>Game version:</td><td> 0.8.18</td></tr>
<tr><td>last updated: </td><td>August 2020</td></tr>
<tr><td>supported Android:</td><td>4.0.3 and up</td></tr>
<tr><td>Developer: </td><td>tap4fun</td></tr>
<tr><td>Package:</td><td>com.tap4fun.brutalage</td></tr>
<tr><td>Game Price:</td><td>free</td></tr>
 </tbody>
</table>

<div class="center space5"> 
	<img alt="brutal age" src="{{site.url}}/upload/brutal-age.jpg" width="542"/>
</div>

<h2>Whats is new</h2>
<p>Game is up to date with latest version 0.8.18<br/>
{% comment %}<!--
The Chief Invitation will start soon! Invite your friends to join the game, and claim an exclusive Popular Nameplate!
Rare Hatchery portal will open regularly every week
Appearance Store now supports viewing appearances and refreshing the reward pool
The Main Stats and Sub Stats of War Patterns can be classified by percentages or numerical values
Now supports sharing your Partners to chat channels to show them to others; Added Partner Shard lock function
	-->{% endcomment %}
	<b>Mod version:</b> unlimited money</p>

<h3>Download brutal age latest version + mod</h3>
<p id="go" class="center ffa">
<a class="bb" target="_blank" href="/dl/brutal-age-apk.html">Brutal Age Horde 0.8.18 apk</a>
<a class="bb" target="_blank" href="/dl/brutal-age-mod.html">Brutal Age Horde 0.7.10 mod</a>
<a class="bb1 bb" target="_blank" href="/go/?url=https://play.google.com/store/apps/details?id=com.tap4fun.brutalage_test">Game On Google play</a>
</p>