---
layout: page
title: "DMCA Policy"
description: "Abzinid - Android & Blogger Templates DMCA policy takeDown."
permalink: /dmca-copyright-holders
last_modified_at: 2020-11-06 12:30:10 +03:00
image: "/assets/img/ab.png"
sitemap: false
#published: false
---
<br/><br/>
<div class='space5'>
<h2>Copyright Holders (DCMA Report)</h2>

<p>
	<a href="{{site.url}}">abzinid.com</a> website does not host materials, copyright & related rights for which (including the right to distribution) belong to other company, persons or entities.
</p>
<p>
	If you are a copyright owner or an agent, and you believe that any material available on our swebsite "abzinid.com" infringes your copyrights, then you may submit a written copyright infringement notification using the contact details below pursuant to the DMCA. All such Notifications must comply with the DMCA requirements.
</p>

<h2>There are several options for solving the problem:</h2>

<ul class="break-btm redlist">
<li>1. Replacing the reference of an existing shared material or application with the matrial or application provided by the copyright holder. This should be either a reduced copy of the complete application or a complete application material, but with advertising.</li>
<li>2. Link to the material or application is replaced by a link to Google Play, Amazon, Appstore or the official site of that material or application.</li>
<li>3. Removal of all links to the material or application from the site. To do this, the owner of the right must confirm their rights to <b>the material or application</b> on the site.</li>
</ul>

<h2>There are several ways to do this:</h2>

<ul class="break-btm bluelist">
<li>1. Write to site administration with an E-mail, which is indicated on the official site of the application or the company that produces the application or the shared material.</li>
<li>2. Write to the administration of the site with E-mail, which is specified in the material or application.</li>
<li>3. Submit site administration scanned documents, which confirm the existence of copyright in the shared material or application.</li>
<li>4. On the official website of the application or the company that is releasing the application or shared material, you need to create a .txt file named abzinid-com, and then send the link to the site administration. To contact the Site Administration, you can use <a href="https://contact.abzinid.com" title="contact us">contact us form</a> or email us on through this email provided here:</li>
</ul>
<p class="center space3" style="color:#000;font-size:25px;">
<a href="m21ilto:cont21ct@21bzinid.com" onmouseover="this.href=this.href.replace(/21/g,'a');"><span class='span' id="moved" title='contact us'>contact<span class='moved1'>because we moved our website from</span><span>@</span>abzinid<span class="moved2">to a new web hosting in 2020</span><span class="moved3">with top level domain</span>.com</span></a>
<!--
m&#46;&#97;&#98;zi&#110;id&#64;g&#109;a&#105;&#108;&#46;&#99;&#111;m
</p>-->
</div>