---
layout: page
title: "Abzinid - Android & Blogger Templates - Privacy Policy"
description: "We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy."
last_modified_at: 2020-11-06 01:43:00 +03:00
permalink: /privacy-policy
image: "/assets/img/ab.png"
sitemap: true
---
<div class='space5'>
	<br/>
<p>
<b>Effective Date: <u>Sep 17, 2020</u></b><br/>
<b>Abzinid - Android & Blogger Templates</b> ("us", "we", or "our") operate this website <a href="{{site.url}}/" title="www.abzinid.com">www.abzinid.com</a> (the "Service").</p>

<p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.</p>

<p>We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our <a href="{{site.url}}/terms-of-use.html">Terms and Conditions</a>, accessible from <a href="{{site.url}}/">our website</a></p>

<h2>Information Collection And Use</h2>

<p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>

<h2>Types of Data Collected</h2>

<h4>Personal Data</h4>

<p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data").<br/>
Personal identifiable information may include, but is not limited to the following:</p>

<ul><li>First name and last name </li>
<li>Email address</li>
<li>Phone number</li>
<li>Address, City, State, Province, ZIP/Postal code</li>
<li>Cookies and Usage Data</li></ul>

<h2>Data Usage</h2>

<p>We may also collect information how the Service is accessed and used ("Usage Data").<br/>
This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>

<h2>Tracking & Cookies Data</h2>

<p>We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.<br/>
we use cloudflare services and that require setting cookies on your browser for security purposes and performance, you can see more information on <a href="https://support.cloudflare.com/hc/en-us/articles/200170156" target="_blank">Understanding the Cloudflare Cookies</a> and also see
<a href="https://www.cloudflare.com/privacypolicy/" target="_blank">Cloudflare Privacy Policy</a>.</p>

<blockquote>
Cloudflare uses the _cflb, _cf_bm, and _cfduid, cookies to maximize network resources, manage traffic, and protect our Customers&#8217; sites from malicious traffic.<br/>
</blockquote>

<p>Cookies are files with small amount of data which may include an anonymous unique identifier.<br/>
Cookies are sent to your browser from a website and stored on your device.<br/>
Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.<br/>
You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent.<br/>
However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>

<h2>Examples of Cookies we use:</h2>

<p><b>Session Cookies:</b><br/>
We use Session Cookies to operate our Service.<br/>
<b> Preference Cookies:</b><br/>
We use Preference Cookies to remember your preferences and various settings.<br/>
<b>Security Cookies:</b>
<br/>We use Security Cookies for security purposes.</p>

<h2>Use of Data</h2>

<p><u><b>Abzinid - Android & Blogger Templates</b></u> uses the collected data for various purposes:</p>

<ul><li>To provide and maintain the Service</li>
<li>To notify you about changes to our Service</li>
<li>To allow you to participate in interactive features of our Service when you choose to do so</li>
<li>To provide customer care and support</li>
<li>To provide analysis or valuable information so that we can improve the Service</li>
<li>To monitor the usage of the Service</li>
<li>To detect, prevent and address technical issues</li></ul>

<h2>Transfer Of Data</h2>

<p>Your information, including Personal Data, may be transferred to &#8212; and maintained on &#8212; computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.<br/>
If you are located outside Canada and choose to provide information to us, please note that we transfer the data, including Personal Data, to Canada and process it there.</p>

<p>Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.<br/>
<u><b>Abzinid - Android & Blogger Templates</b></u> will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</p>

<h2>Disclosure Of Data</h2>

<h3>Legal Requirements</h3>

<p><u><b>Abzinid - Android & Blogger Templates</b></u> may disclose your Personal Data in the good faith belief that such action is necessary to:</p>

<ul><li>To comply with a legal obligation</li>
<li>To protect and defend the rights or property of <u><b>Abzinid - Android & Blogger Templates</b></u></li>
<li>To prevent or investigate possible wrongdoing in connection with the Service</li>
<li>To protect the personal safety of users of the Service or the public</li>
<li>To protect against legal liability<br/></li></ul>

<h2>Security Of Data</h2>

<p>The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure.<br/>
While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>

<h2>Service Providers</h2>

<p>We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.<br/>
These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>

<h2>Analytics</h2>

<p>We may use third-party Service Providers to monitor and analyze the use of our Service.</p>

<h2>Google Analytics</h2>

<p>Google Analytics is a web analytics service offered by Google that tracks and reports website traffic.<br/>
Google uses the data collected to track and monitor the use of our Service.<br/>
This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.<br/>
<br/>
You can opt-out of having made your activity on the Service available to Google Analytics by installing the Google Analytics opt-out browser add-on.<br/>
The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js, and dc.js) from sharing information with Google Analytics about visits activity.</p>

<p>For more information on the privacy practices of Google, please visit the Google Privacy & Terms web page: <a href="https://policies.google.com/privacy?hl=en" target="_blank">Google Privacy Policies</a></p>

<h2>Links To Other Sites</h2>

<p>Our Service may contain links to other sites that are not operated by us.<br/>
If you click on a third party link, you will be directed to that third party's site.<br/>
We strongly advise you to review the Privacy Policy of every site you visit.</p>

<p>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>

<h2>Children's Privacy</h2>

<p>Our Service does not address anyone under the age of 18 ("Children").</p>

<p>We do not knowingly collect personally identifiable information from anyone under the age of 18.<br/>
If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact us.<br/>
If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.</p>

<h2>Changes To This Privacy Policy</h2>

<p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

<p>We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy.<br/>
	<br>
You are advised to review this Privacy Policy periodically for any changes.<br/>
Changes to this Privacy Policy are effective when they are posted on this page.</p>

<h2>Contact Us</h2>

<p>If you have any questions about this Privacy Policy, please <a href="https://contact.abzinid.com" title="contact us">contact us</a>.</p></div>
