---
layout: page
title: "HTTP squid proxy server list"
description: "Squid is a caching web proxy that supports HTTP, HTTPS and other connection protocol. It can improves web pages response times by caching resource to the closer region when requested again which means more speed internet surfing and connection."
last_modified_at: 2020-11-06 08:31:11 +03:00
permalink: /squid-proxy-server-list
image: "/img/squid-proxy-list.png"
#sitemap: false
#noindex: true
---
<div class="space5">
<br/>
<div class="center space5">
<img class="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20500%20300'%3E%3C/svg%3E" datat-sizes="auto" data-src="{{ page.image | absolute_url }}" alt="{{page.title}}" width="500" height="300"/>
</div>
<h2 class="title-table">Latest Updated Proxy List</h2>
<span class='jtag'>Last updated: {{page.last_modified_at | date_to_rfc822}}</span>
<p>Squid is a caching web proxy that supports HTTP, HTTPS and other connection protocol. It can improves web pages response times by caching resource to the closer region when requested again which means more speed internet surfing and connection.</p>
<p>Here we have a list of latest updated squid proxies with ip and ports including server locations from top leading ssh and vpn providers, these squid proxies can help you improve your internet speed with more stable and secure connection.</p>
<p>Wen using a vpn applications or any http injector vpn apps that use ssh tunneling, squid proxies are integrated with it  for more security  and low ping connections. </p>
<p>Squid proxy list includes server ip from the following ssh tunnel accounts providers; Fastssh, speedssh, fullssh and others, wen you create an ssh sever account o one of those ssh server provide to use them on  http injector vpn app or any similar as kpn shh tunnels you need to use squid proxy and poet to get your vpn connected.</p>
<h2>fastssh.com squid proxy and ports with server location provided</h2>
<p>Select your favorite squid proxy server and location - <b>fastssh.com</b></p>
<div id="proxy">	
<div class="space5 proxies">
<table>
<tbody>
<tr><td>194.124.35.107</td><td>8080</td><td>HTTP</td><td>SSH</td><td>Singapore</td><td>FastSSH</td></tr>
<tr><td>194.124.35.115</td><td>8080</td><td>HTTP</td><td>SSH</td><td>Singapore</td><td>FastSSH</td></tr>
<tr><td>51.159.64.141</td><td>8080</td><td>HTTP</td><td>SSH</td><td>Germany</td><td>FastSSH</td></tr>
<tr><td>163.172.29.224</td><td>8080</td><td>HTTP</td><td>SSH</td><td>Netherlandss</td><td>FastSSH</td></tr>
<tr><td>45.144.240.170</td><td>8080</td><td>HTTP</td><td>SSH</td><td>Japan</td><td>FastSSH</td></tr>
<tr><td>147.78.15.13</td><td>8080</td><td>HTTP</td><td>SSH</td><td>United States</td><td>FastSSH</td></tr>
<tr><td>81.90.189.12</td><td>8080</td><td>HTTP</td><td>SSH</td><td>Singapore</td><td>FastSSH</td></tr>
</tbody>
</table>
</div>
<h2>MyTunneling.com squid proxy list and ports with server location provided</h2>
<p>Select your favorite squid proxy server and location from <b>mytunneling.com</b> ssh server provider</p>
<div class="space5 proxies">
<table>
<tbody>
<tr><td>140.82.11.238</td><td>80, 8888</td><td>HTTP</td><td>SSH, VPN</td><td>United States</td></tr>
<tr><td>149.28.227.10</td><td>80, 8888</td><td>HTTP</td><td>SSH, VPN</td><td>United States</td></tr>
<tr><td>45.63.15.5</td><td>80, 8888</td><td>HTTP</td><td>SSH, VPN</td><td>United States</td></tr>
<tr><td>155.138.138.177</td><td>80, 8888</td><td>HTTP</td><td>SSH, VPN</td><td>Canada</td></tr>
<tr><td>66.42.48.31</td><td>80, 8888</td><td>HTTP</td><td>SSH, VPN</td><td>Singapore</td></tr>
<tr><td>149.28.152.33</td><td>80, 8888</td><td>HTTP</td><td>SSH, VPN</td><td>Singapore</td></tr>
<tr><td>198.13.36.75</td><td>80, 8888</td><td>HTTP</td><td>SSH, VPN</td><td>Japan</td></tr>
<tr><td>199.247.28.177</td><td>80, 8888</td><td>HTTP</td><td>SSH, VPN</td><td>Netherlands</td></tr>
<tr><td>192.248.150.173</td><td>80, 8888</td><td>HTTP</td><td>SSH, VPN</td><td>United Kingdom</td></tr>
<tr><td>209.250.238.7</td><td>80, 8888</td><td>HTTP</td><td>SSH, VPN</td><td>Germany</td></tr>
</tbody>
</table>
</div>
<h2>bestvpn.com squid proxy list and ports with server location provided</h2>
<p>Select your favorite squid proxy server and location from <b>bestvpnssh.com</b> ssh server provider with servers in Canada, Australia, Netherlands, Germany and Asia, </p>
<div class="space5 proxies">
<p>Squid proxy ports: <br/>
<b class="code">80, 8080, 8000, 3128</b></p>
<table>
<tbody>
<tr><td>45.77.32.193</td><td>HTTP</td><td>SSH, VPN</td><td>Singapore</td></tr>
<tr><td>45.32.109.40</td><td>HTTP</td><td>SSH, VPN</td><td>Singapore</td></tr>
<tr><td>139.180.158.215</td><td>HTTP</td><td>SSH, VPN</td><td>Singapore</td></tr>
<tr><td>95.179.254.42</td><td>HTTP</td><td>SSH, VPN</td><td>Germany</td></tr>
<tr><td>45.63.119.142</td><td>HTTP</td><td>SSH, VPN</td><td>Germany</td></tr>
<tr><td>136.244.107.21</td><td>HTTP</td><td>SSH, VPN</td><td>Netherlands</td></tr>
<tr><td>66.42.101.168</td><td>HTTP</td><td>SSH, VPN</td><td>United States</td></tr>
<tr><td>149.28.57.203</td><td>HTTP</td><td>SSH, VPN</td><td>United States</td></tr>
<tr><td>149.248.56.105</td><td>HTTP</td><td>SSH, VPN</td><td>Canada</td></tr>
<tr><td>139.180.171.129</td><td>HTTP</td><td>SSH, VPN</td><td>Australia</td></tr>
</tbody>
</table>
</div>
<h2>SpeedSSH.com squid proxy list and ports with server location provided</h2>
<p>Select your favorite squid proxy server and location from <b>speedssh.com</b> ssh server provider</p>
<div class="space5 proxies">
<p>Squid proxy ports: <br/>
<b class="code">80,8888,44331</b></p>
<table>
<tbody>
<tr><td>66.42.48.31</td><td>HTTP</td><td>SSH, VPN</td><td>Singapore</td></tr>
<tr><td>149.28.152.33</td><td>HTTP</td><td>SSH, VPN</td><td>Singapore</td></tr>
<tr><td>198.13.36.75</td><td>HTTP</td><td>SSH, VPN</td><td>Japan</td></tr>
<tr><td>209.250.238.7</td><td>HTTP</td><td>SSH, VPN</td><td>Germany</td></tr>
<tr><td>199.247.28.177</td><td>HTTP</td><td>SSH, VPN</td><td>Netherlands</td></tr>
<tr><td>192.248.150.173</td><td>HTTP</td><td>SSH, VPN</td><td>United Kingdom</td></tr>
<tr><td>140.82.11.238</td><td>HTTP</td><td>SSH, VPN</td><td>United States</td></tr>
<tr><td>149.28.227.10</td><td>HTTP</td><td>SSH, VPN</td><td>United States</td></tr>
<tr><td>45.63.15.5</td><td>HTTP</td><td>SSH, VPN</td><td>United States</td></tr>
<tr><td>155.138.138.177</td><td>HTTP</td><td>SSH, VPN</td><td>Canada</td></tr>
</tbody>
</table>
</div>
<h2>tcpvpn.com squid proxy list and ports with server location provided</h2>
<p>Select your favorite squid proxy server and location from <b>tcpvpn.com</b> ssh server provider with servers in Europe	- Netherlands, Germany, France, United Kingdom, North America	- United States and Asia	- Singapore.</p>
<div class="space5 proxies">
<p>Squid proxy ports: <br/>
<b class="code">80, 81, 8080, 8000</b></p>
<table>
<tbody>
<tr><td>45.64.99.74</td><td>HTTP</td><td>VPN</td><td>Indonesia</td></tr>
<tr><td>192.187.97.90</td><td>HTTP</td><td>VPN</td><td>United States</td></tr>
<tr><td>45.64.99.44</td><td>HTTP</td><td>VPN</td><td>Indonesia</td></tr>
<tr><td>163.172.220.146</td><td>HTTP</td><td>VPN</td><td>Netherlands</td></tr>
<tr><td>51.195.45.253</td><td>HTTP</td><td>VPN</td><td>Germany</td></tr>
<tr><td>51.75.246.54</td><td>HTTP</td><td>VPN</td><td>France</td></tr>
<tr><td>111.221.44.59</td><td>HTTP</td><td>VPN</td><td>Singapore</td></tr>
<tr><td>54.38.78.90</td><td>HTTP</td><td>VPN</td><td>United Kingdom</td></tr>
</tbody>
</table>
</div>
<h2>Cyberssh.com squid proxy list and ports with server location provided</h2>
<p>Select your favorite squid proxy server and location from <b>Cyberssh.com</b> ssh server provider with servers in United States, Europ	- Germany, Netherlands, North America - Canada, Australia and Asia - Singapore</p>
<div class="space5 proxies">
<p>Squid proxy ports:<br/><b class="code">80, 8080, 8000, 3128</b></p>
<table>
<tbody>
<tr><td>149.28.57.203</td><td>HTTP</td><td>SSH</td><td>United States</td></tr>
<tr><td>136.244.107.21</td><td>HTTP</td><td>SSH</td><td>Netherlands</td></tr>
<tr><td>45.32.109.40</td><td>HTTP</td><td>SSH</td><td>Singapore</td></tr>
<tr><td>45.77.32.193</td><td>HTTP</td><td>SSH</td><td>Singapore</td></tr>
<tr><td>95.179.254.42</td><td>HTTP</td><td>SSH</td><td>Germany</td></tr>
<tr><td>139.180.158.215</td><td>HTTP</td><td>SSH</td><td>Singapore</td></tr>
<tr><td>45.63.119.142</td><td>HTTP</td><td>SSH</td><td>Germany</td></tr>
<tr><td>149.248.56.105</td><td>HTTP</td><td>SSH</td><td>Canada</td></tr>
<tr><td>139.180.171.129</td><td>HTTP</td><td>SSH</td><td>Australia</td></tr>
<tr><td>66.42.101.168</td><td>HTTP</td><td>SSH</td><td>United States</td></tr>
</tbody>
</table>
</div>
</div>
<p>All above squid proxies are up to date, you can get more squid proxies from other service providers such ass <b>hidemy.name</b> and more other are available if you want, just make google search you will a lot.</p>
</div>