---
layout: main
#sitemap: false
# noindex: true
image: '/assets/main/oiin.png'
# canonical_url: ''
pagination:
  enabled: true
---
<div class='clearfix'></div>
<div class='blog-posts hfeed container index-post-wrap'>
<!--	| sort: "last_modified_at" | reverse -->
{% assign sorted-posts = paginator.posts %}
{% for post in sorted-posts %}
<div class='blog-post hentry index-post'>	{% if post.image %}
<div class='post-image-wrap'>
<a class='post-image-link' href='{{ post.url | absolute_url }}'><img alt='{{ post.title }}' class='post-thumb lazy' src="/icons/load.svg" data-sizes='auto' data-src='{{ post.image | absolute_url }}'/></a>{% if post.tags.size >= 1 %}{% for tag in post.tags limit: 1 %}
<span class='post-tag index-post-tag'>{{ tag }}</span>{% endfor %}{% endif %}
</div>{% endif %}
<div class='post-info'>
<h2 class='post-title'><a href='{{ post.url | absolute_url }}'>{{ post.title }}</a></h2>
<div class='post-meta'>
<span class='post-author'>By: <a href='' title='Author'>oiin apps</a></span>
<span class='post-date published' datetime='{{ page.last_modified_at | date_to_xmlschema }}'>{{ post.last_modified_at | date: "%b %-d, %Y" }}</span>
</div>
<p class='post-snippet'>{% if post.description.size > 20 %}{{ post.description | truncate: 120 }}{% else %}{{ post.content | strip_html | truncate: 120 }} {% endif %}</p>	</div>
	</div>{% endfor %}
</div>
<div class="pagination">{% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | absolute_url }}" class="previous">&laquo;&laquo; prev</a>{% else %}
<span class="previous">&laquo;&laquo; prev</span>{% endif %}
<span class="page_number ">{{ paginator.page }} &laquo; of &raquo; {{ paginator.total_pages }}</span>{% if paginator.next_page %}<a href="{{ paginator.next_page_path | absolute_url }}" class="next">next &raquo;&raquo;</a>{% else %}
<span class="next ">next &raquo;&raquo;</span>{% endif %}</div>