---
layout: home
class: tags
image: /assets/img/ab.png
pagination:
  enabled: true
---
<div class='blog-posts container index-post-wrap'>
<div class='grid-posts'>
	{% comment %}<!--<div class='post-labels'>-->{% endcomment %}
<div class="center">
<h2 class='center btt post-title'>{% if page.autopages %}{{page.autopages.display_name}}{% endif %}{% if paginator.previous_page %} - {{page.pagination_info.curr_page}} of {{page.pagination_info.total_pages}}{% endif %}</h2>
</div>
{% comment %}
{% if paginator.previous_page %}Page {{page.pagination_info.curr_page}} of {{page.pagination_info.total_pages}}{% endif %}

<span class="btt">Page {{page.pagination_info.curr_page}} of {{page.pagination_info.total_pages}}</span>

{% endcomment %}
<span class="block-margin"></span>
{{ content | markdownify }}

{% assign sorted-posts = paginator.posts %}{% for post in sorted-posts %}
{% comment %}<!-- for post in paginator.posts -->{% endcomment %}
<div class='blog-post index-post'>{% if post.image %}
<div class='post-image-wrap'>
<a class='post-image-link' href='{{site.url}}{{ post.url }}'><img alt="{{ post.title }}" class="post-thumb lazy" data-sizes="auto" src="{{site.url}}/icons/abzi-gif.gif" data-src="{{ post.image | absolute_url }}"/></a>
</div>{% endif %}
<div class='post-info'>
<h2 class='post-title'>
<a class='entry-title-link' href='{{ post.url | prepend: site.baseurl | prepend: site.url }}' rel='bookmark'>{{ post.title }}</a></h2>
<div class='post-meta'>
<span class="post-author">
<br/>By: Abzinid</span> - <span itemscope itemtype="http://schema.org/dateModified">
	<time itemprop="updated" datetime="{{ post.last_modified_at | date_to_xmlschema }}"><span class="jtag">{{ post.last_modified_at | date: "%b %-d, %Y" }}</span></time></span>
</div>
<p class='post-snippet'>{% if post.description.size > 20 %}
{{ post.description | truncate: 120 }}{% else %}{{ post.content | strip_html | truncate: 120 }}{% endif %}
</p>
    </div>
   </div>{% endfor %}
  </div>
 </div>
 <!-- Pagination links -->{% if paginator.total_pages > 1 %}{% if page.url contains 'android' %}
 <div class="pagination">{% if paginator.previous_page %}
 <a href="{{ site.url }}{{ paginator.previous_page_path }}">&laquo;</a>{% else %}
 <span>&laquo;</span>{% endif %}{% for page in (1..paginator.total_pages) %}{% if page == paginator.page %}
 <span class="webj">{{ page }}</span>{% elsif page == 1 %}
 <a href="{{site.url}}">{{ page }}</a>{% else %}<a href="{{ site.url }}/android/{{ page }}/">{{ page }}</a>{% endif %}{% endfor %}{% if paginator.next_page %}
 <a href="{{ site.url }}{{ paginator.next_page_path }}">&raquo;</a>{% else %}
 <span>&raquo;</span>{% endif %}
 </div>{% endif %}{% endif %}{% if page.url contains 'blogger' %}
 {% if paginator.total_pages > 1 %}
 <div class="pagination">{% if paginator.previous_page %}
 <a href="{{ site.url }}{{ paginator.previous_page_path }}">&laquo;</a>{% else %}
 <span>&laquo;</span>{% endif %}{% for page in (1..paginator.total_pages) %}{% if page == paginator.page %}
 <span class="webj">{{ page }}</span>{% elsif page == 1 %}
 <a href="{{site.url}}">{{ page }}</a>{% else %}<a href="{{ site.url }}/blogger/{{ page }}/">{{ page }}</a>{% endif %}{% endfor %}{% if paginator.next_page %}
 <a href="{{ site.url }}{{ paginator.next_page_path }}">&raquo;</a>{% else %}
 <span>&raquo;</span>{% endif %}
 </div>{% endif %}
 {% endif %}