---
layout: page
# noindex: true
---
<p>Android Games apk and obb data files links are direct download links,<br/>
however, some files are uploaded on up-4ever.org server.<br/>
<strong>see below how to </strong><a href="#up" title="see below">Download these files.</a></p>
<span id="up"></span>
<h3>How to Download from up-4ever.org</h3>
<p>Here is how to bypass <b>pop up ads</b> and <span class="break">download this file:</span>
<span class="break">Chose <b>Free download</b></span>
<span class="break">Verify you're <b>not robot</b></span>
The Button <u><span class="bbwis">Click Here to Download</span></U> is covered with<b> (on click pop up ads)</b> so to bypass it <span class="break">follow this:</span>
<b>Press and hold</b> on <span class="break">the download button for few seconds</span>
<span class="break">then from menu copy link, </span>
<span class="break">paste on  address bar and go..</span>
<span class="break">your download automatically starts..		</span>
see screenshot below ..</p>
<div class="center">
<div id="link" class="bbwis1">
<div id="download" style="display:none">
{% include link.html %}
<br/>
<br/>
	</div>
	</div>
<!-- <a href='{{ page.path | remove: ".html" }}'><button>{{ page.title }}</button></a> -->
<script type="text/javascript">
var downloadButton = document.getElementById("download");
var counter = 10;
var newElement = document.createElement("p");
newElement.innerHTML = "Wait a Second.";
var id;
downloadButton.parentNode.replaceChild(newElement, downloadButton);
id = setInterval(function() {
counter--;
	if(counter < 0) {
downloadButton.style.display = 'inline';
newElement.parentNode.replaceChild(downloadButton, newElement);
clearInterval(id);} else {
newElement.innerHTML = "link after: " + counter.toString() + " seconds<br/><img src=\"/img/ajax-loader-cyrcle.gif\">";}}, 1000);
	</script>
	<!--
	<br />
	<script type="text/javascript" src="//uprimp.com/bnr.php?section=General&pub=172789&format=300x250&ga=g&bg=1"></script>
<br/>
-->
	<img alt="don't click" width="200" src="{{site.url}}/img/dont-click.png" width="200"/><img alt="copy link" width="200" src="{{site.url}}/img/copy-link.png" width="200"/><br/>
		</div>
		<h3>Pay Per Download - Earn Mony</h3>
		<p>Join up-4ever and earn money from uploading files, they pay you <b> $4 - $8 per 1000 </b> completed downloads ..
		share your file links on social media or post them on your web site or blog..
		Payout just <b>one dollar $1 </b><a href="/upload-and-earn/"> join now</a> and start earning money..</p>