---
layout: yllix-up4ever-layout
#layout: link2app
#layout: main
---
<body class="static_page item">
<div id="outer-wrapper">
<div class="container">
<script type='text/javascript'>
function createCookie(name,value,days) {
if (days) {
var date = new Date();
date.setTime(date.getTime()+(days*24*60*60*1000));
var expires = "; expires="+date.toGMTString();}
else var date = new Date();
date.setTime(date.getTime()+(300*1000));
var expiry = '; expires=' + date.toUTCString();
document.cookie = 'abzinid=123'+expiry+'; path=/';   }
function readCookie(name) {
var nameEQ = name + "=";
var ca = document.cookie.split(';');
for(var i=0;i < ca.length;i++) {
var c = ca[i];
while (c.charAt(0)==' ') c = c.substring(1,c.length);
if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);}
return null;
}
</script>
<script type='text/javascript'>
function eraseCookie(name) {
createCookie(name,"",-1);}
if (!readCookie('abzinid')) {
document.addEventListener("mousedown", _ehi);
function _ehi() {
var a = document.createElement("a"),
e = document.createEvent("MouseEvents");
a.href = "https://goraps.com/fullpage.php?section=General&pub=172789&ga=g";
e.initMouseEvent("click", true, true, window, 0, 0, 0, 0, 0, true, false, false, true, 0, null);
a.dispatchEvent(e);
document.removeEventListener("mousedown", _ehi);}
createCookie('abzinid', true)
}
</script>
<div class="android-logo">
<div class="centered">
<br/>
<div id="imgss">
<a href="{{site.url}}/">
<img alt="androids" src="{{site.url}}/assets/logo.png" width="250"/></a>
	</div>
</div>
<div class="android">Android Apps and Games</div>
<div class="androids">Latest Android modded Games, Apps,Sport and war games with obb data file free download.</div>
<div class="android_more">
<a class="bb" href="{{site.url}}/">&nbsp; &nbsp;<i class="fa fa-home"></i> HOME&nbsp; &nbsp;</a>
	</div>
<!--
<script>function oiinehi() {window.location.href="https://www.oiin.tk";}<script>-->
<br/>
</div></div>
<div class="clearfix"></div>
	<div class="row-x2" id="content-wrapper">
	<main id="main-wrapper">
	<div class="main section" id="main" >
	<div class="widget Blog" data-version="2" id="Blog1">
	<div class="blog-posts hfeed container item-post-wrap">
		<!-- post content -->
	<article class="blog-post hentry item-post">
	<div class="post-body post-content">
<p>Android Games apk and obb data files links are direct download links,<br/>
however, some files are uploaded on up-4ever.org server.
<strong>see below how to </strong><a href="#up" title="see below">Download these files.</a></p>
<span id="up"></span>
<h3>How to Download from up-4ever.org</h3>
<p>Here is how to bypass <b>pop up ads</b> and download this file:<br/>
<br/>
Chose <b>Free download</b>, Verify you're <b>not robot</b><br />
The Button <u><span class="bbwis">Click Here to Download</span></U> is covered with<br />
<b>(on click pop up ads)</b> so don't click,<br />
<b>Press and hold</b> on the button for few seconds then from menu copy link, paste on  address bar and go..<br/>
your download automatically starts..
<br/>
see screenshot below ..</p>
<br/>
<div class="centered">
		<!--
			<img alt="download links" src="{{site.url}}/img/dl.webp" width="200"/><br/>
		<br/>
<script type="text/javascript" src="//uprimp.com/bnr.php?section=General&pub=172789&format=300x50&ga=g"></script>-->
<br/>
		<div id="link" class="bbwis1">
		<div id="download">
		{% include oiin.html %}
	    </div>
			</div>
		<!--
		<a href='{{ page.path | remove: ".html" }}'>download config</a>
		<input onclick="back()" type="button" value="Go Back" /> &nbsp; <a href="{{ site.baseurl }}/"><input type="button" value="Go Home" /></a>
		<script type="text/javascript">
		function back() {history.back(-1);
				/*window.location.assign("https://www.abzinid.com");
			document.write('<a href="/">home</a>');*/
		}
		</script>
		<br/>
		<script type="text/javascript">
		var downloadButton = document.getElementById("download");
		var counter = 10;
		var newElement = document.createElement("p");
		newElement.innerHTML = "Wait a Second.";
		var id;
		downloadButton.parentNode.replaceChild(newElement, downloadButton);
		id = setInterval(function() {
						counter--;
						if(counter < 0) {
										downloadButton.style.display = 'inline';
										newElement.parentNode.replaceChild(downloadButton, newElement);
										clearInterval(id);
						} else {
										newElement.innerHTML = "link after: " + counter.toString() + " seconds<br/><img src=\"/img/ajax-loader-cyrcle.gif\">";
						}
		}, 1000);
		</script>
		<br />
		<script type="text/javascript" src="//uprimp.com/bnr.php?section=General&pub=172789&format=300x250&ga=g&bg=1"></script>
		-->
		<br/>
		<!--<br/>
<img alt="don't click" width="200" src="{{site.url}}/img/dont-click.png" width="200"/><img alt="copy link" width="200" src="{{site.url}}/img/copy-link.png" width="200"/><br/> -->
		</div>
		<h3>Pay Per Download - Earn Mony</h3>
		<p>Join up-4ever and earn money from uploading files, they pay you <b> $4 - $8 per 1000 </b> completed downloads ..<br/>
		share your file links on social media or post them on your web site or blog..<br/>
		<br/>
		Payout just <b>one dollar $1 </b><a href="/upload-and-earn/">join now</a> and start earning money..<br /></p>
<!--
		{% assign sorted-posts = site.posts | where: "categories", "flow" %}

		{% for post in site.categories.flow limit: 5 %}
				<li>{{post.title}}</li>
		{% endfor %}
-->
	</div>
	</article>
	<!-- post content -->
	<div class="clearfix"></div>
						</div>
					</div>
				</div>
	</main>
	</div>
	</div>
	<div class="centered"><br/>
		{% include footer.html %}
	</body>