---
layout: main
---
<div class='blog-posts container item-post-wrap'>
	<div class='blog-post item-post'>
	<h1 class='post-title'>{{ page.title }}</h1>
	   <div class='post-body post-content'>
	    <div id="oiin" style="text-align: left;">
	{{content}}
	    </div>
	   </div>
	  </div>
	 </div>