---
layout: main
#comments: true
---
<div class='blog-posts container item-post-wrap'>
<div class='blog-post item-post'>
<nav id='breadcrumb'>
<a href='{{ site.url }}/'>Home</a>
<em class='delimiter'></em>{% if page.tags.size >= 1 %}{% for tag in page.tags limit: 1 %}
<a class='b-label' href='{{ site.url }}/tag/{{ tag | slugify }}/'>{{ tag }}</a>{% endfor %}{% endif %}
<em class='delimiter'></em>
<span class='current'>{{ page.title }}</span></nav>
<script type='application/ld+json'>
{"@context":"http://schema.org","@type":"BreadcrumbList","@id":"#Breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"item":{"name":"Home","@id":"{{ site.url }}/"}},{"@type":"ListItem","position":2,"item":{"name":"{% for tag in page.tags limit: 1 %}{{ tag }}{% endfor %}","@id":"{% for tag in page.tags limit: 1 %}{{ site.url }}/tag/{{ tag | slugify }}/{% endfor %}"}},{"@type":"ListItem","position":3,"item":{"name":"{{ page.title }}","@id":"{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"}}]}</script>
<h1 class='post-title'>{{ page.title }}</h1>
<div class='post-meta'>
<span class='post-author'>By: <a href='' title='Author'>oiin apps</a></span>
<span class='post-date published'>{{ page.last_modified_at | date: "%b %-d, %Y" }}</span>
</div>
<div class='post-body post-content'>
<div id='oiin' style="text-align: left;">
{{content}}
</div>
</div>
<script>
function myFunction() {
var dots = document.getElementById("dots");
var moreText = document.getElementById("more");
var btnText = document.getElementById("myBtn");
if (dots.style.display === "none") {
dots.style.display = "inline";
btnText.innerHTML = "Show Full Description ";
moreText.style.display = "none";
} else {	dots.style.display = "none";
btnText.innerHTML = "Show less";
moreText.style.display = "inline";
	}}
</script>{% comment %}
<!--<script type='text/javascript'>
var bbc = document.getElementsByClassName("bbc");
var dtimer = document.getElementsByClassName("dtimer");
setTimeout(function()
{
for (var i=0; i<bbc.length; i++) {
bbc[i].style = "pointer-events:auto; opacity: 1";/*['pointer-events'] = "auto";*/
}
dtimer[0].style.animation = ["blinker 0s linear infinite"];
},11000);
</script>
<script type='text/javascript'>
var downloadButton = document.getElementById("dtimer");
var counter = 10;
downloadButton.innerHTML = "please wait a second.";
var id;
id = setInterval(function() {
counter--;
if(counter < 0) {
downloadButton.innerHTML = "<span class='rtimer'>... Ready ...<\span>";
clearInterval(id);
} else {
downloadButton.innerHTML = "links active in " + counter.toString() + "s.";
}}, 1000);
</script>-->
{% endcomment %}
<div class='post-footer'>
<div class='post-labels'><span>Tags:</span>
<div class='label-head Label'>{% if page.tags.size >= 1 %}{% for tag in page.tags limit: 4 %}
<a class='label-link' href='{{ site.url }}/tag/{{ tag | slugify }}/' rel='tag'>{{ tag }}</a>{% endfor %}{% endif %}</div>
</div>
{% include share.html %}
{% comment %}
<!-- if page.comments 
<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_config = function () {
this.page.url = '{{ site.url }}'.concat('{{page.url}}');};
var disqus_shortname = 'abzinid';
(function() {var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.defer = true;dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);})();
</script>
<noscript>Please enable JavaScript to view comments</noscript>
 endif -->
{% endcomment %}
<div id='related-wrap'>
<div class='title-wrap'><h3>You may like these posts</h3></div>
<div class='related-ready'>
<ul class='related-posts'>{% assign maxRelated = 3 %} {% assign minCommonTags =  1 %}{% assign maxRelatedCounter = 0 %}{% for post in site.posts %}{% assign sameTagCount = 0 %}{% assign commonTags = '' %}{% for tag in post.tags %}{% if post.url != page.url %}{% if page.tags contains tag %}{% assign sameTagCount = sameTagCount | plus: 1 %}{% capture tagmarkup %}
<div class='related-tag' data-label='{{ tag }}'></div>{% endcapture %}{% assign commonTags = commonTags | append: tagmarkup %}{% endif %}{% endif %}{% endfor %}{% if sameTagCount >= minCommonTags %}
<li class='related-item item-0'>
<div class='post-image-wrap'>
<a class='post-image-link' href='{{ post.url | absolute_url }}'><img class='post-thumb lazy' src="/icons/load.svg" data-sizes='auto' data-src="{{ post.image | absolute_url }}" alt="{{ post.title }}"/></a></div>
<h2 class='post-title'>
<a href='{{ post.url | absolute_url }}'>{{ post.title }}</a> </h2></li>{% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}{% if maxRelatedCounter >= maxRelated %}{% break %}{% endif %}{% endif %}{% endfor %}</ul>
</div>
</div>
</div>
</div>
</div>

